$ash: #797979;
$green: #57BD66;
$yellow: #f17b16;
$blue: #1167A2;

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.email-body {
  width: 740px;
  display: table;

  .e-logo {
    width: 100%;
    display: table;
    text-align: center;
    padding: 15px 0;

    img {
      width: 150px;
    }
  }

  .e-back {
    width: 100%;
    display: block;
    background-color: #DAE6ED;
    height: 160px;

    .mail-emg {
      margin: 20px 0 0 0;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 160px;

      .l-text {
        padding: 50px 100px;
        color: #ffffff;
        text-align: right;

        .text-bold {
          font-weight: 700;
        }
      }
    }
  }

  .e-container {
    width: 700px;
    margin: auto;
    display: table;
  }

  .to-box {
    padding: 20px 0 10px 0;

    .name {
      font-weight: 700;
      color: #1167A2;
      padding: 10px 0 5px 0;
    }

    .font-blue {
      color: #1167A2;
    }

    .des {
      color: #797979;
      margin-bottom: 20px;
    }
  }

  .left-sec {
    width: 25%;
    float: left;
    padding: 0 5px 0 5px;

    .school-detail {
      width: 100%;
      display: table;
      border: 1px solid #dbdbdb;
      background-color: #fcfcfc;
      padding: 4px;
      position: relative;
      z-index: 1;
      text-align: center;

      .s-logo {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        text-align: center;
        display: inline-block;
        background-color: #f17b16;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .s-name {
        padding-top: 10px;
        color:  #1167A2;
        font-weight: 700;
        text-align: center;
        padding-bottom: 5px;
      }

      .s-location {
        display: flex;
        justify-content: center;
        padding-bottom: 8px;

        .s-l-logo {
          width: 18px;
          margin-right: 3px;
        }

        .s-l-name {
          color: #797979;
        }
      }

      .s-option {
        padding: 0;
        list-style: none;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;

        .s-e-option {
          a {
            text-decoration: none;
            color: #797979;
            font-size: 13px;

            &.active {
              color: #57BD66;
            }
          }
        }
      }

      .s-info {
        width: 100%;
        display: flex;
        padding: 5px 0 10px 0;
        align-items: center;
        font-size: 14px;

        .i-logo {
          color: #797979;
          margin-right: 7px;
        }

        .mrc-5 {
          margin-right: 5px;
        }

        .text-ash {
          color: #797979;
          font-weight: 700;
        }
      }
    }
  }

  .right-sec {
    width: 72%;
    float: left;
    padding: 0 5px 0 5px;
    .people-connect-box {
      width: 100%;
      padding: 5px;
      border: 1px solid #1167A2;
      margin-bottom: 30px;
      text-align: center;
      .h-text {
        padding: 5px 0 0 0;
        font-weight: 700;
        color: #1167A2;
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        font-family: Montserrat, sans-serif;
      }

      .pro-box {
        width: 95px;
        display: inline-block;
        padding: 2px;
        margin: 0 10px;
        text-align: center;
        margin-bottom: 50px;

        .pro-pic {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 5px;
        }

        .name {
          padding: 8px 0;
          color: #797979;
        }
      }
    }
    .sch-text{
      text-align: center;
      color: #f17b16;
      font-weight: 700;
      font-family: Montserrat,sans-serif;
      margin-bottom: 20px;
    }
    .sch-abt-box{
      width: 100%;
      padding: 5px;
      border: 1px solid #f17b16;
      margin-bottom: 30px;
    }
    .h-text{
      color: #f17b16;
      font-weight: bold;
      padding: 10px 0;
    }
    .divider{
      width: 100%;
      height: 1px;
      display: table;
      background-color: #f17b16;
    }
    .detail-text{
      color: #797979;
      padding: 10px 0;
    }
  }

  .footer-box{
    width: 100%;
    background-color: #FAFAFA;
    padding: 10px;
    text-align: center;
    .text-1{
      color: #797979;
      padding: 10px 0;
      font-weight: 500;
    }
  }
}

/*btn*/
.btn {
  background-color: $blue;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .365rem .55rem;
  font-size: .9rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled, .btn:disabled {
  opacity: .65
}

a.btn.disabled, fieldset:disabled a.btn {
  pointer-events: none
}

/*btn*/
.b-r-0{
  border-radius: 0;
}
.btn-connect{
  background-color: $blue;
  color: #ffffff;
  text-decoration: none;
  &:hover{
    color: #ffffff!important;
  }
}
