* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Ubuntu, sans-serif
}

.btn-login {
  border: 1px solid #525252;
  color: #f17b16;
  margin: 0 0 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: .4s;
  font-size: 17px;
  font-family: Lato, sans-serif;
  font-weight: 700
}

@media only screen and (max-width: 360px) {
  .btn-login {
    font-size: 14px
  }
}

.btn-login:hover {
  border: 1px solid #f17b16;
  background: #f17b16;
  color: #fff;
  transition: .4s
}

.btn-started {
  border: 1px solid #1167a2;
  color: #fff;
  padding: 5px 15px !important;
  background: #1167a2;
  margin: 0 0 0 10px;
  font-size: 19px;
  line-height: 43px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center
}

@media only screen and (max-width: 481px) {
  .btn-started {
    font-size: 17px;
    line-height: 41px
  }
}

.btn-started:hover {
  color: #fff;
  background: #0e5380
}

.btn-started-head {
  border: 1px solid #1167a2;
  color: #fff;
  padding: 5px 30px !important;
  background: #1167a2;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: 400
}

@media only screen and (max-width: 481px) {
  .btn-started-head {
    padding: 5px !important;
    margin: 0;
    font-size: 17px;
    line-height: 25px
  }
}

@media only screen and (max-width: 360px) {
  .btn-started-head {
    font-size: 17px;
    line-height: 21.5px
  }
}

.btn-started-head:hover {
  color: #fff;
  background: #0e5380
}

.btn-started2 {
  border: 1px solid #1167a2;
  color: #fff;
  padding: 15px 40px !important;
  background: #1167a2;
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: 400
}

.btn-started2:hover {
  color: #fff;
  background: #0e5380
}

.font-ash {
  color: #525252
}

.font-yellow {
  color: #f17b16 !important
}

.font-white {
  color: #fff
}

.divider {
  width: 100%;
  height: 1.3px;
  background: #ddd;
  display: block
}

@media only screen and (max-width: 767px) {
  .divider-feature {
    width: 100%;
    height: 1.3px;
    background: #ddd;
    display: block
  }
}

.nav-padding {
  padding: .5rem 0 !important
}

.bg-yellow {
  background: #f17b16
}

.bg-ash {
  background: #cdcdcd
}

.display-inline {
  display: inline-block
}

.owl-loaded {
  display: flex !important
}

.owl-carousel {
  z-index: 0
}

@media only screen and (max-width: 450px) {
  .mr-3 {
    margin-right: -.5rem !important
  }
}

@media only screen and (max-width: 360px) {
  .responsive-container {
    padding-right: 0;
    padding-left: 0
  }
}

.mobile-hide {
  display: table
}

@media only screen and (max-width: 767px) {
  .mobile-hide {
    display: none
  }
}

.mobile-show {
  display: none
}

@media only screen and (max-width: 767px) {
  .mobile-show {
    display: block
  }
}

.display-hide {
  display: none !important
}

.display-block {
  display: table !important
}

.c-pointer {
  cursor: pointer
}

.mt-10 {
  margin-top: 11px
}

@media only screen and (max-width: 480px) {
  .ml-mobile {
    margin-left: 5px
  }
}

.header {
  padding: 20px 10px;
  width: 100%;
  display: table
}

.header .dropdown-toggle:after {
  cursor: pointer;
  vertical-align: .1em
}

@media only screen and (max-width: 350px) {
  .header .custom-col-4 {
    padding-right: 0;
    padding-left: 8px;
    max-width: 36.333333%
  }
}

@media only screen and (max-width: 350px) {
  .header .custom-col-8 {
    padding-right: 8px;
    padding-left: 5px;
    max-width: 64.666667%
  }
}

.header .lang-text {
  font-size: 14px;
  color: #525252;
  font-family: Lato, sans-serif;
  font-weight: 400
}

.header .globe {
  width: 20px;
  margin: 0 0 0 8px
}

.header .login-info {
  width: 100%;
  text-align: right
}

.navigation-bar {
  width: 100%;
  display: block;
  font-family: Lato, sans-serif;
  font-weight: 400
}

.navigation-bar .logo {
  width: 200px
}

.navigation-bar .nav-item-margin {
  margin: 0 0 0 45px
}

@media only screen and (max-width: 767px) {
  .navigation-bar .nav-item-margin {
    margin: 0
  }
}

.navigation-bar .list-logo {
  font-size: 16px;
  margin-right: 5px
}

.navigation-bar .custom-navbar-nav .nav-item a:hover {
  color: #f17b16;
  transition: .4s
}

.navigation-bar .custom-navbar-nav .nav-item a:focus {
  color: #525252
}

.navigation-bar .custom-navbar-nav .active a {
  color: #f17b16 !important
}

.slider {
  width: 100%;
  display: flex
}

.slider .slide-item {
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

@media only screen and (max-width: 767px) {
  .slider .slide-item {
    height: 500px
  }
}

.slider .slide-item .slide-text {
  width: 50%;
  padding: 175px 0 0 0
}

@media only screen and (max-width: 767px) {
  .slider .slide-item .slide-text {
    width: 80%
  }
}

@media only screen and (max-width: 375px) {
  .slider .slide-item .slide-text {
    padding: 85px 0 0 0
  }
}

.slider .slide-item .slide-text .text-1 {
  font-size: 40px;
  line-height: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #1167a2
}

@media only screen and (max-width: 767px) {
  .slider .slide-item .slide-text .text-1 {
    font-size: 25px;
    line-height: 35px
  }
}

.slider .slide-item .slide-text .text-2 {
  font-size: 18px;
  line-height: 26px;
  color: #282828;
  font-family: Montserrat, sans-serif;
  font-weight: 400
}

.feature {
  width: 100%;
  padding: 15px 0;
  background: #f17b16;
  color: #fff
}

.feature .letter-spc-1 {
  letter-spacing: 1px
}

.feature .set-middle {
  width: 100%;
  display: flex;
  justify-content: center
}

@media only screen and (max-width: 767px) {
  .feature .set-middle {
    padding: 20px 0;
    display: table
  }
}

.feature .f-logo {
  width: 45px;
  margin-right: 25px;
  float: left
}

.feature .f-text {
  float: left;
  width: 130px
}

.works {
  width: 100%;
  padding: 100px 0 50px 0
}

@media only screen and (max-width: 767px) {
  .works {
    padding: 80px 0 50px 0
  }
}

@media only screen and (max-width: 480px) {
  .works {
    padding: 60px 0 50px 0
  }
}

.works .w-text {
  color: #1167a2;
  text-align: center;
  font-size: 33px;
  line-height: 43px;
  font-family: Montserrat, sans-serif
}

@media only screen and (max-width: 567px) {
  .works .w-text {
    font-size: 30px
  }
}

.works .work-area {
  width: 100%;
  display: table;
  text-align: center;
  padding-top: 80px
}

@media only screen and (max-width: 480px) {
  .works .work-area {
    padding-top: 40px
  }
}

.works .work-area .work-item {
  width: 100%;
  display: inline-block;
  cursor: pointer
}

@media only screen and (max-width: 767px) {
  .works .work-area .work-item {
    font-size: 30px
  }
}

.works .work-area .work-item.active .work-logo {
  border-color: #f17b16 !important
}

.works .work-area .work-item.active .w-l-text {
  color: #f17b16 !important
}

.works .work-area .work-item.active .work-logo-img {
  filter: grayscale(0) !important
}

.works .work-area .work-item:hover .work-logo {
  border-color: #f17b16;
  transition: .4s
}

.works .work-area .work-item:hover .work-logo-img {
  filter: grayscale(0) !important;
  transition: .4s
}

.works .work-area .work-item:hover .w-l-text {
  color: #f17b16;
  transition: .4s
}

.works .work-area .work-item .work-logo {
  width: 115px;
  height: 115px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #9aafbc
}

@media only screen and (max-width: 767px) {
  .works .work-area .work-item .work-logo {
    width: 80px;
    height: 80px
  }
}

@media only screen and (max-width: 480px) {
  .works .work-area .work-item .work-logo {
    width: 70px;
    height: 70px
  }
}

.works .work-area .work-item .work-logo .work-logo-img {
  width: 60px;
  filter: grayscale(1);
  transition: .4s
}

@media only screen and (max-width: 767px) {
  .works .work-area .work-item .work-logo .work-logo-img {
    width: 40px
  }
}

@media only screen and (max-width: 480px) {
  .works .work-area .work-item .work-logo .work-logo-img {
    width: 30px
  }
}

.works .work-area .work-item .w-l-text {
  padding: 5px 0;
  font-size: 21px;
  line-height: 43px;
  font-family: Montserrat, sans-serif;
  color: #9aafbc;
  font-weight: 400
}

@media only screen and (max-width: 767px) {
  .works .work-area .work-item .w-l-text {
    font-size: 18px
  }
}

@media only screen and (max-width: 480px) {
  .works .work-area .work-item .w-l-text {
    font-size: 13px
  }
}

@media only screen and (max-width: 360px) {
  .works .work-area .work-item .w-l-text {
    font-size: 12px
  }
}

@media only screen and (max-width: 330px) {
  .works .work-area .work-item .w-l-text {
    font-size: 10px
  }
}

.about-feature {
  width: 100%;
  display: table;
  padding: 20px 0 50px 0
}

.about-feature .long-bar {
  position: absolute;
  left: 51px;
  top: 33px;
  width: 5px;
  height: 458px;
  z-index: -1
}

@media only screen and (max-width: 767px) {
  .about-feature .long-bar {
    height: 480px
  }
}

@media only screen and (max-width: 360px) {
  .about-feature .long-bar {
    height: 505px
  }
}

.about-feature .about-img {
  width: 173%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

@media only screen and (max-width: 1366px) {
  .about-feature .about-img {
    width: 122%
  }
}

@media only screen and (max-width: 1200px) {
  .about-feature .about-img {
    width: 107%
  }
}

@media only screen and (max-width: 992px) {
  .about-feature .about-img {
    width: 105%
  }
}

@media only screen and (max-width: 767px) {
  .about-feature .about-img {
    width: 100%
  }
}

.about-feature .about-term {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
  color: #676767;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin-bottom: 25px
}

.about-feature .text-area {
  width: 100%;
  display: table;
  padding: 0 0 0 15px
}

@media only screen and (max-width: 767px) {
  .about-feature .text-area.t-center {
    text-align: center
  }
}

.about-feature .text-area.privacy {
  padding: 0
}

@media only screen and (max-width: 767px) {
  .about-feature .text-area.privacy {
    text-align: center
  }
}

@media only screen and (max-width: 767px) {
  .about-feature .text-area {
    width: 100%;
    padding-bottom: 15px
  }
}

.about-feature .text-area .btn-margin {
  margin: 60px 0 0 83px
}

.about-feature .text-area .text-no {
  float: left;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 18px;
  line-height: 45px;
  margin: 0 40px 0 0
}

.about-feature .text-area .text-no.privacy {
  width: 35px;
  height: 35px;
  line-height: 32px
}

@media only screen and (max-width: 767px) {
  .about-feature .text-area .text-no.privacy {
    float: none;
    margin-bottom: 5px;
    display: inline-block;
    margin: 0
  }
}

.about-feature .text-area .text-no-term {
  float: left;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 18px;
  line-height: 45px;
  margin: 0 40px 0 0
}

@media only screen and (max-width: 767px) {
  .about-feature .text-area .text-no-term {
    float: none;
    display: inline-block;
    margin: 0
  }
}

.about-feature .text-area .text-detail {
  display: table;
  color: #525252
}

.about-feature .text-area .text-detail .text-1 {
  padding: 0 0 15px 0;
  max-height: 58px;
  overflow: hidden;
  min-height: 40px;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 27px;
  color: #676767;
  font-family: Montserrat, sans-serif
}

.about-feature .text-area .text-detail .text-1.term {
  line-height: 45px
}

@media only screen and (max-width: 480px) {
  .about-feature .text-area .text-detail .text-1 {
    font-size: 15px
  }
}

@media only screen and (max-width: 360px) {
  .about-feature .text-area .text-detail .text-1 {
    font-size: 12px
  }
}

.about-feature .text-area .text-detail .text-2 {
  max-height: 170px;
  overflow: hidden;
  min-height: 170px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
  color: #676767;
  font-family: Montserrat, sans-serif;
  font-weight: 400
}

@media only screen and (max-width: 480px) {
  .about-feature .text-area .text-detail .text-2 {
    font-size: 13px
  }
}

@media only screen and (max-width: 360px) {
  .about-feature .text-area .text-detail .text-2 {
    font-size: 11px
  }
}

.about-feature .text-area .text-detail .text-2-term {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
  color: #676767;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin-bottom: 18px;
  text-align: left
}

.about-feature .text-area .text-detail .text-2-privacy {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
  color: #676767;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin-bottom: 18px;
  text-align: left
}

.subscribe {
  padding: 100px 5px;
  width: 100%;
  display: table
}

.subscribe .s-text {
  color: #1167a2;
  text-align: center;
  font-size: 27px;
  line-height: 27px;
  font-family: Montserrat, sans-serif;
  font-weight: 400
}

.subscribe .s-text-2 {
  font-size: 20px;
  line-height: 27px;
  color: #676767;
  font-family: Montserrat, sans-serif;
  font-weight: 400
}

.subscribe .input-group {
  width: 100%;
  max-width: 650px
}

.subscribe .input-group .custom-input {
  border: 2px solid #fff;
  background: #f2f2f2;
  padding: 10px 0 10px 20px;
  width: 100%;
  max-width: 650px;
  margin: 15px 0 0 0;
  border-radius: 30px;
  color: #525252;
  transition: .4s
}

.subscribe .input-group .custom-input:focus {
  border: 2px solid #1167a2;
  transition: .4s
}

.subscribe .input-group .input-group-text {
  position: absolute;
  right: 0;
  top: 17px;
  background: #1167a2;
  color: #fff;
  border-radius: 0 31px 31px 0;
  padding: 8px 10px;
  border: 2px solid #1167a2;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 16px
}

.footer-nav {
  width: 100%;
  padding: 30px 0;
  display: table
}

@media only screen and (max-width: 640px) {
  .footer-nav {
    padding: 35px 0
  }
}

@media only screen and (max-width: 576px) {
  .footer-nav .horizontal-line {
    border-bottom: 1px dotted #525252;
    width: 100%
  }
}

.footer-nav .head-text {
  font-size: 17px;
  line-height: 55px;
  color: #646464;
  font-family: Lato, sans-serif;
  font-weight: 600
}

@media only screen and (max-width: 480px) {
  .footer-nav .head-text {
    font-size: 20px
  }
}

.footer-nav ul li {
  margin: 10px 0
}

.footer-nav ul li a {
  font-size: 13px;
  line-height: 36px;
  color: #838383;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: .4s
}

@media only screen and (max-width: 480px) {
  .footer-nav ul li a {
    font-size: 14px
  }
}

.footer-nav ul li a:hover {
  color: #f17b16;
  transition: .4s
}

.footer-nav .social {
  text-decoration: none;
  color: #838383;
  font-size: 25px;
  margin: 0 35px 0 0;
  transition: .4s
}

.footer-nav .social:hover {
  color: #f17b16;
  transition: .4s
}

@media only screen and (max-width: 480px) {
  .footer-nav .social {
    margin: 0 5px;
    font-size: 20px
  }
}

.footer {
  width: 100%;
  display: table;
  padding: 10px 0
}

.footer .footer-logo {
  text-align: left
}

@media only screen and (max-width: 767px) {
  .footer .footer-logo {
    text-align: center;
    padding-bottom: 10px
  }
}

.footer .footer-text {
  text-align: right
}

@media only screen and (max-width: 767px) {
  .footer .footer-text {
    text-align: center
  }
}

.footer a {
  text-decoration: none;
  color: #525252
}

.footer a:hover {
  color: #f17b16
}

.overlay {
  height: 93px;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 163px;
  left: 0;
  background-color: rgba(255, 255, 255, .4)
}

.overlay .overlay-content {
  position: relative;
  top: 20%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto
}

.overlay .closebtn {
  position: absolute;
  top: -20px;
  right: 18px;
  font-size: 60px;
  cursor: pointer;
  color: #525252
}

@media only screen and (max-width: 480px) {
  .overlay .closebtn {
    top: -15px;
    font-size: 40px
  }
}

.overlay .closebtn:hover {
  color: #5e5e5e
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #fff;
  border-radius: 35px 0 0 35px;
  transition: .4s
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
  transition: .4s
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #f17b16;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: .4s;
  border-radius: 0 31px 31px 0
}

.overlay button:hover {
  background: #df7022;
  transition: .4s
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}
