$ash: #797979;
$green: #57BD66;
$yellow: #f17b16;
$blue: #1167A2;

*{
  font-family: Lato, sans-serif;
}

/*nav*/
.nav-padding{
  padding: 0.8rem 0!important;
}

.navigation-bar {
  width: 100%;
  display: block;
  font-family: Lato, sans-serif;
  font-weight: 400
}

.navigation-bar .logo {
  width: 200px
}

.navigation-bar .nav-item-margin {
  margin: 0 0 0 40px
}

@media only screen and (max-width: 767px) {
  .navigation-bar .nav-item-margin {
    margin: 0
  }
}

.navigation-bar .list-logo {
  font-size: 16px;
  margin-right: 5px
}

.navigation-bar .custom-navbar-nav .nav-item a:hover {
  color: #f17b16;
  transition: .4s
}

.navigation-bar .custom-navbar-nav .nav-item a:focus {
  color: #525252
}

.navigation-bar .custom-navbar-nav .active a {
  color: #f17b16 !important
}

/*nav*/

/*hero*/
.hero-img{
  width: 100%;
  display: table;
  margin-bottom: 10px;
  img{
    width: 100%;
    @media only screen and (max-width: 768px){
      height: 145px;
    }
  }
}
/*hero end*/
/*inner content*/
.inner-content{
  width: 100%;
  display: table;
  .school-detail{
    width: 100%;
    display: table;
    border: 1px solid #dbdbdb;
    background-color: #fcfcfc;
    padding: 12px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    .s-logo{
      position: absolute;
      top: -61px;
      left: calc(50% - 50px);
      z-index: 2;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid #ffffff;
      text-align: center;
      display: table;
      background-color: $yellow;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .s-name{
      padding-top: 30px;
      color: $blue;
      font-weight: 700;
      text-align: center;
      padding-bottom: 10px;
    }
    .s-location{
      display: flex;
      justify-content: center;
      padding-bottom: 12px;
      .s-l-logo{
        width: 24px;
        margin-right: 5px;
      }
      .s-l-name{
        color: $ash;
      }
    }
    .s-option{
      padding: 0;
      list-style: none;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 15px;
      .s-e-option{
        a{
          text-decoration: none;
          color: $ash;
          font-size: 15px;
          &.active{
            color: $green;
          }
        }
      }
    }
    .s-info{
      width: 100%;
      display: flex;
      padding: 5px 0 10px 0;
      align-items: center;
      font-size: 15px;
      .i-logo{
        color: $ash;
        margin-right: 10px;
      }
      .mrc-5{
        margin-right: 5px;
      }
      .text-ash{
        color: $ash;
        font-weight: 700;
      }
    }
  }
  .gallery-box{
    width: 100%;
    padding: 20px;
    border: 1px solid #dbdbdb;
    text-align: center;
    margin-bottom: 20px;
    @media only screen and (max-width: 768px){
      padding: 10px;
    }
    .each-img{
      width: 195px;
      display: inline-block;
      margin: 0 10px 0 10px;
      margin-bottom: 20px;
      @media only screen and (max-width: 480px){
        width: 180px;
      }
      @media only screen and (max-width: 415px){
        width: 158px;
      }
      @media only screen and (max-width: 370px){
        width: 240px;
      }
      img{
        width: 100%;
      }
    }
  }
  .tab-box{
    width: 100%;
    padding: 20px;
    border: 1px solid $yellow;
    margin-bottom: 20px;
    .nav-tabs{
      border-color: $yellow;
      .nav-item{
        a{
          color: $ash;
          &.active{
            background: $yellow!important;
            color: #ffffff;
            border-color: $yellow $yellow $yellow;
          }
          &:hover{
            border-color: $yellow $yellow $yellow;
          }
        }
      }
    }
    .tab-content{
      padding-top: 15px;
      .tab-pane{
        padding: 0 20px;
      }
      .h-text{
        color: $yellow;
        font-weight: 700;
        padding: 5px 0;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
      }
      .a-text{
        color: $blue;
        text-decoration: none;
        padding: 5px 0;
        margin-bottom: 10px;
        text-align: left;
        font-size: 15px;
      }
    }
  }
  .feature-box{
    width: 100%;
    padding: 20px;
    border: 1px solid $blue;
    margin-bottom: 20px;
    text-align: center;
    @media only screen and (max-width: 768px){
      padding: 10px;
    }
    .f-text{
      padding: 5px 0;
      font-weight: 700;
      color: $blue;
      margin-bottom: 15px;
      font-size: 20px;
      text-align: left;
      font-family: Montserrat,sans-serif;
    }
    .f-box{
      width: 150px;
      border: 1px solid $green;
      padding: 3px;
      display: inline-block;
      margin-right: 15px;
      margin-left: 5px;
      text-align: center;
      margin-bottom: 20px;
      .inner-box{
        width: 100%;
        background: #ffffff;
        padding: 0 5px;
        transition: .3s;
        .in-logo{
          font-size: 50px;
          line-height: 15px;
          color: $green;
        }
        .sub-text{
          font-size: 14px;
          color: $green;
          padding-bottom: 2px;
        }
        &:hover{
          background: $green;
          transition: .3s;
          .in-logo{
            color: #ffffff;
            transition: .3s;
          }
          .sub-text{
            color: #ffffff;
            transition: .3s;
          }
        }
      }
    }
  }
  .map-box{
    width: 100%;
    padding: 20px;
    border: 1px solid $blue;
    margin-bottom: 20px;
    .f-text{
      padding: 5px 0 0 0;
      font-weight: 700;
      color: $blue;
      font-size: 20px;
      text-align: left;
      font-family: Montserrat,sans-serif;
    }
    .sub-text{
      color: $ash;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .go-map{
      width: 100%;
      #geo-map{
        width: 100%;
        height: 260px;
      }
    }
  }
  .bar-box{
    width: 100%;
    padding: 20px;
    border: 1px solid $blue;
    margin-bottom: 20px;
    .f-text{
      padding: 5px 0 0 0;
      font-weight: 700;
      color: $blue;
      font-size: 20px;
      text-align: left;
      font-family: Montserrat,sans-serif;
    }
    .sub-text{
      color: $ash;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .logo{
      width: 100%;
      text-align: center;
      img{
        width: 100%;
      }
    }
  }
  .cost-box{
    width: 100%;
    padding: 20px 20px 13px 20px;
    border: 1px solid $blue;
    margin-bottom: 20px;
    .f-text{
      padding: 5px 0 0 0;
      font-weight: 700;
      color: $blue;
      font-size: 20px;
      text-align: left;
      margin-bottom: 20px;
      font-family: Montserrat,sans-serif;
    }
    .table{
      margin-bottom: 2.9rem;
      thead{
        th {
          vertical-align: bottom;
          border-bottom: 1px solid $blue;
          border-top: none;
          color: $ash;
          padding: .4rem 0;
        }
      }
      tbody{
        td{
          border-bottom: 1px solid $ash;
          padding: .7rem 0 .7rem 0;
          color: $ash;
        }
      }
      tfoot{
        td{
          border-top: 1px solid $blue;
          padding: .7rem 0 .7rem 0;
          color: $ash;
          border-bottom: 1px solid $blue;
        }
      }
    }
  }
  .perfect-program{
    width: 100%;
    padding: 10px 0;
    display: table;
    .h-text{
      text-align: center;
      color: $blue;
      font-size: 38px;
      font-weight: 600;
      padding: 10px 0;
      margin-bottom: 20px;
      font-family: Montserrat,sans-serif;
      @media only screen and (max-width: 480px){
        font-size: 20px;
      }
    }
    .filter-box{
      width: 100%;
      padding: 20px;
      border: 1px solid $blue;
      margin-bottom: 20px;
      .sort-item{
        padding: 5px 0;
        margin-bottom: 20px;
        @media only screen and (max-width: 768px){
          margin-bottom: 0;
        }
        a{
          text-decoration: none;
          color: $blue;
        }
      }
    }
  }
  .connect-box{
    width: 100%;
    padding: 20px;
    border: 1px solid $yellow;
    margin-bottom: 20px;
    .each-box{
      width: 100%;
      display: table;
      background-color: #FAFAFA;
      padding: 30px;
      margin-bottom: 10px;
      .y-text{
        color: $yellow;
        font-weight: 700;
        font-size: 18px;
        font-family: Montserrat,sans-serif;
        @media only screen and (max-width: 768px){
         text-align: center;
        }
      }
      .tuition-fee-box{
        width: 100%;
        display: table;
        padding: 10px 0;
        font-weight: bold;
        color: $ash;
        padding-left: 12px;
      }
      .tuition-fee-text{
        width: 100%;
        padding: 10px 0;
        font-weight: bold;
        color: $ash;
      }
      .feature-text{
        width: 100%;
        font-weight: bold;
        color: $ash;
      }
      .btn-box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
      }
      .process-box{
        width: 100%;
        display: table;
        text-align: center;
        padding-top: 5px;
        .cal-img{
          width: 50px;
          display: table;
          margin: auto;
        }
        .text-box{
          display: inline-block;
          padding: 2px;
          width: 50px;
        }
        .sub-text{
          margin: auto;
          display: table;
          width: 50px;
          font-size: 11px;
        }
      }
    }
  }
  .people-connect-box{
    width: 100%;
    padding: 20px 50px;
    border: 1px solid $blue;
    margin-bottom: 20px;
    text-align: center;
    .h-text{
      padding: 5px 0 0 0;
      font-weight: 700;
      color: $blue;
      font-size: 23px;
      text-align: center;
      margin-bottom: 30px;
      font-family: Montserrat,sans-serif;
      @media only screen and (max-width: 768px){
        font-size: 18px;
      }
    }
    .pro-box{
      width: 130px;
      display: inline-block;
      padding: 2px;
      margin: 0 10px;
      text-align: center;
      margin-bottom: 50px;
      @media only screen and (max-width: 435px){
        width: 200px;
      }
      .pro-pic{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 5px;
        @media only screen and (max-width: 435px){
          width: 200px;
          height: 200px;
        }
      }
      .name{
        padding: 8px 0;
        color: $ash;
        @media only screen and (max-width: 435px){
          font-size: 18px;
        }
      }
    }
  }
}
/*inner content end*/
/*helper*/
.c-cont{
  height: 50px;
  border-radius: 0;
  outline: 0!important;
}
.divider {
  width: 100%;
  height: 1.3px;
  background: #ddd;
  display: block;
  margin-bottom: 15px
}
.col-p-0{
  padding-right: 0;
  padding-left: 0;
  @media only screen and (max-width: 992px){
    padding-right: 15px;
    padding-left: 15px;
  }
}
.mar-20{
  @media only screen and (max-width: 768px){
    margin-bottom: 20px;
  }
}
.font-15{
  font-size: 14px;
}
.font-ash{
  color: $ash;
}
.margin-20{
  width: 100%;
  display: table;
  height: 20px;
}
.line-hight-15{
  line-height: 15px;
}
.b-r-0{
  border-radius: 0;
}
.text-right-c{
  text-align: right;
  @media only screen and (max-width: 768px){
    text-align: center;
  }
}
.mar-top-20{
  @media only screen and (max-width: 768px){
    margin-top: 20px;
  }
}
.pad-top-0{
  @media only screen and (max-width: 400px){
    padding-top: 0!important;
  }
}
.mobile-hide{
  display: flex;
  @media only screen and (max-width: 770px){
   display: none;
  }
}
.mobile-show{
  display: none;
  @media only screen and (max-width: 770px){
   display: block;
  }
}
.dropdown{
  img{
    width: 30px;
    margin-bottom: -15px;
  }
}
.dropdown-item{
  padding: .25rem 0.7rem;
}
.left{
  left: -21px!important;
}
.absolute-input{
  width: 100%;
  max-width: 400px;
  box-shadow: none;
  margin-bottom: 15px;
  outline: 0!important;
}
/*helper end*/
/*btn*/
.btn-connect{
  background-color: $blue;
  color: #ffffff;
  &:hover{
    color: #ffffff!important;
  }
}
.search-btn{
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 50;
  cursor: pointer;
}
.btn-map{
  background-color: $blue!important;
  border: 1px solid $blue!important;
  color: #ffffff;
}
/*btn*/
/*chat box*/
.chat-box{
  width: 300px;
  height: 350px;
  border: 5px solid #f2f2f2;
  position: fixed;

}
/*chat box end*/
