// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
// Variables
@import 'variables';

// bootstrap theming

$theme-colors: (
        "primary": $company_secondary_color,
        "warning": $company_primary_color,
);
$enable-rounded: false;

//font awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'mm-vertical.scss';

@import '~select2/dist/css/select2.css';

@import "../css/main.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// bootstrap override
//
.w_primary_color {
  color: $company_primary_color;
}

// .card {
//   box-shadow: 0 1px 6px rgba($company_secondary_color, 0.4);
// }

// h1, h2, h3, h4, h5, h6 {
//   // color: $company_primary_color;
// }

// vue transition

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s;
}

.scale-enter,
.scale-leave-active {
  opacity: 0;
  transform: scale(0.3) translateY(24px);
}

.select2-selection--multiple{
  border: none!important;
  border-bottom: 2px solid #e8ebed!important;
  &:focus{
    border: none!important;
    border-bottom: 2px solid #e8ebed!important;
  }
}
.asd{
  background-repeat: no-repeat;
}
/*chat-box*/
.chat-box{
  width:100%;
  max-width: 350px;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 9px 1px #b1b1b1;
  position: fixed;
  bottom: 0;
  right: 5px;
  overflow: hidden;
  z-index: 999;
  .chat-header{
    width: 100%;
    display: table;
    background-color: #f17b16;
    padding: 10px;
    position: relative;
    .logo-box{
      width: 43px;
      height: 43px;
      background-repeat: no-repeat;
      background-size: 88%;
      border-radius: 50%;
      background-position: center;
      margin-right: 20px;
      float: left;
      background-color: #ffffff;
    }
    .bot-name{
      color: #fff;
      font-size: 26px;
      font-weight: bold;
    }
    .font-19{
      font-size: 19px
    }
    .small-text{
      color: #fff;
      font-weight: bold;
      padding: 0 8px;
    }
    .cross-btn{
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  .msgBox{
    width: 100%;
    display: block;
    height: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: overlay;
    .bot-text{
      width: 85%;
      margin: 5px 0;
      display: table;
      .btn-wrapper{
        display: table;
        text-align: center;
        margin: 9px 0 2px 8px;
        .btn-q{
          font-size: 12px;
          color: #1d643b;
          padding: 5px 20px;
          background-color: #fff;
          border: 1px solid #1d643b;
          border-radius: 15px;
          display: inline-block;
          margin-right: 12px;
          cursor: pointer;
          i{
            color: #1d643b;
            margin: 0 5px;
          }
        }
      }
      .name{
        color: #1b1e21;
        font-size: 10px;
        padding: 0 8px;
      }
      .text{
        width: fit-content;
        color: #1b1e21;
        font-size: 13px;
        padding: 8px;
        background-color: #f2f2f2;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &.info{
          background-color: #CCE5FF;
          color: #2C649F;
        }
      }
    }
    .user-text{
      float: right;
      width: 85%;
      display: table;
      margin: 5px 0;
      .name{
        color: #1b1e21;
        font-size: 10px;
        text-align: right;
        padding: 0 8px;
      }
      .text{
        float:right;
        width: fit-content;
        text-align: right;
        color: #fff;
        font-size: 13px;
        padding: 8px;
        background-color: #3f51b5;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }
  .input-box{
    width: 100%;
    padding: 2px 0;
    background-color: #d6d6d6;
    input{
      padding: 8px;
      background-color: #fff;
      border: none;
      border-radius: 0px
    }
  }
}
//======================
// Side Nav
//======================
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c4c8;
  border-radius: 5px;
  opacity: 1;
  &:hover {
    background-color: #adb0b4;
  }
}
/*chat-box end*/

$ash: #797979;
$green: #57BD66;
$yellow: #f17b16;
$blue: #1167A2;

/*onboarding*/
.educational-program{
  width: 100%;
  display: table;
  .head-text{
    font-size: 26px;
    padding: 10px 0;
  }
  .inner-text{
    font-size: 16px;
    padding: 10px 0;
  }
  .box-y{
    width: 100%;
    display: table;
    border: 1px solid $yellow;
    padding: 10px 20px;
  }
  .box-g{
    width: 100%;
    display: table;
    border: 1px solid $green;
    padding: 10px 20px;
  }
  .box-b{
    width: 100%;
    display: table;
    border: 1px solid $blue;
    padding: 10px 20px;
  }
  .verttical-mdl{
    td{
      vertical-align: middle;
    }
  }
}
/*onboarding end*/
.btn-radious {
  border-radius: 50%;
  font-size: 12px;
  padding: 9px;
  line-height: 0;
}
.box-b{
  width: 100%;
  display: table;
  border: 1px solid $blue;
  padding: 10px 20px;
}
.inner-text{
  font-size: 16px;
  padding: 10px 0;
}
.margin-9{
  display: table;
  width: 100%;
  height: 9px;
}
.brach-list{
  width: 100%;
  display: block;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: overlay;
  padding: 20px;
  border: 2px solid #f3f3f3;
}
