<template>
    <div>
        <template v-if="tweets">
            <div class="social_analyse_desc_inner" v-for="tweet in tweets">
                <tweet :tweet="tweet"></tweet>
            </div>
        </template>
        <template v-else>No tweets available</template>
    </div>
</template>

<script>
    import Tweet from "./tweet";

    export default {
        name: "tweets",
        props: {
            query: {
                type: String,
                default: null,
                required: false
            },
            items: {
                type: Array|Object,
                required: false
            }
        },
        components: {Tweet},
        data() {
            return {
                activeProvider: 'twitter',
                tweets:this.items
            }
        },
        created() {
            if (this.$route.query && this.$route.query.logged_by && !this.tweets) {
                this.activeProvider = this.$route.query.logged_by;
                this.getRelatedSearchData();
            }
        },
        methods: {
            getRelatedSearchData(query) {
                axios.post('/' + this.activeProvider + '/search', {
                    query: query,
                    limit: 10
                }).then(res => {
                  console.log(res.data.tweet.tweets);

                    if(!res.data.tweet.logged_in) {
                        this.$emit('twitter_issue')
                    }
                    if (res.data.tweet.tweets)
                        this.tweets = res.data.tweet.tweets
                })
            },
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        }
    }
</script>

<style scoped>

</style>
