<template>
    <section class="student_timeline_area">
       <right-side-chat-box></right-side-chat-box>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <timeline-leftside></timeline-leftside>
                </div>

                <div class="col-md-6">
                    <div class="student_main_timeline">
                        <h5 class="col-md-12">My Connections</h5>
                        <ul class="student_timeline_list clearfix" v-if="friends.length">
                            <template v-for="(frnd, key) in friends">
                                <div class="col-md-12 connection_program" :key="key">
                                    <div class="connection_program_inner">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <router-link :to="{ name: 'userPublicProfile', params: { userName: frnd.user_name }}">
                                                    <img :src="frnd.avater" alt="">
                                                </router-link><br>
                                            </div>

                                            <div class="col-sm-9">
                                              <div>
                                                <h5 :inner-html.prop="frnd.role ? frnd.role.title : ''"></h5>
                                                <router-link :to="{ name: 'userPublicProfile', params: { userName: frnd.user_name }}">
                                                  <h5 :inner-html.prop="frnd.name | wordWrap"></h5>
                                                </router-link>
                                                <button @click="makeItUnfriend(frnd.id)" class="btn btn-danger btn-sm float-right">Disconnect</button>
                                              </div>
                                                <template v-if="frnd.address">
                                                    <template v-if="frnd.address.length && frnd.address.constructor ===Array && frnd.address[0].country">
                                                        <p> {{frnd.address[0].city}}, </p>
                                                        <p>{{frnd.address[0].address}}</p>
                                                    </template>
                                                    <template v-if=" typeof frnd.address==='object' && frnd.address.country">
                                                        <span :inner-html.prop="frnd.address.city + ', ' + frnd.address.country.title | wordWrap"></span>
                                                    </template>
                                                </template>

                                                <p class="program_date" v-if="frnd.profile_options && frnd.profile_options.length">Age
                                                    {{frnd.profile_options[0].option_value|moment("from", true)}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </ul>
                        <div class="text-center" v-else>No Connections available</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <friend-suggestion></friend-suggestion>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import api from "../config/api";
    import RightSideChatBox from "../components/common/RightSideChatBox";
    import FriendSuggestion from "../components/common/FriendSuggestion";
    import TimelineLeftside from "../components/common/TimelineLeftside";

    export default {
        components: {RightSideChatBox, FriendSuggestion, TimelineLeftside},
        data() {
            return {
                friends: [],
                APP_URL: window.APP_URL
            }
        },
        methods:{

          makeItUnfriend(friend_id){
              fetch(api.unconnectTheConnect+"/"+friend_id).then(res=>res.json())
              .then(res=>{
                  if(res.statusCode === 200)
                  {
                      let id = res.data.sender_id;
                      this.friends.splice(this.friends.indexOf(this.friends.find(res => res.id==id)),1);
                      this.$store.dispatch('chatFriendLists');
                      this.$store.dispatch('friendLists');
                  }
              });
          },

        },
        created() {
            axios.get(api.myFriendLists).then(res => {
                this.friends = res.data.data;
            });

        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        },

    }
</script>

<style scoped>

</style>
