<template>
    <section class="student_timeline_area">
       <right-side-chat-box></right-side-chat-box>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="student_timeline_left text-center sticky">
                        <div class="cover_photo"><img :src="APP_URL+'/images/cover.jpg'" /></div>
                        <img :src="auth.avater" class="author_image" alt="">
                        <h2>{{auth.name}}</h2>
                        <template v-if="auth.educations && auth.educations[0]">
                            <p>{{auth.educations[0].title}}</p>
                            <p v-if="auth.educations[0].institute">{{auth.educations[0].institute.title}}</p>
                        </template>
                        <div class="timeline_left_box">
                            <p class="f_15">Connections</p>
                            <p class="counter"><router-link class="anchor" :to="'/my-connections'">{{count}}</router-link></p>
                        </div>
                        <div class="timeline_left_box">
                            <p class="f_15">Posts</p>
                            <p class="counter">{{postCount}}</p>
                        </div>
                        <div class="timeline_left_box only-anchor">
                            <router-link class="anchor" :to="'/profile/'+auth.user_name">View Profile</router-link>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="student_main_timeline">
                        <h5>My timeline</h5>
                        <post-form @addPost="addPost"></post-form>
                        <ul class="student_timeline_list clearfix" v-if="posts.length">
                            <template v-for="post in posts">
                                <single-post :post="post"></single-post>
                            </template>
                        </ul>
                        <div class="text-center" v-else>No posts available</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="student_timeline_left sticky" v-if="mutualFriends.length">
                        <div class="timeline_left_box">
                            <h5 class="box-title">Friend Suggestions</h5>
                        </div>
                        <div class="timeline_left_box">
                            <ul class="suggestion-list">
                                <li v-for="mutual in mutualFriends">
                                    <div class="list-data-wrapper">
                                        <span class="image-wrapper">
                                            <router-link :to="{ name: 'userPublicProfile',
                                            params: { userName: mutual.user_name }}">
                                                <img :src="mutual.avater" :alt="mutual.user_name">
                                            </router-link>
                                        </span>
                                        <div class="name-wrapper">
                                            <router-link :to="{ name: 'userPublicProfile',
                                            params: { userName: mutual.user_name }}">
                                                <span class="friend-name">{{mutual.name | strLimit}}</span>
                                                <span class="friend-occupasion">{{mutual.name | strLimit}}</span>
                                            </router-link>
                                        </div>
                                        <button class="btn add-friend" @click="sendInvitation(mutual)">+</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="timeline_left_box text-center only-anchor clearfix">
                            <!-- <a href="#" class="anchor">View More</a> -->
                        </div>
                    </div>

                     <div class="student_timeline_left sticky" v-else>
                        <div class="fav-page-ads">
                            <h5 class="box-title">You have no friend suggestion</h5>
                            <a class="alink" href="/connections/institute">Make a friend</a>
                            <a class="btn btn-start-now mt-10" href="/connections/institute">Click Here</a>
                        </div>
                    </div>
                </div>

                <invitation-message
                    :api="sendInvitationURL"
                    :item="invitationStudent"
                    model='user'
                    @closeInvitationMessage="closeModal"
                    @successfullyInvited="successfullyInvited"
                    v-if="Object.keys(invitationStudent).length > 0">
                </invitation-message>
            </div>
        </div>
    </section>
</template>

<script>
    import SinglePost from "../components/timeline/SinglePost";
    import PostForm from "../components/timeline/PostForm";
    import api from "../config/api";
    import RightSideChatBox from "../components/common/RightSideChatBox";
    import InvitationMessage from "../components/common/InvitationMessage";

    export default {
        components: {RightSideChatBox, PostForm, SinglePost, InvitationMessage},
        data() {
            return {
                posts: [],
                count:0,
                postCount:0,
                invitationMutual: {},
                mutualFriends:[],
                invitationStudent: {},
                sendInvitationURL: api.sendInvitation,
                APP_URL: window.APP_URL
            }
        },
        created() {
            axios.get(api.MyPostInTimeLine).then(res => {
                this.posts = res.data.data;
            });
            axios.get(api.friendListCount).then(res => {
                this.count = res.data;
            });
            axios.get(api.postInTimeLine + '/count').then(res => {
                this.postCount = res.data;
            });

            axios.get(api.findMutuals + '?page=1').then(res => {
                if(res.data.data.length > 0){
                    this.mutualFriends = res.data.data;
                }
            });
        },
        methods: {
            addPost(data) {
                this.posts.unshift(data);
                this.postCount++;
            },
            sendInvitation(program) {
                this.invitationStudent = program;
            },
            closeModal() {
                this.invitationMutual = {};
            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationMutual.id, true);
                this.findMutuals(1);
            }
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        },

    }
</script>

<style scoped>

</style>
