<template>
    <div class="custom_Connection_area list_connection_area">
        <div class="custom_Connection_area list_connection_area" v-if="notifications.length">
            <h2>Recent Notifications</h2>
            <template v-for="(notification, key) in notifications">
                <div class="student_list_inner"
                     :class="{active:notification.read_at}"
                     :key="key"
                     @click="notification.read_at?'':setAsRead(key)">
                    <a href="#"><img :src="APP_URL+'/'+notification.data.from.avater" alt="" class="notification-avatar"></a>
                    <h2 v-if="notification.data">
                        <template v-if="notification.data.message">{{notification.data.message}} by</template>

                        <router-link v-if="notification.data.module==='message'"
                                     :to="'/chatting?active='+notification.data.from.user_name">
                            {{notification.data.from.name}}
                        </router-link>

                        <router-link v-else-if="notification.data.module==='invitation'" :to="'connections/invitations-list'">
                            {{notification.data.from.name}}
                        </router-link>

                        <router-link v-else :to="'/public/profile/'+notification.data.from.user_name">
                            {{notification.data.from.name}}
                        </router-link>

                    </h2>
                    <!-- <span>{{notification.created_at|moment("from")}}</span> -->
                    <span>{{localTime(notification.created_at)}}</span>
                    <div class="chat_heading_dropdown student_list_dropdown notification">
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul>
                                    <li><a @click="setAsRead(key)">Mark As Read</a></li>
                                    <li><a @click="setAsUnread(key)">Mark As Unread</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <pagination v-if="pagination.length>0" :pagination="pagination" @paginate="notificationList"></pagination>
        </div>
        <div class="custom_Connection_area list_connection_area" v-else>
            <h2>Recent Notifications</h2>
            <div class="student_list_inner active text-center">
                <h2>No notification available</h2>
            </div>
        </div>
    </div>
</template>

<script>
    import api from "../config/api";
    import Pagination from "../components/common/Pagination";

    export default {
        name: "Notifications",
        components: {Pagination},
        data() {
            return {
                notifications: [],
                pagination: {current_page: 1},
                auth: window.auth,
                APP_URL: window.APP_URL,
                SOCKET_NAME: window.SOCKET_NAME,
                socket : null
            }
        },
        computed: {
            count() {
                return this.$store.getters.count;
            }
        },
        created() {
            this.notificationList();
        },
        mounted() {
            this.socket = io.connect(this.SOCKET_NAME);
            this.socket.on('friendRequest-' + this.auth.id , data => {
                if (this.auth.id == data.to) {
                    this.notificationList();
                }
            })
            setTimeout(() => {
              this.setAllAsRead();
            }, 300)
        },
        methods: {
            localTime(create) {
                return this.$moment.utc(create).local().fromNow();
            },
            notificationList() {
                axios.get(api.notificationList + '?page=' + this.pagination.current_page).then(res => {
                    this.notifications = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;
                    this.stateMounted = false;
                })
            },
            setAsRead(key) {
                axios.patch(api.notificationList + this.notifications[key].id + '/read',
                    {read: true}).then(res => {
                    if (res.data) {
                        let counter = this.count;
                        this.notifications[key].read_at = new Date();
                        this.$store.dispatch('actionUpdateNotificationCount', --counter)
                    }
                });
            },
            setAllAsRead() {
              this.$store.dispatch('actionUpdateNotificationCount', 0)
              axios.patch(api.notificationList + 'all/read',
                  {read: true}).then(res => {
                  if (res.data) {
                  }
              });
            },
            setAsUnread(key) {
                axios.patch(api.notificationList + this.notifications[key].id + '/unread',
                    {read: true}).then(res => {
                    if (res.data) {
                        let counter = this.count;
                        this.notifications[key].read_at = null;
                        this.$store.dispatch('actionUpdateNotificationCount', ++counter)
                    }
                });
            },
        }
    }
</script>

<style scoped>
    .notification-avatar {
        width: 50px;
        height: 50px;
    }
    .student_list_inner {
        background: #e9f5f5;
    }
</style>
