<template>
  <div class="inner-content">
    <div class="container">
      <div class="row">
        <div style="width: 100%; display: block" v-if="this.$router.currentRoute.name !== 'User Profile'" class="col-lg-2 col-md-2 col-sm-12 col-p-0">
          <div class="school-detail">
            <div class="s-logo" :style="{'background-image': 'url('+userData.avater+')'}"></div>
            <div class="s-name" v-if="userData.institute">{{userData.institute.title}}</div>
            <div class="s-location" v-if="userData.institute">
              <img class="s-l-logo" src="" alt="">
              <div class="s-l-name">
                <span v-if="userData.school_address && userData.school_address.length">{{userData.school_address[0].city}}, {{(userData.school_address[0].state) ?userData.school_address[0].state.title+',':''}} {{(userData.school_address[0].country) ?userData.school_address[0].country.title:''}}
                </span>
              </div>
            </div>
            <ul class="s-option">
              <li class="s-e-option">
                <a href="#" class="active"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
              </li>
              <li class="s-e-option">
                <a href="#">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </a>
              </li>
              <li class="s-e-option">
                <a href="#" class="active">
                  <i class="fas fa-dollar-sign"></i>
                </a>
              </li>
              <li class="s-e-option">
                <a href="#">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
              </li>
              <li class="s-e-option">
                <a href="#" class="active">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <div class="divider"></div>
            <div class="s-info" v-if="userData.institute">
              <i class="fa fa-certificate i-logo"></i><span class="mrc-5">Founded</span> <span
              class="text-ash" v-text="userData.institute.founded"></span>
            </div>
            <div class="s-info">
              <i class="fa fa-university i-logo"></i><span class="mrc-5">Type</span> 
              <span
              class="text-ash">University</span>
              <!-- <span
              class="text-ash"> {{ (userData.institute.education_level)?userData.institute.education_level.title:''}}</span> -->
            </div>
            <div class="s-info">
              <i class="fa fa-users i-logo"></i><span class="mrc-5">Total Students</span> <span
              class="text-ash">{{totalStudent(userData.institute.total_students)}}</span>
            </div>
          </div>
        </div>
        <div :class="(this.$router.currentRoute.name !== 'User Profile') ? 'col-lg-10 col-md-10 col-sm-12': 'col-lg-10 col-md-10 col-sm-12'">
          <div class="gallery-box" style="width: 100%;display: inline-block;">
            <div class="owl-carousel owl-theme" v-if="userData.videos.length > 0">
              <div class="item" style="width:100%;" v-for="(eachPic, index) in userData.videos" @click="() => showImg(index)">
                <div class="each-img">
                  <div  v-if="eachPic.mime_type.split('/')[0] == 'image'">
                    <img style="width:100%;height: 200px;object-fit: cover;" :src="'/storage/uploads/videos/'+eachPic.filename" alt="">
                  </div>
                  <div v-if="eachPic.mime_type.split('/')[0] == 'video'">
                    <video style="width:100%;height: 200px;object-fit: cover;" controls :src="'/storage/uploads/videos/'+eachPic.filename"></video>
                  </div>
                </div>
              </div>
            </div>
            <vue-easy-lightbox
              :visible="visible"
              :imgs="imgs"
              @hide="handleHide"
              id="slideImageDis"
            ></vue-easy-lightbox>
          </div>
          <div class="tab-box">
            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-tabs mobile-hide" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                       role="tab"
                       aria-controls="home"
                       aria-selected="true">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#features"
                       aria-selected="false">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#location"
                       aria-selected="false">Location</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#disciplines"
                       aria-selected="false">Disciplines</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#financials"
                       aria-selected="false">Financials</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#programs"
                       aria-selected="false">Programs</a>
                  </li>
                </ul>
                <div class="dropdown mobile-show text-right">
                  <img id="dropdownMenuButton" data-toggle="dropdown" class="mr-4"
                       aria-haspopup="true"
                       aria-expanded="false" src="web/img/school_profile/open-menu.png" alt="">
                  <div class="dropdown-menu left" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#home">About</a>
                    <a class="dropdown-item" href="#features">Features</a>
                    <a class="dropdown-item" href="#location">Location</a>
                    <a class="dropdown-item" href="#disciplines">Disciplines</a>
                    <a class="dropdown-item" href="#disciplines">Financials</a>
                    <a class="dropdown-item" href="#programs">Programs</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div v-if="user.institute.about">
                  <div class="h-text">About</div>
                  <div class="text-justify font-ash" v-text="user.institute.about"></div>
                  <a href="#" class="a-text" style="display: none">See More</a>
                </div>
                <div v-else>
                  <div class="text-justify font-ash">No Information available</div>
                </div>
              </div>
            </div>
          </div>
          <div id="features" class="feature-box">
            <div class="f-text">Features</div>
            <div class="f-box">
              <div class="inner-box">
                <div class="text-right font-ash">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="in-logo">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <div class="sub-text">
                  Optional Practice Training
                </div>
              </div>
            </div>
            <div class="f-box">
              <div class="inner-box">
                <div class="text-right font-ash">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="in-logo">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="sub-text">
                  Programs With Co-Operation
                </div>
              </div>
            </div>
            <div class="f-box">
              <div class="inner-box">
                <div class="text-right font-ash">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="in-logo">
                  <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                </div>
                <div class="sub-text">
                  Programs With Co-Operation
                </div>
              </div>
            </div>
            <div class="f-box">
              <div class="inner-box">
                <div class="text-right font-ash">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="in-logo">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="sub-text">
                  Conditional Offer Letter
                </div>
              </div>
            </div>
            <div class="f-box">
              <div class="inner-box">
                <div class="text-right font-ash">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="in-logo">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="sub-text">
                  Type of Accomodation
                </div>
              </div>
            </div>
          </div>
          <div id="location" class="map-box">
            <div class="f-text">Location</div>
            <div class="sub-text" v-if="userData.school_address && userData.school_address.length">
              {{userData.school_address[0].address}}, {{userData.school_address[0].city}}
              ,{{(userData.school_address[0].state) ?userData.school_address[0].state.title+',':''}}
              {{(userData.school_address[0].country) ?userData.school_address[0].country.title:''}}
            </div>
            <div class="go-map position-relative">
              <div class="input-group mb-3">
                <input type="text" class="form-control absolute-input" id="autocompleteData"
                       placeholder="Search your location" aria-describedby="basic-addon2" @keyup.enter="searchAddress">
                <div class="input-group-append" @click="searchAddress">
                                  <span class="input-group-text btn-map" id="basic-addon2">
                                    <i class="fa fa-search" style="color: #ffffff"></i>
                                  </span>
                </div>
              </div>
              <div id="geo-map"></div>
            </div>
          </div>
          <div id="disciplines" class="row">
            <div class="col-md-5">
              <div class="bar-box">
                <div class="f-text">Top Disciplines</div>
                <div class="sub-text">Based on total number of programs</div>
                <slot v-if="disciplineData.labels[0] !== 'N/A'">
                  <div class="sub-text">Based on total number of programs</div>
                  <div class="logo">
                    <apex-charts type="donut" :options="disciplineOptions" :series="disciplineData.series"></apex-charts>
                  </div>
                </slot>
                <slot v-else>
                  <div class="sub-text" style="height: 301px">No Data Available</div>
                </slot>
              </div>
            </div>
            <div class="col-md-7" id="financials">
              <div class="cost-box" v-if="user.institute">
                <div class="f-text">Financials</div>
                <table class="table">
                  <thead>
                  <tr>
                    <th width="60%">Description</th>
                    <th class="text-right">Sub Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Avg/ cost of Tuition/Year</td>
                    <td class="text-right" v-if="user.institute.cost_of_tuition > 0">USD ${{user.institute.cost_of_tuition}}</td>
                    <td class="text-right" v-else>N/A</td>
                  </tr>
                  <tr>
                    <td>Cost of Living/Year</td>
                    <td class="text-right" v-if="user.institute.cost_of_living > 0">USD ${{user.institute.cost_of_living}}</td>
                    <td class="text-right" v-else>N/A</td>
                  </tr>
                  <tr>
                    <td style="border-bottom: none">*Application Fee</td>
                    <td class="text-right" style="border-bottom: none" v-if="user.institute.application_fee > 0">
                      USD ${{user.institute.application_fee}}
                      <br>
                      <small>*Charged once for each program</small>
                    </td>
                    <td class="text-right" v-else>N/A</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td>Estimated Total/Year</td>
                    <td class="text-right" v-if="user.institute.estimated_total > 0">USD ${{user.institute.estimated_total}}</td>
                    <td class="text-right" v-else>N/A</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div id="programs" class="perfect-program">
            <div class="h-text">Find Your Perfect Program</div>
            <div class="filter-box">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <select v-model="searchByEduLevel" @change="getProg()" name=""
                              class="form-control c-cont mar-20">
                        <option value="null">Select Education Level</option>
                        <option :value="prog.id" :key="index"
                                v-for="(prog, index) in AllEduLvl">{{prog.title}}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <select name="" v-model="searchByEduProg" @keyup="getProgDetails"
                              @change="getProgDetails" :disabled="inputDis === 1"
                              class="form-control c-cont">
                        <option value="null">Select Program</option>
                        <option :value="prog.id" :key="index"
                                v-for="(prog, index) in allProgData">{{prog.title}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="margin-20"></div>
                  <div class="position-relative">
                    <input v-model="searchByTitle" @change="getProgDetails" type="text"
                           class="form-control c-cont"
                           placeholder="Search by program title">
                    <i class="fa fa-search font-ash search-btn" @click="getProgDetails"></i>
                  </div>
                </div>
                <div class="col-md-4 text-right-c">
                  <div class="sort-item mar-top-20" @click="changeSort">
                    <i class="fa fa-align-right font-ash" aria-hidden="true"></i>
                    <span>Sort By</span>
                  </div>
                  <div class="sort-item">
                    <a href="#" class="" @click.prevent="clearFilter">Clear Filters</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="connect-box">
            <div style="width: 100%;text-align: center" v-if="dataProFetch === true">
              <img width="100px" src="/images/loading.gif" alt="">
            </div>
            <div style="width: 100%;text-align: center" v-if="dataProFetch === false && allCourseData.length == 0">
              <em>No Program Found</em>
            </div>
            <div class="each-box" :key="index" v-for="(prog, index) in allCourseData" v-if="((pageNoPro-1)*perPagePro) < (index+1) && (index+1) <= (perPagePro*pageNoPro)">
              <div class="row">
                <div class="col-md-1">
                  <div class="process-box">
                    <img class="cal-img" src="/web/img/school_profile/cal-head.png" alt="">
                    <div class="text-box" style="background-color: #E7ECED">
                      <div class="line-hight-15"
                           :style="{'background-color': prog.process_days > 45 ? '#e45555' : '#e7eced'}">
                        {{ prog.process_days == null ? '45' : prog.process_days}} AVG
                      </div>
                    </div>
                    <div class="sub-text">
                      Process Days
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="y-text">
                    {{prog.title}}
                  </div>
                  <div class="row">
                    <div class="col-md-6 font-15">
                      <span class="tuition-fee-box">
                        <template v-if="prog.fee_int > 0"> USD {{prog.fee}}</template>
                        <span v-else>Tuition Fee: N/A</span>
                      </span>
                      <div>
                        <img style="margin-right: 6px" src="/web/img/school_profile/logo-c2.gif" alt="">
                        <span class="tuition-fee-text">
                          <template
                            v-if="prog.application_fee > 0"> Application Fee: {{prog.application_fee}} USD</template>
                          <span v-else>Application Fee:  N/A</span>
                        </span>
                      </div>
                      <div>
                        <img style="margin-left: 13px; margin-right: 8px" src="/web/img/school_profile/logo-c3.gif"
                             alt="">
                        <span class="tuition-fee-text" v-if="prog.admission_date"> Start: {{dateFormat(prog.admission_date)}}</span>
                        <span v-else>Admission Date:  N/A</span>
                      </div>
                    </div>
                    <div class="col-md-6 font-15">
                      <div class="tuition-fee-box pad-top-0">
                        <span style="position: relative;display: table;">
                          <img style="position: absolute;top: 0px;left: -30px;"
                               src="/web/img/school_profile/logo-c1.gif" alt="">
                          <template v-if="prog.education_levels">
                            <span style="display:inline-block;text-transform: capitalize;">
                              <span :key="index" v-for="(lev, index) in prog.education_levels">{{lev.title}}<br></span>
                            </span>
                          </template>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="btn-box">
                  </div>
                </div>
              </div>
            </div>
            <nav class="mt-5" v-if="Total > 0 && Total > perPagePro">
              <ul class="pagination justify-content-center ">
                <li class="page-item mr-2"><a class="page-link rounded" @click="pageNoPro = 1">First</a></li>
                <li class="page-item mr-2"><a class="page-link rounded" v-if="(parseInt(pageNoPro)-5) >= 1">...</a></li>
                <li :class="{'page-item mr-2': true, 'active': pageNoPro == (index+1) ? true : false}" v-for="(pp, index) in TotalPage"
                    v-if="pageNoPro > 0 && (index+1) > (parseInt(pageNoPro)-5) && (index+1) < (parseInt(pageNoPro)+5)">
                  <a  @click="pageNoPro = (index+1)" class="page-link rounded">{{index+1}}</a>
                </li>
                <li class="page-item mr-2"><a class="page-link rounded" v-if="(parseInt(pageNoPro)+5) <= TotalPage">...</a></li>
                <li class="page-item mr-2"><a class="page-link rounded" @click="pageNoPro = TotalPage">Last</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="people-connect-box" v-if="studentsToConnect.length">
            <div class="h-text">Students who wants to connect with you</div>
            <div class="pro-box" v-for="student in studentsToConnect" :key="student.id">
              <a target="_blank" :href="'/public/profile/'+student.user_name" class="pro-pic" :style="'background-image: url('+student.avater+')'"></a>
              <a target="_blank"  :href="'/public/profile/'+student.user_name"  class="name">{{ student.name }}</a>
               <a href="javascript:void(0)"  v-if="invited[student.id]" class="btn btn-connect b-r-0 active connect-btn">Invite Sent</a>
              <a href="javascript:void(0)" v-else class="btn btn-connect b-r-0" @click.prevent="openChatBot()">Connect</a>
            </div>
          </div>

          <invitation-message
            :api="sendInvitationURL"
            :item="invitationStudent"
            model='user'
            @closeInvitationMessage="closeModal"
            @successfullyInvited="successfullyInvitedIns"
            v-if="Object.keys(invitationStudent).length">
          </invitation-message>

          <invitation-message-ins
            :api="sendInvitationURL"
            :item="invitationInstitute"
            model='user'
            @closeInvitationMessage="closeModalIns"
            @successfullyInvited="successfullyInvitedIns"
            v-if="Object.keys(invitationInstitute).length">
          </invitation-message-ins>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import jsMoment from "moment";
  import PaginatorObject from '../components/common/PaginatorObject'
  import api from "../config/api";
  import InvitationMessage from "../components/common/InvitationMessage";
  import InvitationMessageIns from "../components/common/InvitationMessage";
  import ApexCharts from 'vue-apexcharts';
  import VueEasyLightbox from 'vue-easy-lightbox'

  export default {
    props: ['user', 'school_courses'],
    components: {
      PaginatorObject, ApexCharts, InvitationMessage, InvitationMessageIns, VueEasyLightbox
    },
    data() {
      return {
        auth: window.auth,
        courseData: [],
        searchByEduLevel: null,
        searchByEduProg: null,
        searchByTitle: '',
        searchSort: 0,
        AllEduLvl: [],
        allProgData: [],
        userData: {},
        inputDis: 1,
        invited:[],
        dataProFetch: false,
        allCourseData: [],
        Total: 0,
        TotalPage: 0,
        perPagePro: 5,
        pageNoPro: 1,
        address: '',
        geocoder: null,
        resultsMap: null,

        studentsToConnect: [],
        invitationStudent: {},
        sendInvitationURL: api.sendInvitation,

        invitationInstitute: {},  //For Institute

        visible: false,

        disciplineData: {
          chart: {
            type: 'donut',
            width: 300,
            height: 200
          },
          labels: ['N/A'],
          series: [0]
        },

        disciplineSeries: [100],
      }
    },
    watch: {},
    computed: {
      disciplineOptions: function () {
        return {
          labels: this.disciplineData.labels,
          legend: {
            show: false,
          },
          dataLabels: {
            enabled: true
          },
        }
      },
      imgs: function () {
        let data = [];
        this.userData.videos.forEach((item) => {
          data.push('/storage/uploads/videos/' + item.filename);
        });
        return data;
      }
    },
    created() {
      this.allCourseData = this.school_courses;
      this.userData = this.user;
      this.user.videos.forEach((item) => {
        this.imgs.push('/storage/uploads/videos/' + item.filename);
      });
      this.allCourseData = this.user.institute.programs;
      this.getProgLvl();
      this.Total = this.allCourseData.length;
      this.pageNoPro = 1;
      this.TotalPage = parseInt(this.Total / this.perPagePro);
    },
    mounted() {
      let THIS = this;
      // Google Map
      this.address = this.userData.school_address[0].address;
      this.geocoder = new google.maps.Geocoder();
      this.resultsMap = new google.maps.Map(document.getElementById('geo-map'), {
        zoom: 16,
        center: {lat: -23.7748224, lng: 90.3651328}
      });
      this.geocodeAddress(this.geocoder, this.resultsMap, this.address);
      let AutoComplete = new google.maps.places.Autocomplete(document.getElementById('autocompleteData'), {});
      AutoComplete.addListener('place_changed', function () {
        let places = AutoComplete.getPlace();
        THIS.geocodeAddress(THIS.geocoder, THIS.resultsMap, places.formatted_address)
      });
      // Google Map End

      setTimeout(function(){
        $('.owl-carousel').owlCarousel({
          items: 4,
          margin:10,
          nav:false,
          autoHeight:true
        })
      }, 1000);

      THIS.getPeoplesToConnect();
      THIS.setTopDisciplines();
    },
    methods: {
      getProgLvl() {
        let _this = this;
        _this.dataProFetch = true;
        axios.get(api.userPublicSchoolProfile + _this.userData.institute.id)
          .then(res => {
            _this.dataProFetch = false;
            this.AllEduLvl = res.data;
          })
      },
      getProg() {
        let _this = this;
        _this.dataProFetch = true;
        
        let data = {
          params: {
            education_level_id: _this.searchByEduLevel,
          }
        };

        _this.allCourseData = [];
        _this.Total = 0;
        _this.pageNoPro = 1;
        axios.get(api.userPublicSchoolProfileInstitute + _this.userData.institute.id, data)
          .then(res => {
            _this.dataProFetch = false;
            _this.allProgData = res.data;
            _this.inputDis = 0;

            if (res.data !== null) {
              _this.allCourseData = res.data;
              _this.Total = res.data.length;
              _this.TotalPage = parseInt(_this.Total / _this.perPagePro);
            } else {
              _this.allCourseData = [];
              _this.Total = 0;
              _this.TotalPage = 0;
            }
          });
      },
      getProgDetails() {
        let _this = this;
        let data = {
          params: {
            education_level_id: _this.searchByEduLevel,
            program_id: _this.searchByEduProg,
            program_title: _this.searchByTitle,
            sort_by: _this.searchSort,
          }
        };

        _this.allCourseData = [];
        _this.Total = 0;
        _this.pageNoPro = 1;
        _this.dataProFetch = true;
        axios.get(api.userPublicSchoolProfileInstitute + _this.userData.institute.id, data)
          .then(res => {
            _this.dataProFetch = false;
            _this.allCourseData = res.data;
            _this.Total = res.data.length;
            _this.TotalPage = parseInt(_this.Total / _this.perPagePro);
          });
      },
      dateFormat(value) {
        return jsMoment(String(value)).format('DD/MMM/YYYY');
      },
      updateuserinprogram(instituteprograms) {
        this.courseData = instituteprograms;
      },
      totalStudent(total) {
        if (total > 0) {
          let number = total.toString();
          if (number.length >= 4) {
            let k = number / 1000;
            k = k + 'k';
            return k;
          } else {
            return total
          }
        } else {
          return '-';
        }

      },
      geocodeAddress(geocoder, resultsMap, address) {
        geocoder.geocode({'address': address}, function (results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            console.log('Geocode was not successful for the following reason: ' + status);
          }
        });
      },
      searchAddress() {
        this.geocodeAddress(this.geocoder, this.resultsMap, document.getElementById('autocompleteData').value)
      },
      getPeoplesToConnect() {
        let _this = this;
        let data = {
          params: {
            page: 1,
          }
        };
        axios.get(api.findRandomStudent, data)
          .then(res => {
            if (res.data.success === true) {
              _this.studentsToConnect = res.data.data;
            } else {
              _this.studentsToConnect = [];
            }
          });
      },
      sendInvitation(student) {
        this.invitationStudent = student;
      },
      closeModal() {
        this.invitationStudent = {};
      },
      sendInvitationIns(inst) {
        this.invitationInstitute = inst;
      },
      closeModalIns() {
        this.invitationStudent = {};
      },
      successfullyInvitedIns() {
        this.$set(this.invited, this.invitationStudent.id, true)
      },
      setTopDisciplines() {
        let _this = this;
        axios.get(api.userPublicSchoolTopDisciplines + this.user.user_name)
          .then(res => {
            if (res.data.success === true) {
              _this.disciplineData.labels = [];
              _this.disciplineData.series = [];
              res.data.data.forEach((item) => {
                _this.disciplineData.labels.push(item.title);
                _this.disciplineData.series.push(item.percentage);
              });
            } else {
              _this.disciplineData.labels = [];
              _this.disciplineData.series = [];
            }
          });
      },
      showImg (index) {
        this.index = index;
        this.visible = true;
        setTimeout(() => {
          if (this.imgs[index].match(/\.(jpeg|jpg|gif|png)$/) != null) {
            $("#slideImageDis").children().children().attr("src", this.imgs[index]);
          } else {
            let video = document.createElement('video');
            video.src = this.imgs[index];
            video.className = "vel-img";
            video.autoplay = true;
            video.controls = true;

            document.getElementById('slideImageDis').firstChild.innerHTML = "";
            document.getElementById('slideImageDis').firstChild.appendChild(video);
          }
        }, 400);
      },
      handleHide () {
        this.visible = false
      },
      changeSort(){
        this.searchSort === 0 ? this.searchSort = 1 : this.searchSort = 0;
        this.getProgDetails();
      },
      clearFilter(){
        this.searchByEduLevel = null;
        this.searchByEduProg = null;
        this.searchByTitle = '';
        this.getProgDetails();
      },
      openChatBot() {
        toastr.success('Chat bot will be integrated once licence is purchased!', 'Whoops!');
      },
      successfullyInvited() {
        this.$set(this.invited, this.invitationStudent.id, true)
      }
    },

  }
</script>

<style scoped>

</style>
