<template>
    <div class="analysis_area">
        <h2>Search & Add Topic</h2>
        <div class="analysis_search">
            <input v-model="query" type="text" class="form-control" placeholder="Topic or Text to Listen...">
            <button v-if="!loading" @click="searchPopulatedData">Search</button>
            <button v-if="loading">
                <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
            </button>
        </div>
        <div class="analyse_chart_area">
            <div class="row">
                <div class="col-md-7">
                    <div class="analyse_chart_inner">
                        <h2>Sentiment Trends Chart</h2>
                        <apex-charts type="line" height="300" v-if="seriesOptions != null" :options="seriesOptions" :series="seriesData"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="analyse_chart_inner">
                        <h2>User Sentiment Analysis</h2>
                        <apex-charts width="320" type="donut" v-if="userSentimentOptions != null" :options="userSentimentOptions" :series="userSentimentCount"></apex-charts>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="analyse_chart_inner">
                        <h2>Sentiment Trends Chart</h2>
                        <vue-word-cloud  v-if="wordClouds != null"
                        style="min-height: 200px;"
                        :words="wordClouds"
                        :color="'#403030'"
                        :rotation="0" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="analyse_chart_inner">
                        <h2>Predicted Sentiment Analysis</h2>
                        <apex-charts width="280" type="radialBar" v-if="predictiedSentimentOptions != null" :options="predictiedSentimentOptions" :series="predictiedSentimentCount"></apex-charts>
                    </div>
                </div>
            </div>
        </div>

        <div class="analyse_user_area">
            <h2>Users Mentions <span>(Who said Negative things)</span></h2>
            <div class="row" v-if="negativeUsers.length>0">
                <div class="analyse_user_padding" :key="`${user.image}-${user.image}`" v-for="user in negativeUsers">
                    <a v-if="user.image!=''" :href="user.url" target="_blank"><img :src="user.image" :alt="user.name"></a>
                    <a v-else :href="user.url" target="_blank"><img :src="APP_URL+'/images/analysis4.png'" :alt="user.name"></a>
                    <p>{{user.name}}</p>
                </div>
            </div>
        </div>

        <div class="analyse_user_area">
            <h2>Users Mentions <span>(Who said Positive things)</span></h2>
            <div class="row" v-if="positiveUsers.length>0">
                <div class="analyse_user_padding" :key="`${user.image}-${user.image}`" v-for="user in positiveUsers">
                    <a v-if="user.image!=''" :href="user.url" target="_blank"><img :src="user.image" :alt="user.name"></a>
                    <a v-else :href="user.url" target="_blank"><img :src="APP_URL+'/images/analysis4.png'" :alt="user.name"></a>
                    <p>{{user.name}}</p>
                </div>
            </div>
        </div>

        <div class="analyse_social_area">
            <div class="analyse_social_menu">
                <tabs>
                    <tab name="twitter" :selected="true">
                        <div class="social_analyse_description_area">
                            <template v-if="tweets">
                              <div class="social_analyse_desc_inner" v-for="tweet in tweets">
                                  <tweet :tweet="tweet"></tweet>
                              </div>
                          </template>
                        </div>
                    </tab>
                    <!-- <tab name="facebook">
                        <h1>Facebook news feed</h1>
                    </tab>
                    <tab name="linkedin">
                        <h1>linkedin news feed</h1>
                    </tab>
                    <tab name="instagram">
                        <h1>instagram feed</h1>
                    </tab> -->
                </tabs>
            </div>
        </div>

        <!-- <h2>Blast Message to Users</h2>
        <div class="analyse_msg_box">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message for the users..."></textarea>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group Common_form_group">
                        <select class="form-control">
                            <option>Select all useers (Positive or Negative Reviews)</option>
                            <option>Saab</option>
                            <option>Opel</option>
                            <option>Audi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <button>Send</button>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script>
    import api from "../config/api";
    import ApexCharts from 'vue-apexcharts';
    import VueWordCloud from 'vuewordcloud';
    import Tabs from "../components/finds/common/tabs";
    import Tab from "../components/finds/common/tab";
    //import Tweets from "../components/finds/common/twitter/tweets";
    import Tweet from "../components/finds/common/twitter/tweet";

    export default {
        name: "SocialMediaDashboard",
        //components: {Tweets, Tab, Tabs, ApexCharts},
        components: {Tweet, Tab, Tabs, ApexCharts, [VueWordCloud.name]: VueWordCloud},
        data() {
            return {
                loading: false,
                query: '',
                tweets: [],
                negativeUsers: {},
                positiveUsers: {},
                userSentimentLabel: ['N/A'],
                userSentimentCount: [0],
                predictiedSentimentLabel: ['N/A'],
                predictiedSentimentCount: [0],
                wordClouds: [],

                sentimentKey  : {
                  name : [],
                  data : []
                },
                seriesData: [],
                seriesOptions: null,
                plotOptions: {
                    radialBar: {
                        dataLabels: {
                            total: {
                                show: true,
                                label: 'TOTAL'
                            }
                        }
                    }
                },
                APP_URL: window.APP_URL
            }
        },
        mounted(){
        },
        methods: {
            analisisData(query, count) {
              let self = this;
              axios.get(api.socialAnalysisData, {
                  params: {
                      query: query,
                      limit: count
                  }
              })
              .then(res => {
                  self.tweets = res.data.data.tweets.tweets;
                  self.userSentimentCount = res.data.data.userSentimentCount;
                  self.userSentimentLabel = res.data.data.userSentimentLabel;
                  self.predictiedSentimentCount = res.data.data.predictiedSentimentCount;
                  self.predictiedSentimentLabel = res.data.data.predictiedSentimentLabel;
                  self.negativeUsers = res.data.data.negativeUsers;
                  self.positiveUsers = res.data.data.positiveUsers;

                  if (Object.keys(res.data.data.textData).length>0) {
                      self.wordClouds = Object.keys(res.data.data.textData).map(function(key) {
                          return [key, res.data.data.textData[key]];
                      });
                  }

                  //Series Data...(START)
                  if (Object.keys(res.data.data.overTimeSentiment).length>0) {
                      Object.values(res.data.data.overTimeSentiment).forEach(item => {
                          Object.keys(item).forEach(data => {
                                if(!self.sentimentKey.name.includes(data)){
                                  self.sentimentKey.name.push(data);
                                  self.sentimentKey.data.push([]);
                                }
                          })
                      })

                      Object.values(res.data.data.overTimeSentiment).forEach(item => {
                        let temp = item;
                        Object.keys(item).forEach(DATA => {
                          let INDEX = - 1;
                          self.sentimentKey.name.forEach((v , i) => {
                              if(v == DATA){
                                INDEX = i;
                              }
                          })
                          self.sentimentKey.data[INDEX].push(item[DATA]);
                        })
                      })

                      self.sentimentKey.name.forEach((ITEM , Index) => {
                          self.seriesData.push({
                            name : self.sentimentKey.name[Index],
                            data : self.sentimentKey.data[Index]
                          })
                      })

                      let monthName = [];
                      Object.keys(res.data.data.overTimeSentiment).map(function(key) {
                          monthName.push(key);
                      });
                      self.seriesOptions = {
                        xaxis: {
                          categories: monthName,
                        }
                      }
                  }
                  //Series Data...(END)
              })
            },
            searchPopulatedData() {
                let self = this;
                if (this.query!='') {
                    this.loading = true;
                    axios.post(api.socialSearch, {
                        query: self.query,
                    })
                    .then(res => {
                        this.loading = false;
                        this.analisisData(self.query, res.data.count);
                    })
                    .catch(error => {
                        this.loading = false;
                    });
                }
            }
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            },
            userSentimentOptions: function() {
              return {
                labels: this.userSentimentLabel
              }
            },
            predictiedSentimentOptions: function() {
              return {
                labels: this.predictiedSentimentLabel
              }
            }
        }
    }
</script>

<style scoped>
  .analyse_user_padding {
      width: 100px;
      margin: 0 5px;
  }
  .analyse_user_area img {
      width: 100px;
  }
  .analyse_user_area p {
      word-break: break-word;
  }
</style>
