<template>
    <div class="analysis_area connector_area">
        <div class="authorization">
            <h2>Authorization</h2>
            <div class="analyse_social_menu">
                <ul class="clearfix">
                    <li>
                      <a v-if="!authenticatedTwitter" href="/twitter/login?url=social-media-connector">Connect Twitter</a>
                      <a v-else href="#">Connected with Twitter</a>
                    </li>
                    <!-- <li><a href="#">Connect Facebook</a></li>
                    <li><a href="#">Connect Linkedin</a></li>
                    <li><a href="#">Connect Instagram</a></li> -->
                </ul>
            </div>
        </div>
        <h2>Search and Add Topic to Listen</h2>
        <div class="analysis_search">
            <input v-model="query" type="text" class="form-control" placeholder="Topic or Text to Listen...">
            <button v-if="!loading" @click="searchPopulatedData">Search</button>
            <button v-if="loading">
                <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
            </button>
        </div>

        <h1>Connectors</h1>
        <div class="connector_main_content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Topics</th>
                    <th>Records Fetched</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="topics">
                    <tr v-for="(topic, key) in topics" :key="key">
                        <td>{{topic.search_query}}</td>
                        <td>{{topic.total}}</td>
                        <td>{{topic.queue_status}}</td>
                        <!-- <td>{{actioveAction[key]}}</td> -->
                        <td>
                            <select class="form-control" v-model="topic.queue_status" @change="callQueueServer(topic.id)">
                                <option :key="action" v-for="action in Object.keys(defaultAction)" :value="defaultAction[action]">{{action}}</option>
                            </select>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>

        <div class="analyse_social_area">
            <div class="analyse_social_menu">
                <tabs>
                    <tab name="twitter" :selected="true">
                        <div class="social_analyse_description_area">
                            <template v-if="tweets">
                              <div class="social_analyse_desc_inner" v-for="tweet in tweets">
                                  <tweet :tweet="tweet"></tweet>
                              </div>
                          </template>
                        </div>
                    </tab>
                    <!-- <tab name="facebook"></tab>
                    <tab name="linkedin"></tab>
                    <tab name="instagram"></tab> -->
                </tabs>
            </div>
        </div>
    </div>
</template>

<script>
    import api from "../config/api";
    import Tabs from "../components/finds/common/tabs";
    import Tab from "../components/finds/common/tab";
    import Tweet from "../components/finds/common/twitter/tweet";
    export default {
        name: "SocialMediaConnector",
        components: {Tweet, Tab, Tabs},
        data() {
            return {
                loading: false,
                query: '',
                topics: [],
                actions: [
                    {
                        title: 'Listening',
                        action: 'Start'
                    },
                    {
                        title: 'Pause',
                        action: 'Resume'
                    },
                    {
                        title: 'Stop',
                        action: 'Stop'
                    },
                ],
                defaultAction : {
                    Start : 'Listening',
                    Resume : 'Pause',
                    Stop : 'Stop'
                },
                authenticatedTwitter : false,
                actioveAction: [],
                tweets: [],
                searchQue: [],
                APP_URL: window.APP_URL
            }
        },
        created() {
            this.getTopic();
        },
        mounted() {
            this.twitterAuthenticate();
        },
        methods: {
            getTopic() {
                axios.get(api.socialConnectorTopics)
                .then(res => {
                    this.topics = res.data;
                    this.topics.forEach((value, key,) => {
                        this.$set(this.actioveAction, key, 'Stop');
                    });
                    this.searchQueueServer();
                })
            },
            analisisData(query, count) {
                let self = this;
                axios.get(api.socialConnectorTopicData, {
                    params: {
                        query: query,
                        limit: count
                    }
                })
                .then(res => {
                    self.tweets = res.data.tweets.tweets;
                })
            },
            searchData(query, page) {
                let self = this;
                if (query!='') {
                    axios.post(api.socialSearch, {
                          query: query,
                          page: page,
                    })
                    .then(res => {
                        self.tweets = res.data.tweets.tweets;

                        if (page==='connector') {
                            this.loading = false;
                            this.getTopic();
                        }
                    })
                }
            },
            searchQueueServer() {
                let self = this;
                if (self.searchQue.length === 0) {
                    this.topics.forEach((item , index) => {
                        if(item.queue_status == 'Listening') {
                            self.searchQue.push(item);
                        }
                    })
                }

                let stm = self.searchQue[0];
                self.searchQue.splice(0, 1);
                if(stm.queue_status == 'Listening') {
                    axios.post(api.socialSearch, {
                        query: stm.search_query
                    })
                    .then(res => {
                        //self.tweets = res.data.tweets.tweets;
                        if (res.data.tweets.tweets!==undefined) {
                            res.data.tweets.tweets.forEach((item , index) => {
                                self.tweets.push(item);
                            })
                        }

                        if (res.data.success) {
                            setTimeout(function(){
                                self.searchQueueServer();
                            }, 60000);
                        }
                    })
                }
            },
            searchPopulatedData() {
                let self = this;
                if (this.query!='') {
                    this.loading = true;
                    this.searchData(self.query, 'connector');
                }
            },
            callQueueServer(id) {
                let self = this;
                this.topics.forEach((item , index) => {

                    //Update Status
                    if(item.id == id) {
                        axios.post(api.socialConnectorTopicUpdate, {
                            id: id,
                            queue_status: item.queue_status,
                        })
                        .then(res => {
                            console.log(res)
                        })
                    }

                    if(item.id == id && item.queue_status == 'Listening') {
                        this.searchData(item.search_query);
                    }
                })
            },

            twitterAuthenticate() {
                axios.get('/twitter/login-check')
                    .then(res => {
                        if(res.data.status) {
                            this.authenticatedTwitter = res.data.status;
                        }
                    })
            }

            //,
            //watch: {
                // watchTweets: function () {
                //     let self = this;
                //     this.intervalid1 = setInterval(function() {
                //         this.topics.forEach((item , index) => {
                //             if(item.queue_status == 'Listening') {
                //                 this.searchData(item.search_query);
                //             }
                //         })
                //     }.bind(this), 3000);
                // }
            //}
        }
    }
</script>

<style scoped>

</style>
