<template>
    <div class="analysis_area">
        <div class="analyse_chart_area">
            <div class="row">
                <div class="col-md-12">
                    <div class="analyse_chart_inner">
                        <apex-charts type="line" height="300"  v-if="seriesOptions != null" :options="seriesOptions" :series="seriesData"></apex-charts>
                        <h2>Timeline Vs Data</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="analyse_chart_inner">
                        <apex-charts type="bar" height=320 v-if="topicOptions != null" :options="topicOptions" :series="topicData"></apex-charts>
                        <h2>Topic Discuss</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="analyse_chart_inner">
                        <apex-charts type="pie" width=320 v-if="sentimentOptions != null" :options="sentimentOptions" :series="sentimentCount"></apex-charts>
                        <h2>Sentiment Analysis</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from "../config/api";
    import ApexCharts from 'vue-apexcharts';

    export default {
        name: "SocialMediaDashboard",
        components: {ApexCharts},
        data() {
            return {
                sentimentKey  : {
                  name : [],
                  data : []
                },
                seriesData: [],
                seriesOptions: null,

                topicData: [],
                topicOptions: null,

                sentimentLabel: ['N/A'],
                sentimentCount: [0],
                APP_URL: window.APP_URL
            }
        },
        mounted(){
            this.searchPopulatedData();
        },
        methods: {
            searchPopulatedData() {
                let self = this;
                axios.get(api.socialDashboardData)
                .then(res => {
                    self.sentimentLabel = res.data.data.sentimentLabel;
                    self.sentimentCount = res.data.data.sentimentCount;

                    self.topicOptions = {
                        plotOptions: {
                            bar: {
                                horizontal: true,
                            }
                        },
                        xaxis: {
                            categories: res.data.data.topicLabel,
                        }
                    }
                    self.topicData = [{
                        data: res.data.data.topicCount
                    }]


                    //Series Data...(START)
                    if (Object.keys(res.data.data.overTimeSentiment).length>0) {
                        Object.values(res.data.data.overTimeSentiment).forEach(item => {
                            Object.keys(item).forEach(data => {
                                  if(!self.sentimentKey.name.includes(data)){
                                    self.sentimentKey.name.push(data);
                                    self.sentimentKey.data.push([]);
                                  }
                            })
                        })


                        Object.values(res.data.data.overTimeSentiment).forEach(item => {
                          let temp = item;
                          Object.keys(item).forEach(DATA => {
                            let INDEX = - 1;
                            self.sentimentKey.name.forEach((v , i) => {
                                if(v == DATA){
                                  INDEX = i;
                                }
                            })
                            self.sentimentKey.data[INDEX].push(item[DATA]);
                          })
                        })

                        self.sentimentKey.name.forEach((ITEM , Index) => {
                            self.seriesData.push({
                              name : self.sentimentKey.name[Index],
                              data : self.sentimentKey.data[Index]
                            })
                        })

                        let monthName = [];
                        Object.keys(res.data.data.overTimeSentiment).map(function(key) {
                            monthName.push(key);
                        });
                        self.seriesOptions = {
                          xaxis: {
                            categories: monthName,
                          }
                        }
                    }
                    //Series Data...(END)
                })
                .catch(error => {
                    console.log(error)
                });
            }
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            },
            sentimentOptions: function() {
              return {
                labels: this.sentimentLabel
              }
            }
        }
    }
</script>

<style scoped>
  .analyse_user_padding {
      width: 100px;
      margin: 0 5px;
  }
  .analyse_user_area img {
      width: 100px;
  }
  .analyse_user_area p {
      word-break: break-word;
  }
</style>
