<template>
    <transition name="fade">
        <div class='profile-contact-detils-block mb-4'>
            <div class='card' v-if="auth.premium_user==1">
                <div class='card-header'>
                    Premium Edition
                </div>
                <div class='card-body'>
                    You are already upgraded your account.
                </div>
            </div>
            <div class='card' v-else>
                <div class='card-header'>
                    Upgrade to Premium Edition
                </div>
                <div class='card-body' v-if="successMessage">
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>
                </div>
                <div class='card-body' v-else-if="!paymentBox">
                    <div>
                        Upgrade to Premium Edition for ${{amount}} amount and enjoy following features
                    </div>
                    <div class='d-flex'>
                        <button class="btn btn-success" @click="payBoxShow">Upgrade now</button>
                    </div>
                </div>
                <div class='card-body' v-else-if="paymentBox">
                    <form @submit.prevent="makePayment">
                        <input type="hidden" name="stripeToken" id="stripeToken" v-model="stripeToken">
                        <p>Upgrade to Premium Edition for ${{amount}} amount and enjoy following features</p>

                        <div class='alert alert-danger' role="alert" v-if="errorMessage">
                          {{ errorMessage }}
                        </div>

                        <div class='alert alert-danger' role="alert" v-if="this.formErrors['stripeToken']">
                          {{ this.formErrors['stripeToken'][0] }}
                        </div>

                        <div class='alert alert-danger' role="alert" v-if="this.formErrors['paymentMethod']">
                          {{ this.formErrors['paymentMethod'][0] }}
                        </div>

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class='form-group row'>
                                    <label for='name' class='col-sm-3 col-form-label text-md-right'>Card Holder's Name:</label>
                                    <div class='col-sm-9 Common_form_group'>
                                        <input id="name"
                                               type="text"
                                               class="form-control"
                                               required
                                               name="name"
                                               placeholder="Full Name"
                                               v-model="upgrade.name">
                                        <span v-if="this.formErrors['name']" class='d-block text-danger'>{{ this.formErrors['name'][0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class='form-group row'>
                                    <label for='number' class='col-sm-3 col-form-label text-md-right'>Card Number:</label>
                                    <div class='col-sm-9 Common_form_group'>
                                        <input id="number"
                                               type="text"
                                               class="form-control"
                                               required
                                               name="number"
                                               placeholder="Card Number"
                                               v-model="upgrade.number">
                                        <span v-if="this.formErrors['number']" class='d-block text-danger'>{{ this.formErrors['number'][0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class='form-group row'>
                                    <label for='expiry' class='col-sm-3 col-form-label text-md-right'>Expiration Date:</label>
                                    <div class='col-sm-9 Common_form_group'>
                                        <input id="expiry"
                                               type="text"
                                               class="form-control"
                                               required
                                               name="expiry"
                                               placeholder="MM/YY"
                                               v-model="upgrade.expiry" @keyup="setYrMonth">
                                        <span v-if="this.formErrors['expiry']" class='d-block text-danger'>{{ this.formErrors['expiry'][0] }}</span>
                                    </div>
                                </div>
                                <input type="hidden" data-stripe="exp_month" v-model="exp_month">
                                <input type="hidden" data-stripe="exp_year" v-model="exp_year">
                            </div>
                            <div class='col-md-12'>
                                <div class='form-group row'>
                                    <label for='cvc' class='col-sm-3 col-form-label text-md-right'>Secure Code (CVV2):</label>
                                    <div class='col-sm-9 Common_form_group'>
                                        <input id="cvc"
                                               type="text"
                                               class="form-control"
                                               required
                                               name="cvc"
                                               placeholder="CVC"
                                               v-model="upgrade.cvc">
                                        <span v-if="this.formErrors['cvc']" class='d-block text-danger'>{{ this.formErrors['cvc'][0] }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                          <div class='col-md-12'>
                              <div class="d-flex justify-content-end submit-btn">
                                  <button v-if="!loading" class="btn btn-success">
                                      Countinue
                                  </button>
                                  <button v-if="loading" class='btn btn-success'>
                                      <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                  </button>

                                  <button class="btn btn-danger" @click="payBoxHide">Close</button>
                              </div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import api from "../config/api";
    Stripe.setPublishableKey(window.STRIPE_KEY);
    export default {
        name: "Upgrade",
        data() {
            return {
                amount: '',
                paymentBox: false,
                loading: false,
                errorMessage: '',
                successMessage: '',
                formErrors: {},
                upgrade: {},
                stripeToken: '',
                exp_month: '',
                exp_year: '',
            }
        },
        created() {
            axios.get(api.setting)
            .then(res => {
                this.amount = res.data.upgrade_amount;
            })
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        },
        methods: {
            payBoxShow() {
                this.paymentBox = true
            },
            payBoxHide() {
                this.paymentBox = false
            },
            setYrMonth() {
                let expiryArr = this.upgrade.expiry.split('/');
                this.exp_month = expiryArr[0];
                this.exp_year = '20'+expiryArr[1];
            },
            makePayment() {
                this.formErrors = {};
                let THIS = this;
                if (this.stripeToken=='') {
                    Stripe.card.createToken({
                      number: this.upgrade.number,
                      cvc: this.upgrade.cvc,
                      exp_month: this.exp_month,
                      exp_year: this.exp_year
                    }, THIS.stripeResponseHandler);
                    return false;
                }
            },

            stripeResponseHandler (status, response) {
                if (response.error) {
                    this.errorMessage = response.error.message;
                } else {
                    this.stripeToken = response.id;
                    this.loading = true;

                    this.upgrade.paymentMethod = 'stripe';
                    this.upgrade.stripeToken = this.stripeToken;
                    axios.post(api.upgradeAccount, this.upgrade)
                    .then(res => {
                        this.upgrade = {};
                        this.successMessage = res.data.message;
                        if (res.data.success) {
                            this.loading = false;
                            this.paymentBox = false;
                        } else {
                            this.loading = false;
                        }

                    }).catch(err => {
                        this.loading = false;
                        if (err.response.data && err.response.data.errors) {
                            this.formErrors = err.response.data.errors;
                        }
                    });
                }
            }

        }
    }
</script>

<style scoped lang="scss">
    .d-flex {
        padding: 20px 0;
    }
</style>
