<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {}
</script>
<style scoped lang="scss">
    .profile_component {
        .card {
            .card-header {
                height: 50px;
                align-items: center;
                display: flex;
                padding-left: 20px;
                font-weight: bold;
                margin-bottom: 0;
                background-color: #f3f3f3;
                border-bottom: 1px solid #c8c8c8;
            }
        }
    }
</style>
