<template>
  <div class="inner-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="educational-program">
          <div class="head-text">Educational Programs for Message Blasting</div>
          <div class="box-y">
            <div class="inner-text">Select Educational Programs on which below criteria applies</div>
            <div class="inner-text">Here is List of Educational Programs having Automation Criteria Defined</div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Educational Level</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th><input type="checkbox"></th>
                <td>BS in Computer Science</td>
                <td>Under Graduate</td>
                <td>BSCS (Computer Science)</td>
              </tr>
              <tr>
                <th><input type="checkbox" class="form-controll"></th>
                <td>BS in Computer Science</td>
                <td>Under Graduate</td>
                <td>BSCS (Computer Science)</td>
              </tr>
              <tr>
                <th><input type="checkbox" class="form-controll"></th>
                <td>BS in Computer Science</td>
                <td>Under Graduate</td>
                <td>BSCS (Computer Science)</td>
              </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="divider"></div>
          <br>
          <div class="box-b">
            <div class="inner-text">Message</div>
            <div class="margin-10"></div>
            <div class="inner-text"><span class="float-left mr-2">Message Blast to all</span>
              <span class="float-left mr-2">
                <select name="type_s" id="type_S" style="width: 150px;" class="form-control">
                  <option value="">Conected</option>
                </select>
              </span>
              Students
            </div>
            <br>
            <div class="form-group">
              <textarea name="msg" id="msg" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group text-right">
              <label for="attachment" class="btn btn-connect"><i class="fa fa-file"></i> &nbsp; Add Attachment</label>
              <input type="file" id="attachment" name="attachment" hidden>
            </div>
          </div>
          <br>
          <button class="btn btn-success float-right">Send Message</button>
          <br>
        </div>
        <br>
      </div>
    </div>
  </div>
</template>

<script>
  //custom loading to this file
  import Vue from 'vue';
  // Import component
  import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
  // Init plugin
  Vue.use(Loading);

  import Multiselect from 'vue-multiselect';
  import api from "../../config/api";
  import InvitationMessage from "../common/InvitationMessage";
  import SocialMessage from "../common/SocialMessage";
  import Pagination from "../common/Pagination";
  import Navigation from "../finds/common/Navigation";
  import LocationForm from "../finds/common/LocationForm";

  export default {
    components: {LocationForm, Pagination, InvitationMessage, Multiselect, Navigation, SocialMessage},
    data() {
      return {

      }
    },
    methods: {

    },
    created() {
    }
  }
</script>

