<template>
  <div class="inner-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="educational-program">
          <div class="head-text">Educational Programs for Onboarding</div>
          <div class="box-y">
            <div class="inner-text">Select Educational Programs on which below criteria applies</div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Educational Level</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th><input type="checkbox"></th>
                <td>BS in Computer Science</td>
                <td>Under Graduate</td>
                <td>BSCS (Computer Science)</td>
              </tr>
              <tr>
                <th><input type="checkbox" class="form-controll"></th>
                <td>BS in Computer Science</td>
                <td>Under Graduate</td>
                <td>BSCS (Computer Science)</td>
              </tr>
              <tr>
                <th><input type="checkbox" class="form-controll"></th>
                <td>BS in Computer Science</td>
                <td>Under Graduate</td>
                <td>BSCS (Computer Science)</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="head-text">Specify Automatic Connection Crieteria for Educational Programs and Required Tests
          </div>
          <div class="box-b">
            <div class="inner-text">Degree, Grade and CGPA</div>
            <div class="divider"></div>
            <form action="">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="d_name" class="col-sm-5 col-form-label">Degree Name</label>
                    <div class="col-sm-7">
                      <select name="d_name" id="d_name" class="form-control">
                        <option value="">Computer Science (Auto Complete)</option>
                        <option value="">Computer Science (Auto Complete)</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="m_cgpa" class="col-sm-5 col-form-label">Minimum CGPA</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="m_cgpa">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="e_lvl" class="col-sm-5 col-form-label">Education Level</label>
                    <div class="col-sm-7">
                      <select name="d_name" id="e_lvl" class="form-control">
                        <option value="">Graduation (Auto Complete)</option>
                        <option value="">Graduation (Auto Complete)</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="m_per" class="col-sm-5 col-form-label">Minimum Percentage</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="m_per">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 text-right">
                  <button class="btn btn-success">Add</button>
                </div>
              </div>
            </form>
          </div>
          <br>
          <div class="box-b">
            <div class="inner-text">Required Edication, Degree, Grade and CGPA </div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Degree Name</th>
                <th>Educational Level</th>
                <th>CGPA</th>
                <th>Percentage</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>A-Level</td>
                <td>High School</td>
                <td>4 A's</td>
                <td>70%</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>A-Level</td>
                <td>High School</td>
                <td>4 A's</td>
                <td>70%</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>A-Level</td>
                <td>High School</td>
                <td>4 A's</td>
                <td>70%</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="box-g">
            <div class="inner-text">Test</div>
            <div class="divider"></div>
            <form action="">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="test_token" class="col-sm-4 col-form-label">Test Token</label>
                    <div class="col-sm-8">
                      <select name="test_token" id="test_token" class="form-control">
                        <option value="">IELTS (Auto Complete)</option>
                        <option value="">IELTS (Auto Complete)</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="m_score" class="col-sm-4 col-form-label">Minimum Score</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="m_score" name="m_score">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 text-right">
                  <button class="btn btn-success">Add</button>
                </div>
              </div>
            </form>
          </div>
          <br>
          <div class="box-y">
            <div class="inner-text">Required Tests</div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Test Name</th>
                <th>Minimum Score</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>IELTS</td>
                <td>5.5</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>TOFEL</td>
                <td>6</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="box-b">
            <div class="inner-text">Questions for Automation</div>
            <div class="divider"></div>
            <form action="">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="ques" class="col-sm-2 col-form-label">Question</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="ques" name="ques">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="type" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                      <select name="type" id="type" class="form-control">
                        <option value="">Free Text (Auto Complete)</option>
                        <option value="">Computer Science (Auto Complete)</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 text-right">
                  <button class="btn btn-success">Add</button>
                </div>
              </div>
            </form>
          </div>
          <br>
          <div class="box-b">
            <div class="inner-text">Question Table</div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Questions (Complete Text)</th>
                <th>Type</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Do you have any previous IT Certification ?</td>
                <td>Free Text</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Do you have any previous IT Certification ?</td>
                <td>Free Text</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Do you have any previous IT Certification ?</td>
                <td>Free Text</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Do you have any previous IT Certification ?</td>
                <td>Free Text</td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="divider"></div>
          <div class="float-right btn btn-success">Save Criteria & Question</div>
          <br>
          <br>
          <div class="box-g">
            <div class="inner-text">Program Criterias</div>
            <table class="table table-striped verttical-mdl">
              <thead>
              <tr>
                <th>Programs</th>
                <th>Admission Criteria</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div>MS Software Engineering</div>
                  <div>MS in Cyber Security</div>
                </td>
                <td>
                  <b>Educational:</b>
                  <div>BS Computer Science</div>
                  <div>CGPA: 3.0 </div>
                  <div>BS Software Engineering</div>
                  <div>CGPA: 3.0 </div>
                  <b>Required Tests</b>
                  <div>IELTS: 5.5</div>
                  <div>TOFEL: 6.0</div>
                </td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div>MS Software Engineering</div>
                  <div>MS in Cyber Security</div>
                </td>
                <td>
                  <b>Educational:</b>
                  <div>BS Computer Science</div>
                  <div>CGPA: 3.0 </div>
                  <div>BS Software Engineering</div>
                  <div>CGPA: 3.0 </div>
                  <b>Required Tests</b>
                  <div>IELTS: 5.5</div>
                  <div>TOFEL: 6.0</div>
                </td>
                <td class="text-right">
                  <a href="javascript:void(0)" class="btn btn-primary btn-radious">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-danger  btn-radious">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  //custom loading to this file
  import Vue from 'vue';
  // Import component
  import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
  // Init plugin
  Vue.use(Loading);

  import Multiselect from 'vue-multiselect';
  import api from "../../config/api";
  import InvitationMessage from "../common/InvitationMessage";
  import SocialMessage from "../common/SocialMessage";
  import Pagination from "../common/Pagination";
  import Navigation from "../finds/common/Navigation";
  import LocationForm from "../finds/common/LocationForm";

  export default {
    components: {LocationForm, Pagination, InvitationMessage, Multiselect, Navigation, SocialMessage},
    data() {
      return {

      }
    },
    methods: {

    },
    created() {
    }
  }
</script>

