<template>
    <div>
        <div class='row'>
            <div class='col-md-6'>
                <div class='form-group row'>
                    <label class='col-5 col-form-label text-md-right'>Department</label>
                    <div class='col-md-7 Common_form_group'>
                        <multiselect
                                id="department_id"
                                v-model="author.department"
                                :options="departments"
                                placeholder="Select department"
                                tag-placeholder="append"
                                label="title"
                                :show-labels="false"
                                track-by="title"
                                :taggable="true"
                                @tag="addNewDepartment"
                        >
                        </multiselect>
                    </div>
                    <template v-if="this.fErrors && this.fErrors['department_id']">
                                        <span class='d-block text-danger'
                                              v-for="error in this.fErrors['department_id']">{{ error}}</span>
                    </template>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='form-group row'>
                    <label for='institute_role_id' class='col-3 col-form-label text-md-right'>Role</label>
                    <div class='col-md-8 Common_form_group'>
                        <select name="institute_role_id" class="form-control" v-model="author.institute_role_id"
                                id="institute_role_id">
                            <option value="">Select role</option>
                            <option :value="role.id" v-for="role in roles">{{role.title}}</option>
                        </select>
                        <span class='d-block text-danger'
                              v-show="errors.has('institute_role_id')">{{ errors.first('institute_role_id') }}</span>
                        <template v-if="this.fErrors && this.fErrors['institute_role_id']">
                                <span class='d-block text-danger'
                                      v-for="error in this.fErrors['institute_role_id']">{{ error}}</span>
                        </template>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-10'>
                <div class='form-group row'>
                    <label class='col-10 col-form-label text-md-right'>Few details about the responsible
                        person (who is using this account) </label>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <div class='form-group row'>
                    <label for='name' class='col-5 col-form-label text-md-right'>Name</label>
                    <div class='col-md-7 Common_form_group'>
                        <input class="form-control"
                               type='text'
                               v-model='author.name'
                               name='name'
                               v-validate="'required'"
                               placeholder="name"
                               id='name'/>
                        <span class='d-block text-danger'
                              v-show="errors.has('name')">{{ errors.first('name') }}</span>
                        <template v-if="this.fErrors && this.fErrors['name']">
                                <span class='d-block text-danger'
                                      v-for="error in this.fErrors['name']">{{ error}}</span>
                        </template>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='form-group row'>
                    <label for='phone' class='col-3 col-form-label text-md-right'>Phone</label>
                    <div class='col-md-8 Common_form_group'>
                        <input class="form-control"
                               type='text'
                               v-model='author.phone'
                               name='phone'
                               v-validate="'required'"
                               placeholder="phone"
                               id='phone'/>
                        <span class='d-block text-danger'
                              v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
                        <template v-if="this.fErrors && this.fErrors['phone']">
                                <span class='d-block text-danger'
                                      v-for="error in this.fErrors['phone']">{{ error}}</span>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <div class='form-group row'>
                    <label for='email' class='col-5 col-form-label text-md-right'>Email</label>
                    <div class='col-md-7 Common_form_group'>
                        <input class="form-control"
                               type='email'
                               v-model='author.email'
                               name='email'
                               v-validate="'required|email'"
                               placeholder="email"
                               id='email'/>
                        <span class='d-block text-danger'
                              v-show="errors.has('email')">{{ errors.first('email') }}</span>
                        <template v-if="this.fErrors && this.fErrors['email']">
                                <span class='d-block text-danger'
                                      v-for="error in this.fErrors['email']">{{ error}}</span>
                        </template>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='form-group row'>
                    <label for='mobile' class='col-3 col-form-label text-md-right'>Mobile</label>
                    <div class='col-md-8 Common_form_group'>
                        <!-- <input v-validate="'required|min:7|max:14',{regex:/^\+?\d{8,11}(\d{2})?$/}" /> -->
                        <input class="form-control"
                               type='text'
                               v-model='author.mobile'
                               name='mobile'
                               v-validate="'required|min:7|max:14'"
                               placeholder="mobile"
                               id='mobile'/>
                        <span class='d-block text-danger'
                              v-show="errors.has('mobile')">{{ errors.first('mobile') }}</span>
                        <template v-if="this.fErrors && this.fErrors['mobile']">
                                <span class='d-block text-danger'
                                      v-for="error in this.fErrors['mobile']">{{ error}}</span>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class="d-flex justify-content-end mt-3">
                    <button v-if="!loading" class="btn btn-warning mr-3" @click="author={}">
                        Reset
                    </button>
                    <button v-if="!loading" class="btn btn-primary" @click="store">
                        Save
                    </button>
                    <button v-if="loading" class='btn btn-primary'>
                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import api from "../../config/api";

    export default {
        components: {Multiselect},
        props: {
            authorUser: {
                required: false,
                type: Object | Array
            }
        },
        data() {
            return {
                author: this.authorUser ? this.authorUser : {},
                fErrors: {},
                loading: false
            }
        },
        computed: {
            departments() {
                return this.$store.getters.departments;
            },
            roles() {
                return this.$store.getters.instituteRoles;
            },
        },
        mounted() {
            this.$store.dispatch('setDepartmentAction');
            this.$store.dispatch('setInstituteRoleAction');
        },
        methods: {
            addNewDepartment(newDepartment) {
                this.$store.dispatch('addNewDepartmentAction', {title: newDepartment})
            },
            store() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.author.department_id = 0;
                        if (this.author.department) {
                            this.author.department_id = this.author.department.id;
                        }

                        if (this.edit_id) {
                            this.updateAuthor();
                        } else {
                            this.edit_id = '';
                            this.postAuthor();
                        }
                    }
                });
            },
            updateAuthor() {
                axios.put(api.instituteAuthor + '/' + this.edit_id, this.author).then(response => {
                    this.loading = false;
                    this.edit_id = '';
                    this.author = {};
                    this.closeModal();
                }).catch(error => {
                    if (error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    this.loading = false;
                })

            },
            postAuthor() {
                axios.post(api.instituteAuthor, this.author).then(res => {
                    if (res.data) {
                        this.$store.dispatch('updateInstituteAuthorUserAction', res.data)
                    }
                    this.loading = false;
                    this.author = {};
                    this.closeModal();
                }).catch(error => {
                    if (error && error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    this.loading = false;
                })
            },
            closeModal() {
                this.$modal.hide('institute_author_user');
                this.edit_id = '';
            },
        }
    }
</script>

<style scoped>

</style>
