<template>
    <transition name="fade">
        <div class='institute_basic_information'>
            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :min-width="320"
                    width="60%"
                    height="auto"
                    name="institute_basic_information">

                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            School Basic Information
                        </div>
                        <div class="float-right">
                            <i @click="closeBasicInfoModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class='card-body popup_form'>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group"
                                     :class="errors.has('title') || (this.fErrors && this.fErrors['title'])?'has_error':''">
                                    <label>School Name</label>
                                    <input type="text"
                                           class="form-control"
                                           v-validate="'required'"
                                           name="title"
                                           v-model="basicInfo.title"
                                           placeholder="school name .."
                                    >
                                    <span class='d-block'
                                          v-show="errors.has('title')">{{ errors.first('title') }}</span>
                                    <template v-if="this.fErrors && this.fErrors['title']">
                                            <span class='d-block'
                                                  v-for="error in this.fErrors['title']">{{ error}}
                                            </span>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group">
                                    <label> Education Level</label>
                                    <multiselect
                                            id="education_level"
                                            v-model="basicInfo.education_level"
                                            :options="educationLevels"
                                            v-validate="'required'"
                                            name="education_level"
                                            data-vv-name="education_level"
                                            data-vv-as="education level"
                                            placeholder="Select one"
                                            tag-placeholder="append"
                                            label="title"
                                            :show-labels="false"
                                            track-by="title"
                                            :taggable="true"
                                            @tag="addNewEducationLevelAction"
                                    >
                                    </multiselect>
                                    <span class='d-block text-danger' v-show="errors.has('education_level')">{{ errors.first('education_level') }}</span>
                                    <template v-if="this.fErrors && this.fErrors['education_level']">
                                            <span class='d-block'
                                                  v-for="error in this.fErrors['education_level']">{{ error}}
                                            </span>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group"
                                     :class="errors.has('phone') || (this.fErrors && this.fErrors['phone'])?'has_error':''">
                                    <label>Phone number</label>
                                    <input type="text"
                                           class="form-control"
                                           v-validate="'required'"
                                           name="phone"
                                           v-model="basicInfo.phone"
                                           placeholder="xxxx..."
                                    />
                                    <span class='d-block'
                                          v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
                                    <template v-if="this.fErrors && this.fErrors['phone']">
                                            <span class='d-block'
                                                  v-for="error in this.fErrors['phone']">{{ error}}
                                            </span>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group"
                                     :class="errors.has('email') || (this.fErrors && this.fErrors['email'])?'has_error':''">
                                    <label>Email</label>
                                    <input type="email"
                                           class="form-control"
                                           v-validate="'required|email'"
                                           name="email"
                                           v-model="basicInfo.email"
                                           placeholder="abc@mail...."
                                    >
                                    <span class='d-block'
                                          v-show="errors.has('email')">{{ errors.first('email') }}</span>
                                    <template v-if="this.fErrors && this.fErrors['email']">
                                            <span class='d-block'
                                                  v-for="error in this.fErrors['email']">{{ error}}
                                            </span>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group"
                                     :class="errors.has('founded') || (this.fErrors && this.fErrors['founded'])?'has_error':''">
                                    <label>Founded</label>
                                    <input type="text"
                                           class="form-control"
                                           v-validate="'required'"
                                           name="founded"
                                           v-model="basicInfo.founded"
                                           placeholder="Year"
                                    >
                                    <span class='d-block'
                                          v-show="errors.has('founded')">{{ errors.first('founded') }}</span>
                                    <template v-if="this.fErrors && this.fErrors['founded']">
                                            <span class='d-block'
                                                  v-for="error in this.fErrors['founded']">{{ error}}
                                            </span>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group"
                                     :class="errors.has('total_students') || (this.fErrors && this.fErrors['total_students'])?'has_error':''">
                                    <label>Total Students</label>
                                    <input type="text"
                                           class="form-control"
                                           v-validate="'required'"
                                           name="total_students"
                                           v-model="basicInfo.total_students"
                                           placeholder="XXXXX"
                                    >
                                    <span class='d-block'
                                          v-show="errors.has('total_students')">{{ errors.first('total_students') }}</span>
                                    <template v-if="this.fErrors && this.fErrors['total_students']">
                                            <span class='d-block'
                                                  v-for="error in this.fErrors['total_students']">{{ error}}
                                            </span>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group Common_form_group"
                                     :class="errors.has('about') || (this.fErrors && this.fErrors['about'])?'has_error':''">
                                    <label>About</label>
                                    <textarea name="about" cols="30" rows="10"
                                              class="form-control"
                                              v-model="basicInfo.about"
                                              placeholder="About School"
                                    ></textarea>
                                    <span class='d-block'
                                          v-show="errors.has('about')">{{ errors.first('about') }}</span>
                                    <template v-if="this.fErrors && this.fErrors['about']">
                                            <span class='d-block'
                                                  v-for="error in this.fErrors['about']">{{ error}}
                                            </span>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group">
                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">Choose File</div>
                                            <div class="file-select-name" id="noFile">Logo</div>
                                            <input name="image"
                                                   id="chooseFile"
                                                   v-on:change="handleFileChange()"
                                                   accept="image/jpeg,image/png,image/*"
                                                   ref="file"
                                                   placeholder=""
                                                   type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div v-if="avaterUrl" class="user-avater">
                                    <img :src="avaterUrl" alt="">
                                    <button class="btn btn-info" @click="setActiveResize">Resize</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group">
                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName1">Choose File</div>
                                            <div class="file-select-name" id="noFile1">Header</div>
                                            <input name="cover_image"
                                                   id="chooseCoverFile"
                                                   v-on:change="handleCoverFileChange()"
                                                   accept="image/jpeg,image/png,image/*"
                                                   ref="cover_image"
                                                   placeholder=""
                                                   type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div v-if="coverUrl" class="user-avater">
                                    <img :src="coverUrl" alt="">
                                    <!--<button class="btn btn-info" @click="setActiveResize">Resize</button>-->
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end  mt-3">
                                    <button v-if="!loading" class="btn btn-primary"
                                            @click="postBasicInfo">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </modal>

            <div class='card'>
                <div class='card-header'>
                    School Basic Information
                </div>
                <div class='card-body'>
                    <div v-if="Object.keys(basicInfo).length" class='d-flex justify-content-end'>
                        <button @click="openBasicInfoModal" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                    <div v-else>
                        <div v-if="!Object.keys(basicInfo).length" class='d-flex justify-content-end'>
                            <button @click="openBasicInfoModal" class="btn btn-primary">
                                <i class='fa fa-plus'></i>
                            </button>
                        </div>
                    </div>
                    <template v-if="Object.keys(basicInfo).length">
                        <p>School Name: {{basicInfo.title}}</p>
                        <p>Education Level: <span v-if="basicInfo.education_level">{{basicInfo.education_level.title}}</span></p>
                        <p>Phone: {{basicInfo.phone}}</p>
                        <p>Email: {{basicInfo.email}}</p>
                        <p>Founded: {{basicInfo.founded}}</p>
                        <p>Total Students: {{basicInfo.total_students}}</p>
                        <p>Logo: <img :src="avaterUrl" class="img-thumbnail"></p>
                        <p>Header: <img :src="coverUrl" class="img-fluid" style="min-width: 400px"></p>
                        <p><b>About:</b> {{basicInfo.about}}</p>

                    </template>
                    <template v-else>
                        No School Information Available
                    </template>
                    <image-cropper
                            v-if="avaterUrl && activeResize"
                            :image="avaterUrl"
                            @uploadImage="uploadAvatar">
                    </image-cropper>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    :min-width="320"
                    height="auto"
                    width="60%"
                    name="institute_author_user">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Tell us your department
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body'>
                        <author-user-details :author-user="author"></author-user-details>
                    </div>
                </div>
            </modal>
            <div class='card' v-if="author">
                <div class='card-header'>
                    Few details about the responsible person (who is using this account)
                </div>
                <div class='card-body'>
                    <div v-if="Object.keys(author).length" class='d-flex justify-content-end'>
                        <button @click="openModal" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                    <p v-if="author.department">Department Name: {{author.department.title}}</p>
                    <p v-if="author.institute_role">Role: {{author.institute_role.title}}</p>
                    <p>Name: {{author.name}}</p>
                    <p>Phone: {{author.phone}}</p>
                    <p>Email: {{author.email}}</p>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import api from "../../config/api";
    import Multiselect from 'vue-multiselect'
    import slugify from '../../filters/Slugify'
    import AuthorUserDetails from "./AuthorUserDetails";
    import ImageCropper from "../common/ImageCropper";

    export default {
        components: {ImageCropper, AuthorUserDetails, Multiselect},
        data() {
            return {
                basicInfo: {},
                loading: false,
                fErrors: {},
                file: '',
                uploadAvater: '',
                uploadCoverData: '',
                imageUpload: false,
                activeResize:false
            }
        },
        methods: {
            instituteBasicInfo() {
                axios.get(api.institute + '/' + this.$store.getters.profile_id).then(response => {
                    this.basicInfo = response.data;
                })
            },
            openModal() {
                this.$modal.show('institute_author_user')
            },
            openBasicInfoModal() {
                this.$modal.show('institute_basic_information')
            },
            closeBasicInfoModal() {
                this.$modal.hide('institute_basic_information');
                this.activeResize=false;
            },
            closeModal() {
                this.$modal.hide('institute_author_user')
            },
            postBasicInfo(data) {

                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.basicInfo.education_level_id = this.basicInfo.education_level.id;
                        let test = this.$store.dispatch('addNewInstituteAction', this.basicInfo);
                        this.loading = false;
                        this.closeBasicInfoModal();

                    }
                });
            },
            addNewEducationLevelAction(newEducationLevel) {
                this.$store.dispatch('addNewEducationLevelAction', {title: newEducationLevel})
            },
            getProfileImage() {
                axios.get(api.avater + '/' + this.$store.getters.profile_id).then(response => {
                    if (response.data && response.data.length && response.data[0].filename)
                        this.uploadAvater = response.data[0].filename;
                })
            },
            handleFileChange() {
                this.file = this.$refs.file.files[0];
                this.uploadAvatar(this.file)
            },
            uploadAvatar(file){
                this.imageUpload = true;
                let formData = new FormData();
                formData.append('file', file);

                axios.post(api.avater, formData).then(res => {
                    if (res.data) {
                        this.uploadAvater = res.data.url;
                        this.$store.dispatch('setUserAvater', this.uploadAvater);
                    }
                    this.imageUpload = false;
                }).catch(error => {
                    this.imageUpload = false;
                });
            },
            handleCoverFileChange() { // Not completed yet
              this.file = this.$refs.cover_image.files[0];
              this.uploadCover(this.file)
            },
            uploadCover(file){ // Not completed yet
              this.imageUpload = true;
              let formData = new FormData();
              formData.append('file', file);

              axios.post(api.cover, formData).then(res => {
                if (res.data) {
                  this.uploadCoverData = res.data.url;
                  this.$store.dispatch('setUserCover', this.uploadCoverData);
                }
                this.imageUpload = false;
              }).catch(error => {
                this.imageUpload = false;
              });
            },
            setActiveResize(){
                this.$modal.hide('institute_basic_information');
                this.activeResize=true;
            }
        },
        mounted() {
            if (!this.institutes.length) {
                this.$store.dispatch('setInstituteAction');
            }
            if (!this.educationLevels.length) {
                this.$store.dispatch('setEducationLevelAction');
            }
            this.instituteBasicInfo();
            this.getProfileImage();
        },
        computed: {
            isFormDirty() {
                return Object.keys(this.fields).some(key => this.fields[key].dirty);
            },
            institutes() {
                return this.$store.getters.institutes;
            },
            educationLevels() {
                return this.$store.getters.educationLevels;
            },
            isEditable() {
                return Number(this.basicInfo.user_id) === Number(this.$store.getters.auth_user_id)
            },
            author() {
                return this.$store.getters.institute_author;
            },
            avaterUrl() {
                return this.$store.getters.authUser.avater;
            },
            coverUrl() {
                return this.$store.getters.authUser.cover;
            }
        },
    }
</script>

<style scoped lang="scss">
    .submit-btn {
        .btn {
            margin-right: -32px;
        }
    }

    img {
        max-width: 60px;
        max-height: 60px;
    }
</style>
