<template>
  <transition name="fade">
    <div class='institute_basic_information'>
      <modal
        transition="scale"
        :adaptive="true"
        :draggable="true"
        :scrollable="true"
        :min-width="320"
        height="auto"
        width="60%"
        name="institute_financial_info">
        <div class='card border-0'>
          <div class='card-header'>
            <div class="float-left">
              Financial Information
            </div>
            <div class="float-right">
              <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
          <!-- /.card-header -->
          <div class='card-body popup_form'>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group Common_form_group"
                     :class="errors.has('cost_of_tuition') || (this.fErrors && this.fErrors['cost_of_tuition'])?'has_error':''">
                  <label>Avg/Cost of Tuition/Year</label>
                  <input type="text"
                         class="form-control"
                         v-validate="'required'"
                         name="cost_of_tuition"
                         v-model="financialInfo.cost_of_tuition"
                         placeholder="USD"
                  >
                  <span class='d-block'
                        v-show="errors.has('cost_of_tuition')">{{ errors.first('cost_of_tuition') }}</span>
                  <template v-if="this.fErrors && this.fErrors['cost_of_tuition']">
                    <span class='d-block'
                          v-for="error in this.fErrors['cost_of_tuition']">{{ error}}
                    </span>
                  </template>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group Common_form_group"
                     :class="errors.has('cost_of_living') || (this.fErrors && this.fErrors['cost_of_living'])?'has_error':''">
                  <label>Cost of Living/Year</label>
                  <input type="text"
                         class="form-control"
                         v-validate="'required'"
                         name="cost_of_living"
                         v-model="financialInfo.cost_of_living"
                         placeholder="USD"
                  >
                  <span class='d-block'
                        v-show="errors.has('cost_of_living')">{{ errors.first('cost_of_living') }}</span>
                  <template v-if="this.fErrors && this.fErrors['cost_of_living']">
                    <span class='d-block'
                          v-for="error in this.fErrors['cost_of_living']">{{ error}}
                    </span>
                  </template>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group Common_form_group"
                     :class="errors.has('application_fee') || (this.fErrors && this.fErrors['application_fee'])?'has_error':''">
                  <label>*Application Fee</label>
                  <input type="text"
                         class="form-control"
                         v-validate="'required'"
                         name="application_fee"
                         v-model="financialInfo.application_fee"
                         placeholder="USD"
                  >
                  <span class='d-block'
                        v-show="errors.has('application_fee')">{{ errors.first('application_fee') }}</span>
                  <template v-if="this.fErrors && this.fErrors['application_fee']">
                    <span class='d-block'
                          v-for="error in this.fErrors['application_fee']">{{ error}}
                    </span>
                  </template>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group Common_form_group"
                     :class="errors.has('estimated_total') || (this.fErrors && this.fErrors['estimated_total'])?'has_error':''">
                  <label>Estimated Total/Year</label>
                  <input type="text"
                         class="form-control"
                         v-validate="'required'"
                         name="estimated_total"
                         v-model="financialInfo.estimated_total"
                         placeholder="USD"
                  >
                  <span class='d-block'
                        v-show="errors.has('estimated_total')">{{ errors.first('estimated_total') }}</span>
                  <template v-if="this.fErrors && this.fErrors['estimated_total']">
                    <span class='d-block'
                          v-for="error in this.fErrors['estimated_total']">{{ error}}
                    </span>
                  </template>
                </div>
              </div>
              <div class='col-md-12'>
                <div class="d-flex justify-content-end  mt-3">
                  <button v-if="!loading" class="btn btn-primary"
                          @click="postFinancialInfo">
                    Save
                  </button>
                  <button v-if="loading" class='btn btn-primary'>
                    <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </modal>
      <div class='card' v-if="author">
        <div class='card-header'>
          Few details about the responsible person (who is using this account)
        </div>
        <div class='card-body'>
          <div v-if="Object.keys(author).length" class='d-flex justify-content-end'>
            <button @click="openModal" class="btn btn-primary">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
          <p>Avg/Cost of Tuition/Year: USD ${{financialInfo.cost_of_tuition}}</p>
          <p>Cost of Living/Year: USD ${{financialInfo.cost_of_living}}</p>
          <p>*Application Fee: USD ${{financialInfo.application_fee}}</p>
          <p>Estimated Total/Year: USD ${{financialInfo.estimated_total}}</p>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import api from "../../config/api";

  export default {
    name: "FinancialInformation",
    data() {
      return {
        financialInfo: {},
        loading: false,
        fErrors: {},
      }
    },
    methods: {
      openModal() {
        this.$modal.show('institute_financial_info')
      },
      closeModal() {
        this.$modal.hide('institute_financial_info')
      },
      instituteFinancialInfo() {
        axios.get(api.institute + '/' + this.$store.getters.profile_id).then(response => {
          this.financialInfo = response.data;
        })
      },
      postFinancialInfo() {
        this.$validator.validateAll().then((valid) => {
          if (valid) {
            this.loading = true;
            this.financialInfo.education_level_id = this.financialInfo.education_level.id;
            let test = this.$store.dispatch('addNewInstituteAction', this.financialInfo);
            this.loading = false;
            this.closeModal();
          }
        });
      }
    },
    mounted() {
      this.instituteFinancialInfo();
    },
    computed: {
      isFormDirty() {
        return Object.keys(this.fields).some(key => this.fields[key].dirty);
      },
      institutes() {
        return this.$store.getters.institutes;
      },
      educationLevels() {
        return this.$store.getters.educationLevels;
      },
      isEditable() {
        return Number(this.financialInfo.user_id) === Number(this.$store.getters.auth_user_id)
      },
      author() {
        return this.$store.getters.institute_author;
      }
    },
  }
</script>

<style scoped>

</style>
