<template>
  <transition name="fade">
    <div class='user_programs_block'>

      <modal
        transition="scale"
        :adaptive="true"
        :draggable="true"
        :scrollable="true"
        :min-width="320"
        height="auto"
        width="60%"
        name="user_programs">
        <div class='card border-0'>
          <div class='card-header'>
            <div class="float-left">
              {{edit_id?'Update' :'Create'}} program
            </div>
            <div class="float-right">
              <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
          <div class='card-body popup_form'>
            <div class="box-b">
              <div class="inner-text">Program Details</div>
              <div class="divider"></div>
              <div class='row'>
                <div class='col-md-6'>
                  <div class='form-group Common_form_group row'>
                    <label for='title' class='col-md-3 col-form-label'>
                      Program Discipline
                    </label>
                    <div class='col-md-9 '>
                      <input class="form-control"
                             type='text'
                             v-model='program.title'
                             name='title'
                             v-validate="'required'"
                             placeholder="Program Discipline"
                             id='title'/>
                      <span class='d-block text-danger'
                            v-show="errors.has('title')">{{ errors.first('title') }}</span>
                      <template v-if="this.fErrors && this.fErrors['title']">
                        <span class='d-block text-danger' v-for="error in this.fErrors['title']">{{ error}}</span>
                      </template>
                    </div>
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class='form-group Common_form_group row'>
                    <label for='admission_date' class='col-md-3 col-form-label'>
                      Admission Date
                    </label>
                    <div class='col-md-9 '>
                      <input v-model='program.admission_date'
                             class="form-control"
                             type='date'
                             v-validate="'required'"
                             data-vv-as="admission date"
                             name='admission_date' id='admission_date'/>
                      <span class='d-block text-danger'
                            v-show="errors.has('admission_date')">{{ errors.first('admission_date') }}</span>
                      <template v-if="this.fErrors && this.fErrors['admission_date']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['admission_date']">{{ error}}</span>
                      </template>

                    </div>
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class='form-group Common_form_group row'>
                    <label for='fee' class='col-md-3 col-form-label '>Tution Fee</label>
                    <div class='col-md-9 '>
                      <input class="form-control"
                             type='number'
                             v-model='program.fee'
                             name='fee'
                             v-validate="'required'"
                             placeholder="Tution Fee"
                             id='fee'/>
                      <span class='d-block text-danger'
                            v-show="errors.has('fee')">{{ errors.first('fee') }}</span>
                      <template v-if="this.fErrors && this.fErrors['fee']">
                        <span class='d-block text-danger' v-for="error in this.fErrors['fee']">{{ error}}</span>
                      </template>
                    </div>
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class='form-group Common_form_group row'>
                    <label for='fee_F' class='col-md-3 col-form-label'>
                      Fee Frequency
                    </label>
                    <div class='col-md-9 '>
                      <select name="fee" id="fee_F" class="form-control">
                        <option value="">Per Semester</option>
                        <option value="" selected>Per Annual</option>
                        <option value="">One Time Fee</option>
                      </select>
                      <span class='d-block text-danger'
                            v-show="errors.has('admission_date')">{{ errors.first('admission_date') }}</span>
                      <template v-if="this.fErrors && this.fErrors['admission_date']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['admission_date']">{{ error}}</span>
                      </template>

                    </div>
                  </div>
                </div>

                <div class='col-md-6'>
                  <div class="form-group Common_form_group row">
                    <label for='branch' class='col-md-3 col-form-label '>Branch(s)</label>
                    <div class='col-md-9 '>
                      <input type="checkbox" v-model="allSelectedBranch" @click="selectAllBranch"
                             style="margin-left: 22px" id="branch">
                      <label for="branch">Select All Branches</label>
                      <div class="margin-9"></div>
                      <div class="brach-list">
                        <div class="form-group" v-for="(address, index) in addresses">
                          <input type="checkbox" v-model="branchIds" :id="`non_${index}`" :value="address.id">
                          <label :for="`non_${index}`">{{ address.address }}</label>
                        </div>
                      </div>
                      <!--<multiselect
                        id="address_id"
                        v-model="program.address"
                        :options="addresses"
                        placeholder="Select one"
                        label="address"
                        :show-labels="false"
                        track-by="address"
                        :taggable="true"
                      >
                      </multiselect>-->
                    </div>
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class='form-group Common_form_group row'>
                    <label for='education_level_id' class='col-md-3 col-form-label '>
                      Education Level
                    </label>
                    <div class='col-md-9'>
                      <select class="js-example-basic-multiple" id="education_level_id" name="education_levels[]"
                              style="width: 100%" multiple>
                        <option :value="item.id" v-for="item in educationLevels">{{ item.title }}</option>
                      </select>
                      <div class="margin-9"></div>
                    </div>
                  </div>
                </div>

                <div class='col-md-12'>
                  <div class='row Common_form_group'>
                    <label for='description'
                           class='col-md-2 col-form-label'>Description</label>
                    <div class='col-md-10 '>
                      <textarea name="description" class="form-control" rows="5" v-model="program.description"
                                id="description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="margin-9"></div>
                <div class="margin-9"></div>

                <div class='col-md-6'>
                  <div class='form-group Common_form_group row'>
                    <label for='process_days' class='col-md-3 col-form-label '>Process Days</label>
                    <div class='col-md-9 '>
                      <input class="form-control"
                             @keyup="process_days_limit(program.process_days)"
                             type='number'
                             v-model='program.process_days'
                             name='process_days'
                             v-validate="'required'"
                             placeholder="Process Days"
                             id='process_days'/>
                      <span class='d-block text-danger'
                            v-if="process_days_error">Min=1, Max=365</span>
                      <span class='d-block text-danger'
                            v-show="errors.has('process_days')">{{ errors.first('process_days') }}</span>
                      <template v-if="this.fErrors && this.fErrors['process_days']">
                        <span class='d-block text-danger'
                              v-for="error in this.fErrors['process_days']">{{ error}}</span>
                      </template>
                    </div>
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class='form-group Common_form_group row'>
                    <label for='application_fee' class='col-md-3 col-form-label'>Currency</label>
                    <div class='col-md-9 '>
                      <input class="form-control"
                             type='text'
                             v-model='program.application_fee'
                             name='application_fee'
                             v-validate="'required'"
                             placeholder="Application Fee"
                             id='application_fee'/>
                      <span class='d-block text-danger'
                            v-show="errors.has('application_fee')">{{ errors.first('application_fee') }}</span>
                      <template v-if="this.fErrors && this.fErrors['application_fee']">
                        <span class='d-block text-danger'
                              v-for="error in this.fErrors['application_fee']">{{ error}}</span>
                      </template>
                    </div>
                  </div>
                </div>

                <div class='col-md-12'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <div class="d-flex justify-content-end mt-3">
                        <button v-if="!loading" class="btn btn-warning mr-3" @click="program={}">
                          Reset
                        </button>
                        <button v-if="!loading" class="btn btn-primary" @click="store">
                          Save
                        </button>
                        <button v-if="loading" class='btn btn-primary'>
                          <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </modal>

      <div class='card'>
        <div class='card-header'>
          <div class="float-left">
            My programs
          </div>
          <div class="float-right">
            <div v-if="isEditable" class='d-flex justify-content-end'>
              <button @click="openProgram" class="btn btn-primary"><i
                class='fa fa-plus'></i>
              </button>
            </div>
          </div>
        </div>
        <div class='card-body'>

          <div v-if="programs.length" class='table-responsive'>
            <table class='table table-striped'>
              <thead>
              <tr>
                <th>Discipline</th>
                <th>Admission Date</th>
                <th>Fee</th>
                <th>Education Level</th>
                <th>Branch</th>
                <th>Description</th>
                <th v-if="isEditable">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in programs">
                <td>{{item.title}}</td>
                <td>{{item.admission_date}}</td>
                <td>{{item.fee}}</td>
                <td>{{item.education_levels ? item.education_levels.map(X => X.title).join(', '): ''}}</td>
                <td>{{item.address?item.address.address:''}}</td>
                <td>{{item.description}}</td>
                <td v-if="isEditable">
                  <button @click="editProgram(item.id)" class="btn btn-primary btn-radious"><i
                    class='fas fa-pencil-alt'></i></button>
                  <button @click="deleteProgram(item.id)" class="btn btn-danger btn-radious"><i
                    class='fa fa-trash'></i></button>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- table table-bordered -->
          </div>
          <h2 v-if="!programs.length" class="text-center">No program record found</h2>
        </div>
        <!-- /.card-body -->
        <!-- /.card-header -->
      </div>
    </div>
  </transition>
</template>
<script>
  import api from "../../config/api";
  import Multiselect from 'vue-multiselect'

  export default {
    components: {Multiselect},
    data() {
      return {
        program: {},
        programs: [],
        edit_id: '',
        loading: false,
        process_days_error: false,
        fErrors: {},
        addresses: [],
        errorMsg: false,
        education_levels: [],
        allSelectedBranch: false,
        branchIds: [],
      }
    },
    mounted() {
      this.programList();
      this.addressList();
      this.$store.dispatch('setEducationLevelAction');
    },
    methods: {
      process_days_limit(process_days) {
        if (process_days > 365) {
          this.process_days_error = true;
          this.program.process_days = 45
        } else {
          this.process_days_error = false;
        }
        console.log(process_days)
      },
      store() {
        this.$validator.validateAll().then((valid) => {
          if (valid) {
            this.loading = true;
            this.program.address_id = 0;
            this.program.branches = this.branchIds;
            if (this.program.address) {
              this.program.address_id = this.program.address.id;
            }

            this.program.education_levels = $('#education_level_id').val();

            if (this.edit_id) {
              this.updateProgram();
            } else {
              this.edit_id = '';
              this.postProgram();
            }
          }
        });
      },
      updateProgram() {
        axios.put(api.institutePrograms + '/' + this.edit_id, this.program).then(response => {
          this.loading = false;
          this.edit_id = '';
          this.program = {};
          this.closeModal();
          this.programList();
        }).catch(err => {
          if (err.response && err.response.data && err.response.data.errors) {
            this.fErrors = err.response.data.errors;
          }
          this.loading = false;
        })

      },
      postProgram() {
        axios.post(api.institutePrograms, this.program).then(response => {
          this.loading = false;
          this.program = {};
          this.closeModal();
          this.programList();
        }).catch(err => {
          if (err.response && err.response.data && err.response.data.errors) {
            this.fErrors = err.response.data.errors;
          }
          this.loading = false;
        })
      },
      selectAllBranch() {
        this.branchIds = [];

        if (!this.allSelectedBranch) {
          for (let branch in this.addresses) {
            this.branchIds.push(this.addresses[branch].id);
          }
        }
      },
      programList() {
        axios.get(api.institutePrograms).then(response => {
          if (response.data.success) {
            this.programs = response.data.programs;
          } else {
            this.errorMsg = true;
          }
        })
      },
      deleteProgram(id) {
        axios.delete(api.institutePrograms + '/' + id).then(response => {
          this.programList();
        })
      },
      editProgram(id) {
        let program = this.programs.find(program => program.id === id);
        this.program = {...program};
        this.edit_id = program.id;
        this.branchIds = program.branches.map(item => item.id);
        this.openProgram();
      },

      openProgram() {
        if (this.errorMsg) {
          toastr.error('Fill your School Basic Information First!');
          return;
        }
        this.$modal.show('user_programs');
        setTimeout(() => {
          let education_levels = [];
          if (this.program.education_levels) {
            education_levels = this.program.education_levels.map(item => item.id);
          }
          $('#education_level_id').select2();
          $('#education_level_id').val(education_levels).trigger('change');
        }, 100);
      },
      closeModal() {
        this.$modal.hide('user_programs');
        this.edit_id = '';
        this.program = {};
        this.branchIds = [];
      },
      addNewEducationLevelAction(newEducationLevel) {
        this.$store.dispatch('addNewEducationLevelAction', {title: newEducationLevel})
      },
      addressList() {
        axios.get(api.address + '/' + this.$store.getters.profile_id).then(response => {
          this.addresses = response.data;
        })
      },

    },
    computed: {
      isEditable() {
        return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
      },
      requireIf() {
        return !this.program.continue ? 'required' : '';
      },
      educationLevels() {
        return this.$store.getters.educationLevels;
      }
    },
  }
</script>
<style>
  .multiselect__tags {
    padding: 4px 26px 0 4px;
  }
</style>
