<template>
  <transition name="fade">
    <div class='user_programs_block'>
      <div class='card'>
        <div class='card-header'>
          <div class="float-left">
            Sub Account Requests
          </div>
          <div class="float-right"></div>
        </div>
        <div class='card-body'>
          <div v-if="accounts !== null" class='table-responsive'>
            <table class='table table-bordered'>
              <tr>
                <th>Account Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Approval</th>
              </tr>
              <tr v-for="item in accounts">
                <td>{{item.name}}</td>
                <td>{{item.user_name}}</td>
                <td>{{item.email}}</td>
                <td>
                  <button @click="updateApproval(item.id)" class="btn"
                          :class="(item.approved == 1) ? 'btn-success' : 'btn-warning'">
                    {{item.approved === 1 ? 'Approved' : 'Not Approved'}}
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <h2 v-if="accounts === null" class="text-center">No Sub Account Request</h2>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </transition>
</template>
<script>
  import api from "../../config/api";

  export default {
    components: {},
    data() {
      return {
        loading: false,
        errorMsg: false,
        accounts: null
      }
    },
    beforeCreate() {
    },
    mounted() {
      if (this.$store.getters.userSession.hasOwnProperty('isChild')) {
        this.$router.push({name: "User Profile"});
      } else {
        this.accountRequests();
      }
    },
    methods: {
      accountRequests() {
        axios.get(api.accountRequests).then(response => {
          if (response.data.success) {
            this.accounts = response.data.data;
          } else {
            this.errorMsg = true;
          }
        });
      },
      updateApproval(id) {
        axios.post(api.accountRequestsChangeStatus + '/' + id).then(response => {
          if (response.data.success) {
            this.accountRequests();
          } else {
            this.errorMsg = true;
          }
        });
      }
    },
    computed: {},
  }
</script>
<style scoped>

</style>
