<template>
    <div class="wrapper">
        <nav aria-label="Page navigation example" class="yourdiv">
            <ul class="pagination">
                <li class="page-item" v-if="pagination_data.current_page > 1">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" v-on:click.prevent="changePage(pagination_data.current_page - 1)">
                        <span aria-hidden="true">«</span>
                        </a>
                    </li>
                <li class="page-item" :key="page" v-for="page in pagesNumber" :class="{'active': page == pagination_data.current_page}">
                    <a class="page-link" href="javascript:void(0)" v-on:click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                <li class="page-item" v-if="pagination_data.current_page < pagination_data.last_page">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" v-on:click.prevent="changePage(pagination_data.current_page + 1)">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
  export default{
      props: {
      pagination_data: {
          type: Object,
          required: true
      },
      offset: {
          type: Number,
          default: 4
      }
    },
    computed: {
      pagesNumber() {
        if (!this.pagination_data.to) {
          return [];
        }
        let from = this.pagination_data.current_page - this.offset;
        if (from < 1) {
          from = 1;
        }
        let to = from + (this.offset * 2);
        if (to >= this.pagination_data.last_page) {
          to = this.pagination_data.last_page;
        }
        let pagesArray = [];
        for (let page = from; page <= to; page++) {
          pagesArray.push(page);
        }
          return pagesArray;
      }
    },
    methods : {
      changePage(page) {
        this.pagination_data.current_page = page;
        this.$emit('paginate');
      }
    }
  }
</script>
