<template>
    <div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" v-if="auth">
                <template v-for="list in connections">
                    <router-link
                            :to="{name:list.name}"
                            :class="{'active':currentRoute===list.name}"
                            class="nav-item nav-link">
                        {{list.title}}
                    </router-link>
                </template>
            </div>
        </nav>
    </div>
</template>

<script>
    import api from "../../../config/api";

    export default {
        computed: {
            currentRoute() {
                return this.$router.currentRoute.name;
            },
            auth() {
                return this.$store.getters.authUser;
            },
            connections() {
                // if (this.auth.role_id==2) {
                //     this.lists.push({
                //         name: 'Find Mutual Friend',
                //         index: {[api.STUDENT_ROLE]: 4},
                //         title: 'Mutual Friend'
                //     })
                // }

                return this.lists.sort((a, b) => {
                    return a.index[this.auth.role_id] - b.index[this.auth.role_id];
                });
            }
        },
        data() {
            return {
                lists: [
                    {
                        name: 'E-Learning',
                        index: {[api.STUDENT_ROLE]: 1, [api.TUTOR_ROLE]: 3, [api.SCHOOL_ROLE]: 3},
                        title: 'E-Learning'
                    },
                    {
                        name: 'Find Institute',
                        index: {[api.STUDENT_ROLE]: 1, [api.TUTOR_ROLE]: 3, [api.SCHOOL_ROLE]: 3},
                        title: 'Schools'
                    },
                   /*  {
                        name: 'Find Tutors',
                        index: {[api.STUDENT_ROLE]: 2, [api.TUTOR_ROLE]: 1, [api.SCHOOL_ROLE]: 2},
                        title: 'Tutors'
                    }, */
                    {
                        name: 'Find Student',
                        index: {[api.STUDENT_ROLE]: 3, [api.TUTOR_ROLE]: 2, [api.SCHOOL_ROLE]: 1},
                        title: 'Students'
                    },
                    {
                        name: 'Social Media Link',
                        index: {[api.STUDENT_ROLE]: 5, [api.TUTOR_ROLE]: 4, [api.SCHOOL_ROLE]: 4},
                        title: 'Social Media'
                    }
                ]
            }
        }
    }
</script>
