<template>
    <transition name="fade">
      <div class="custom_connection_img_area" v-if="show">
          <div class="custom_connection_img_wrapper clearfix">
              <div class="custom_connection_img">
                  <template v-if="invitation.recipient">
                      <router-link :to="{ name: 'userPublicProfile', params: { userName: invitation.recipient.user_name }}">
                          <img :src="invitation.recipient.avater" alt="">
                      </router-link>
                      <h2>
                          <template v-if="invitation.recipient.name">
                              <router-link :to="{ name: 'userPublicProfile',
                              params: { userName: invitation.recipient.user_name }}">
                                  {{invitation.recipient.name}}
                              </router-link>
                          </template>
                          <template v-else>{{invitation.recipient.role.title}}</template>
                      </h2>

                      <!-- <template v-if="invitation.program">
                          <span><img :src="APP_URL+'/images/connection_ic9.png'" alt="">{{invitation.program.title}}</span>
                      </template>-->
                      <template v-if="invitation.recipient.address">
                            <span>
                              <img :src="APP_URL+'/images/connection_ic10.png'" alt="" v-if="invitation.recipient.address">

                              <template
                                      v-if="typeof invitation.recipient.address==='object' && invitation.recipient.address.country">
                                {{invitation.recipient.address.city}},  {{invitation.recipient.address.country.title}}
                              </template>

                              <template
                                      v-if="invitation.recipient.address.length && invitation.recipient.address.constructor ===Array && invitation.recipient.address[0].country">
                                  {{invitation.recipient.address[0].city}}, {{invitation.recipient.address[0].country.title}}
                              </template>

                            </span>
                      </template>
                  </template>
              </div>
              <div class="connection_msg">
                  <a v-if="invitation.ignore">Ignored</a>
                  <a @click="cancelRequest" :class="{'disabled':invitation.accept}" v-else>Cancel</a>
              </div>
          </div>
          <slot></slot>
      </div>
    </transition>
</template>

<script>
    import api from "../../../config/api";

    export default {
        name: "SinglePendingRequest",
        props: {
            invitation: {
                required: true,
                type: Object
            }
        },
        data() {
            return {
                APP_URL: window.APP_URL,
                show: true,
                SOCKET_NAME: window.SOCKET_NAME,
                socket : null
            }
        },
        mounted() {
            this.socket = io.connect(this.SOCKET_NAME);
        },
        methods: {
            cancelRequest() {
                let self = this;
                axios.patch(api.cancelInvitationRequest,
                    {id: this.invitation.id, status: false}).then(res => {
                    if (res.data)
                        this.$set(this.invitation, 'cancel', true)
                        self.show = false;

                        this.socket.emit('friendRequest', {'to' : this.invitation.recipient_id});
                });
            },
        }
    }
</script>

<style scoped>
    .custom_connection_img {
        padding-left: 0;
    }
    .custom_connection_img a img {
        max-height: 47px;
        max-width: 47px;
        position: inherit !important;
        float: left;
        margin-right: 15px;
    }
    .custom_connection_img h2 a {
        position: relative;
        top: 10px;
    }
</style>
