<template>
    <div class="connection_main_content custom_connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"></navigation>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="analysis_area">
                    <div class="authorization">
                        <h2>Explore Social Media</h2>
                        <p v-if="callbackMsg!=''" class="text-center text-danger"><strong>{{callbackMsg}}</strong></p>
                        <div class="analyse_social_menu">
                            <ul class="clearfix">
                                <li>
                                  <a v-if="!authenticatedTwitter" href="/twitter/login/">Connect Twitter</a>
                                  <a v-else href="#">Connected with Twitter</a>
                                </li>
                                <!-- <li><a href="#">Connect Facebook</a></li>
                                <li><a href="#">Connect Linkedin</a></li>
                                <li><a href="#">Connect Instagram</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <br>
                    <br>
                    <h2>
                        Upon login by relevant social media account that tab will be shown on the user
                        Only logged in user can search or perform others action
                    </h2>

                    <div class="analysis_search">
                        <input type="text" v-model="query" class="form-control" placeholder="Search Keyword, User or Hashtag">
                        <button v-if="!loading" @click="searchData">Search</button>
                        <button v-if="loading">
                            <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                        </button>
                    </div>
                    <div class="analyse_social_area">
                        <div class="analyse_social_menu">
                            <tabs>
                                <tab name="twitter" @twitter_issue="loggedIn.twitter = false" @click.prevent="openTab('twitter')" :selected="tab['twitter']">
                                    <div v-if="loggedIn.twitter" class="social_analyse_description_area">
                                        <tweets :query="query" v-if="auth && auth.id" ref="searchData"></tweets>
                                    </div>
                                    <p class="alert alert-info" v-else>
                                        Please log in to twitter to see related results
                                    </p>
                                </tab>
                                <!-- <tab name="facebook" @click.prevent="openTab('facebook')" :selected="tab['facebook']">
                                    <div v-if="loggedIn.facebook">
                                        <h3>Facebook news feed</h3>
                                    </div>
                                    <p class="alert alert-info" v-else>
                                        Please log in to facebook to see related results
                                    </p>
                                </tab>
                                <tab name="linkedin" @click.prevent="openTab('linkedin')" :selected="tab['linkedin']">

                                    <div v-if="loggedIn.linkedin">
                                        <h3>linkedin news feed</h3>
                                    </div>
                                    <p class="alert alert-info" v-else>
                                        Please log in to linkedin to see related results
                                    </p>
                                </tab>
                                <tab name="instagram" @click.prevent="openTab('instagram')" :selected="tab['instagram']">

                                    <div v-if="loggedIn.instagram">
                                        <h3>instagram feed</h3>
                                    </div>
                                    <p class="alert alert-info" v-else>
                                        Please log in to instagram to see related results
                                    </p>
                                </tab> -->
                            </tabs>
                        </div>
                    </div>

                    <!-- <div class="analyse_msg_box">
                        <div>
                            <div class="form-group Common_form_group">
                                <VueMultiselect
                                        v-model="user"
                                        :options="users"
                                        placeholder="Search user to send message"
                                        :show-labels="false"
                                        track-by="id">
                                </VueMultiselect>
                            </div>
                        </div>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Message for the users..."></textarea>
                        <div class="row">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <button>Send</button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Navigation from "./Navigation";
    import VueMultiselect from "vue-multiselect/src/Multiselect";
    import Tabs from "./tabs";
    import Tab from "./tab";
    import Tweets from "./twitter/tweets";
    import axios from 'axios'

    export default {
        name: "SocialMediaLink",
        components: {Tweets, Tab, Tabs, VueMultiselect, Navigation},
        data() {
            return {
                loading: false,
                user: '',
                users: [
                    'test1',
                    'test6',
                    'test5',
                    'test4',
                    'test3',

                ],
                authenticated: {},
                authenticatedTwitter : false,
                query:'',
                callbackMsg:'',
                tab : {
                    'facebook' : false,
                    'twitter' : false,
                    'linkedin' : false,
                    'instagram' : false
                },
                loggedIn : {
                    'facebook' : true,
                    'twitter' : true,
                    'linkedin' : true,
                    'instagram' : true
                }
            }
        },
        mounted() {
            this.twitterAuthenticate();
            this.socialAuthenticate();
            if(this.$route.query.callback!='') {
                this.callbackMsg = this.$route.query.callback;
            }

            this.searchData();
        },
        computed:{
            auth() {
                return this.$store.getters.authUser;
            }
        },
        methods: {
            openTab(name){
                Object.keys(this.tab).forEach(item => {
                    if(item == name){
                        this.tab[item] = true;
                    } else {
                        this.tab[item] = false;
                    }
                })
            },
            twitterAuthenticate() {
                axios.get('/twitter/login-check')
                    .then(res => {
                        if(res.data.status) {
                            this.authenticatedTwitter = res.data.status;
                        }
                    })
            },
            socialAuthenticate() {
                axios.get('/social/authentication')
                    .then(res => {
                        this.authenticated = res.data;
                    })
            },
            searchData(){
                let default_query = '';
                if (this.auth && this.auth.role && this.auth.role.slug === 'student') {
                    if (this.auth.educations && this.auth.educations.length > 0) {
                        let lastKey = (this.auth.educations.length - 1);
                        if (this.auth.educations[lastKey].institute) {
                            default_query = this.auth.educations[lastKey].institute.title.toLowerCase()+' ';
                        }
                        default_query += this.auth.educations[lastKey].title.toLowerCase()
                    }
                }
                else if (this.auth && this.auth.role && this.auth.role.slug === 'tutor') {
                    if (this.auth.educations && this.auth.educations.length > 0) {
                        let lastKey = (this.auth.educations.length - 1);
                        if (this.auth.educations[lastKey].institute) {
                            default_query = this.auth.educations[lastKey].institute.title.toLowerCase();
                        }
                    }
                }
                let query = this.query.length > 0 ? this.query : default_query;

                if(query=='' || query.length == 0)
                    return;

                this.$refs.searchData.getRelatedSearchData(query);

                this.loading = true;
                axios.post('/facebook/search', {
                    query: query,
                    limit: 10
                }).then(res => {
                    this.loading = false;
                    if(!res.data.facebook.logged_in){
                        this.loggedIn.facebook = false
                    }
                }).catch(error => {
                    this.loading = false;
                })

                axios.post('/linkedin/search', {
                    query: query,
                    limit: 10
                }).then(res => {
                    if(!res.data.linkedin.logged_in) {
                        this.loggedIn.linkedin = false
                    }
                })

                axios.post('/instagram/search', {
                    query: query,
                    limit: 10
                }).then(res => {
                    if(!res.data.instagram.logged_in) {
                        this.loggedIn.instagram = false
                    }
                })
            }
        }
    }
</script>

<style>
    .analyse_social_area .analyse_social_menu li a {
        opacity: 0.5;
    }

    .analyse_social_area .analyse_social_menu ul .is-active a {
        opacity: 1;
    }
</style>
