/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES
02. HEADER
03. NAV
04. WELCOME SECTION
*/

/*---------------------------------------
COMMON STYLES
-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    /*    font-family: 'Gotham Book';*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover, a:focus {
    box-shadow: 0 0 transparent;
    text-decoration: none;
    color: inherit;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;

}

/********************************
    COMMON FORM STYLE
********************************/
.Common_form_group.has_error span {
    position: absolute;
    top: -11px;
    right: 26px;
    background: #e34f4f;
    font-weight: bold;
    color: #fff;
    padding: 4px 8px;
    text-transform: capitalize;
    font-size: 10px;
    border-radius: 3px;
}

.Common_form_group.has_error span b {
    position: absolute;
    bottom: -4px;
    left: 12px;
    width: 8px;
    height: 8px;
    background: #e34f4f;
    transform: rotate(45deg);
    z-index: 1;
}

.Common_form_group.has_error {
}

.Common_form_group label {
    color: #111;
    margin-bottom: 5px;
}

.Common_form_group input, .Common_form_group input:focus {
    color: #999999;
    font-size: 14.98px;
    border: none;
    border-bottom: 2px solid #e8ebed;
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    background: transparent;

}

.Common_form_group textarea, .Common_form_group textarea:focus {
    color: #8d8d8d;
    font-size: 18px;
    border: 2px solid #e8ebed;
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    font-weight: 300;
    background: transparent;

}

.Common_form_group select, .Common_form_group select:focus {
    color: #999999;
    font-size: 14.98px;
    border: none;
    border-bottom: 2px solid #e8ebed;
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select_arrow.png) 95% / 18px no-repeat;

}

.Common_form_group button.form_submit, .Common_form_group button.form_submit:focus {
    background: #49ca52;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    padding: 2px 25px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.Common_form_group button.form_submit2, .Common_form_group button.form_submit2:focus {
    background: #787878;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    padding: 2px 25px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.c_f_with_label label {
    color: #111;
    margin-bottom: 5px;
}

.c_f_with_label input, .c_f_with_label input:focus {
    border: 2px solid #e8ebed;
    padding-left: 15px;
}

.c_f_with_label select, .c_f_with_label select:focus {
    border: 2px solid #e8ebed;
    padding-left: 15px;
}

.c_f_with_label textarea, .c_f_with_label textarea:focus {
    border: 2px solid #e8ebed;
    padding-left: 15px;
}

.Common_form_group {
}

.form-group.form_checkbox label {
    color: #999999;
}

.form-group.form_checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group.form_checkbox label {
    position: relative;
    cursor: pointer;
}

.form-group.form_checkbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #999999;
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}

.form-group.form_checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid #999999;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-group.radio_button_inline {
    display: inline-block;
    margin-right: 15px;
}

.form-group.radio_button label {
    padding-left: 30px;
    color: #2b2b2b;
    line-height: 22px;
    letter-spacing: .025em;
    cursor: pointer;
    font-size: 14px;
}

.form-group.radio_button label span {
}

.form-group.radio_button [type="radio"]:checked,
.form-group.radio_button [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-group.radio_button [type="radio"]:checked + label,
.form-group.radio_button [type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.form-group.radio_button [type="radio"]:checked + label:before,
.form-group.radio_button [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid #2b2b2b;
    border-radius: 100%;
    background: #fff;
}

.form-group.radio_button [type="radio"]:checked + label:after,
.form-group.radio_button [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #2b2b2b;
    position: absolute;
    top: 7px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-group.radio_button [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-group.radio_button [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gj-datepicker-md {
    width: 100% !important;
}

.gj-datepicker-md input {
    padding: 9px 15px;
}

.gj-datepicker-md [role=right-icon] {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 24px;
    background: red;
    font-size: 0;
    width: 26px;
    height: 28px;
    background: url(../images/calender_ic.png);
}

.file-upload {
    display: block;
    text-align: center;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border-bottom: 2px solid #e8ebed;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    position: absolute;
    right: 11px;
    top: 4px;
    font-size: 24px;
    background: red;
    font-size: 0;
    width: 22px;
    height: 24px;
    background: url(../images/file_up.png);
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
    color: #999999;
    font-size: 14.98px;
    border: none;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*---------------------------------------
    HEADER
-----------------------------------------*/
.header_area {
    border-bottom: 3px solid #ebeff2;
}

.header_top {
    background: #a1a1a1;
    padding: 8px 0;
}

.header_top_inner ul {
    text-align: center;
}

.header_top_inner ul li {
    display: inline-block;
    margin: 0 6px;
}

.header_top_inner ul li a {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    color: #a1a1a1;
    display: block;
    padding-top: 3px;
    font-size: 17px;
}

.header_top_inner ul li a {
}

.custom_container {
    position: relative;
}

.custom_container {
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-link {
    font-size: 16.16px;
    color: #2a2a2a !important;
    padding: 5px 30px !important;
    /*font-family: 'Gotham Book';*/
    position: relative;
}

.right_nav {
    padding-right: 90px;
}

.right_nav {
}

.header_search {
    position: absolute;
    top: 29px;
    right: 15px;
    padding-left: 0;
}

.header_search a:first-child {
    border: none;
    margin: 0;
    padding: 0;
}
.header_search a {
    color: #2a2a2a;
    position: relative;
    border-left: 1px solid #9a9a9a;
    padding-left: 10px;
    margin-left: 8px;
    display: inline-block;
}
.header_search a i{
    color: #2a2a2a;
    font-size: 25px;
}
.header_search a span{
    font-size: 10px;
    color: #fff;
    background: #ce4454;
    position: absolute;
    top: -5px;
    right: -6px;
    width: 15px;
    height: 15px;
    display: block;
    text-align: center;
    border-radius: 50%;
}
.header_search a img{
    width: 22px;
    position: relative;
    margin-top: -11px;
}
.header_search a img{}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner_area {
}

.banner_area img {
    width: 100%;
}

.my_account {
    position: absolute;
    top: 0;
    right: 20px;
}

.header_nav .dropdown > a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 2px 0 5px;
}

.header_nav .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 12px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.header_nav .dropdown {
}

.header_nav ul {
    position: relative;
    text-align: right;
}

.header_nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    min-width: 200px;
    font-size: 1rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}

.header_nav .dropdown-menu ul li {
}

.header_nav .dropdown-menu ul li:last-child a {
    border-bottom: 0 solid #e3e3e3;
}

.header_nav .dropdown-menu ul li a {
    display: block;
    text-decoration: none;
    color: #343434;
    padding: 4px 13px;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}

/***********************************
    SIDE MENU
************************************/

.left_menu {
    margin-bottom: 40px;
}

.left_menu > ul {
/*    border: 2px solid #3883b3;*/
    border-bottom: 0;
}

/*.left_menu ul .active,
.left_menu li .active {
    border-left: 0 solid #e1ffff;
    background-color: #3883b3;
    color: #fff !important;
}*/

.left_menu .menu-content > li:last-child {
    border: none;
}
.left_menu .menu-content > li {
    display: block;
    text-decoration: none;
    color: #343434;
    padding: 9px 15px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 2px solid #D4D8DB;
    position: relative;
    text-transform: capitalize;
    background: #EBEFF2;
}

/*.left_menu .menu-content > li.has_child {
    border-bottom: 1px solid #3883b3;
}

.left_menu .menu-content > li.has_child.collapsed {
    border-bottom: 2px solid #3883b3;
}

.left_menu .menu-content > li:hover {
    background: #3883b3;
    color: #fff;
}

.left_menu .menu-content > li:hover a {
    background: #3883b3;
    color: #fff;
}*/
/*
.left_menu .menu-content li i, .left_menu .menu-content li a i {
    padding-right: 5px;
}*/

.left_menu .menu-content li a {
    color: #343434;
    font-weight: 500;
}

/*.left_menu .menu-content li.active a {
    color: #fff;
}

.left_menu .menu-content li.active a:hover {
    background: #3883b3;
    color: #fff;
}*/

/*.left_menu .menu-content > li.has_child:before {
    position: absolute;
    content: "";
    width: .5em;
    height: .5em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: initial;
    right: 1em;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    top: 50%;
    transition: all .3s ease-out;

}

.left_menu .menu-content > li.has_child.collapsed:after {
    position: absolute;
    content: "";
    width: .5em;
    height: .5em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: initial;
    right: 1em;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    top: 50%;
    transition: all .3s ease-out;
}*/

/*.left_menu .menu-content > li:hover,
.left_menu .menu-content > li:active,
.left_menu .menu-content > li:focus {
    text-decoration: none;
}

.left_menu ul ul.sub-menu {
}

.left_menu li .sub-menu li a,
.left_menu ul .sub-menu li a {
    display: block;
    text-decoration: none;
    color: #343434;
    padding: 10px 15px 10px 30px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #3883b3;
    position: relative;
    text-transform: capitalize;
}

.left_menu ul .sub-menu a:hover {
    background: #3883b3;
    color: #fff;
}*/

/*---------------------------------
    RIGHT CHAR BOX
---------------------------------*/
.right_chat_box {
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 20;
}

.right_chat_box {
}

.right_chat_box ul.chat_llst > h2 {
    font-weight: 500;
    color: #fff;
    background: #3883b3;
    padding: 9px 15px 9px 0;
    height: 40px;
}

.right_chat_box ul.chat_llst > h2 b {
    font-size: 0;
    opacity: 0;
    position: relative;
    top: -15px;
}

.right_chat_box ul.chat_llst > h2 span {
    float: right;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.right_chat_box ul.chat_llst > h2 span.close_chat {
    display: block;
}

.right_chat_box ul.chat_llst {
    background: #ebeff2;
    padding: 0;
    border: 1px solid #3883b3;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.toogle_chat {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.right_chat_box ul.chat_llst li {
    margin-bottom: 0;
}

.right_chat_box ul.chat_llst li.active a {

}

.right_chat_box ul.chat_llst li a {
    position: relative;
    color: #525252;
    padding: 5px 0 5px 15px;
    display: block;
    border-bottom: 1px solid #d0d0d0;
}

ul.chat_llst.toogle_chat > h2 {
    padding: 9px 15px;
}

ul.chat_llst.toogle_chat > h2 b {
    font-size: 18px;
    opacity: 1;
}

/*ul.chat_llst.toogle_chat > h2 span{
    display: block;
}*/
ul.chat_llst.toogle_chat li a {
    padding: 5px 130px 5px 15px;
}

ul.chat_llst li a span {
    font-size: 0;
}

ul.chat_llst.toogle_chat li a span {
    font-size: 12px;
}

.right_chat_box ul.chat_llst li a:before {
    position: absolute;
    top: 11px;
    left: 13px;
    width: 7px;
    height: 7px;
    background: #8d8d8d;
    border: 1px solid #fff;
    border-radius: 50%;
    content: "";
}

/*.right_chat_box ul.chat_llst li a:before{
    position: absolute;
    top: 1px;
    left: 0;
    width: 7px;
    height: 7px;
    background: #8d8d8d;
    border: 1px solid #fff;
    border-radius: 50%;
    content: "";
}*/
.right_chat_box ul.chat_llst li.active a:before {
    background: #f18121;
}

.right_chat_box ul.chat_llst li a img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

ul.chat_bottom_list {
    width: 68px;
    float: right;
}

ul.chat_bottom_list li a {
    padding: 20px 16px;
    background: red;
    display: block;
    text-align: center;
}

ul.chat_bottom_list li:nth-of-type(1) a {
    background: #8d8d8d;
}

ul.chat_bottom_list li:nth-of-type(2) a {
    background: #00609e;
}

ul.chat_bottom_list li:nth-of-type(2) a {
}

ul.chat_bottom_list li a {
}

/*---------------------------------
    MESSAGE POP UP
---------------------------------*/
.msg_popup {
    position: absolute;
    bottom: 0;
    right: 78px;
    width: 298px;
    background: #fff;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.msg_popup_title {
    background: #f18021;
    padding: 15px;
}

.msg_popup_title {
}

.msg_popup_title span {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.msg_popup_title span {
}

.msg_popup_title .chat_heading_dropdown {
    position: absolute;
    right: 30px;
    top: 17px;
}

.msg_popup_title .chat_heading_dropdown .dropdown-toggle::after {
    background: url(../images/chat_arrow2.png) no-repeat;
    width: 19px;
    height: 4px;
    border: none;
}

span.close_pop_up {
    position: absolute;
    top: 15px;
    right: 15px;
}

.msg_popup_content {
    min-height: 200px;
}
.popup_message_area {
    height: 200px;
    overflow-y: scroll;
}

.popup_message_area ul {
    padding: 0 25px;
}

.popup_message_area ul li:nth-child(odd) {
}

.popup_message_area ul li {
    position: relative;
    margin: 20px 0;

}

.popup_message_area ul li > img {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.popup_message_area ul li .message_text {
    background: #f9f9f9;
    border-radius: 10px 10px 10px 0;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

.popup_message_area ul li:nth-child(even) {
    text-align: right;
}

.popup_message_area ul li:nth-child(even) > img {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
}

.popup_message_area ul li:nth-child(even) .message_text {
    background: #3f51b5;
    border-radius: 10px 10px 0 10px;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: 60px;
}

.popup_message_area ul li:nth-child(even) > img {
}

.popup_message_area ul li .message_text p.message_text_details {
    color: #333333;
    font-size: 14px;
    margin: 10px 0;
}

.popup_message_area ul li .message_text p.message_date {
    color: #b8bfc7;
    font-size: 12px;
    margin-bottom: 5px;
}

.popup_message_area ul li:nth-child(even) p.message_text_details {
    color: #fff;
}

.popup_msg_textarea {
    border: 1px solid #dedede;
    position: relative;
    height: 54px;
}

.popup_msg_textarea {
}

.popup_msg_textarea textarea, .popup_msg_textarea textarea:focus {
    border-radius: 0;
    border: none;
    color: #6f6f6f;
    font-size: 12px;
    outline: 0;
    box-shadow: none;
    font-weight: 300;
    padding-right: 75px;
    resize: none;
    padding-top: 18px;
}

.popup_msg_textarea button i {
    color: #747671;
}

.popup_msg_textarea button {

}

.popup_upload {
    position: absolute;
    top: 14px;
    right: 45px;
    width: 30px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
}

.popup_upload button {
    position: absolute;
    top: 0;
    border-radius: 0;
    background: transparent !important;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.popup_upload button {
}

.popup_upload img {
}

.popup_upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.popup_emoji {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 18px;
    height: 18px;
}

.popup_emoji button, .popup_emoji button:focus {
    border: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.popup_emoji button {
}

.popup_emoji_content {
    position: absolute;
    width: 182px;
    right: 0;
    top: -34px;
    display: none;
}

.popup_emoji_content {
}

.popup_emoji_content a {
    display: inline-block;
    text-align: right;
    color: #f18021;
    font-size: 20px;
}

.popup_emoji_content a i {
}

/*---------------------------------
    MESSAGE NOTIFICATION
---------------------------------*/
.chat_notification {
    width: 380px;
    background: #fff;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 25px;
    position: absolute;
    left: 50%;
    margin-left: -190px;
    top: 167%;
    z-index: 30;
    display: none;
}

.chat_notification .nt_top_arrow {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 0;
    height: 0;
    border-color: transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px transparent;
    border-bottom: 14px solid #ebebeb;
    margin-left: -14px;
}

.chat_notification:after {
}

.chat_notification .nav {
    /*    border-bottom: 2px solid #ebebeb; */
    margin-bottom: 0;
}

.chat_notification .nav {
}

.chat_notification .nav-pills .nav-link {
    font-size: 11.99px;
    color: #6f6f6f;
    text-transform: uppercase;
    padding: 11px 20px !important;
    font-weight: 600;
}

.chat_notification .nav-pills .nav-link.active, .chat_notification .nav-pills .show > .nav-link {
    background: transparent;
}

.chat_notification .nav-pills .nav-link {
}

.chat_notification {
}

.chat_notification .tab-content {
}

.chat_notification .tab-content ul {
    height: 320px;
    overflow-y: scroll;
}

.chat_notification .tab-content ul li.active {
    background: #e8e8e8;
}

.chat_notification .tab-content ul li {
    padding: 25px 0;
    border-top: 1px solid #cfcfcf;
}

.chat_notification .tab-content ul li a {
    display: block;
    position: relative;
    padding: 0 25px;
    padding-left: 80px;
    color: #aaaaaa;

}

.chat_notification .tab-content ul li a h2 {
    font-size: 13.27px;
    color: #6f6f6f;
}

.chat_notification .tab-content ul li a p {
    font-size: 11.3px;
    color: #6f6f6f;
    margin-bottom: 0;
    padding-right: 10px;
}

.chat_notification .tab-content ul li a span {
}

.chat_notification .tab-content ul li a img {
    position: absolute;
    top: 0;
    left: 25px;
}

.chat_notification .tab-content ul li a img.nt_ic {
    position: absolute;
    top: 0;
    right: 25px;
    left: auto;
    width: 24px;
    height: 22px;
}

.notification_msg {
    z-index: 3;
    position: relative;
}

.notification_msg a {
    background: #f18021;
    padding: 15px;
    width: 100%;
    color: #fff;
    font-size: 13.33px;
    display: block;
    text-align: center;
    font-weight: 600;
}

/*--------------------------------
    FOOTER AREA
--------------------------------*/

.footer_area {
}



.footer_area {
}

.footer_newsletter {
    background: #585858;
    padding: 15px 0;
}

.footer_newsletter_inner {
}

.footer_newsletter_inner {
}

.footer_newsletter_inner h2 {
    font-size: 24.1px;
    display: inline-block;
    color: #fff;
    padding-top: 6px;
}

.newsletter_form {
    position: relative;
    padding-right: 160px;
}

.newsletter_form input, .newsletter_form input:focus {
    height: 44px;
    font-size: 16px;
    color: #585858;
    outline: 0;
    box-shadow: none;
    border: none;
}

.newsletter_form button, .newsletter_form button:focus {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    background: #fff;
    width: 140px;
    font-size: 14.97px;
    font-weight: 500;
    color: #585858;
    border-radius: 5px;
    text-transform: uppercase;
    outline: 0;
    border: none;
    box-shadow: none;
}

/*-----------------------------------
    FOOTER BOTTOM AREA
-----------------------------------*/

.footer_bottom_area {
    background: #f28f3a;
}

.footer_bottom_area {
    padding: 30px 0 15px;
    position: relative;
}

.footer_bottom_area:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 91px;
    height: 259px;
    background: url(../images/footer-bottom-bg.png) no-repeat;
    content: "";
}

.footer_menu_inner {
    z-index: 2;
    position: relative;
}

.footer_menu_inner h2 {
    font-size: 24.1px;
    color: #ffffff;
    line-height: 21px;
    margin-bottom: 13px;
}

.footer_menu_inner ul {
}

.footer_menu_inner ul li {
}

.footer_menu_inner ul li a {
    font-size: 18px;
    /* font-family: 'Gotham'; */
    color: #fff;
    font-weight: 300;
    padding: 5px 0;
    display: block;
}

.footer_menu_inner input, .footer_menu_inner input:hover, .footer_menu_inner input:focus {
    height: 33px;
    margin-top: 5px;
    outline: 0;
    box-shadow: none;
    border: none;
}

.footer_menu_inner textarea, .footer_menu_inner textarea:focus {
    box-shadow: none;
    outline: 0;
    border: none;
    margin-top: 5px;
    height: 80px;
    resize: none;
}

.footer_menu_inner button, .footer_menu_inner button:focus {
    width: 100%;
    height: 33px;
    background: #fff;
    outline: 0;
    box-shadow: none;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #f28f3a;
    margin-top: 5px;
    border-radius: 5px;
}

.footer_menu_inner button {
}

.footer_social {
    margin-top: -17px;
}

.footer_social ul {
}

.footer_social ul li {
    display: inline-block;
    margin: 0 6px;
}

.footer_social ul li:first-child {
    margin-left: 0;
}

.footer_social ul li a {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    color: #f28f3a;
    display: block;
    padding-top: 3px;
    font-size: 17px;
    text-align: center;
}

.footer_copyright {
    padding-top: 10px;
}

.footer_copyright p {
    font-size: 16px;
    color: #585858;
    font-weight: 300;
    margin-bottom: 10px;
}

.footer_copyright p a {
    color: #585858;
}

/********************************
    STUDENT PROFILE PAGE
********************************/
.student_banner {
    background: url(../images/student-profile-bg.png) no-repeat;
    background-size: cover;
    background-position: top center
}

.student_banner h2 {
    font-size: 40.59px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 23px 0;
    font-weight: 100;
}

.student_banner h2 span {
    font-weight: 800;
}

.student_banner h2 {
}

/*----------------------------
    STUDENT PROFILE AREA
-----------------------------*/
.student_profile_area {
    padding: 50px 0 40px
}

.student_profile_left {
}

.student_profile_left > h2 {
    font-size: 40px;
    font-weight: 500;
    color: #3b3b3b;
    margin-bottom: 30px;
}

.student_left_author {
}

.student_left_author img {
    float: left;
    margin-right: 50px;
}

.student_left_author_text {
}

.student_left_author_text p {
    font-size: 18.99px;
    color: #6f6f6f;
}

.student_left_author_text a {
    color: #1a8fcb;
    font-size: 18.99px;
}

.student_left_author_text h2 {
}

.student_left_author_text h2 span {
    display: inline-block;
    background: #f6f6f6;
    font-size: 18.99px;
    color: #6f6f6f;
    padding: 5px 10px;
    font-weight: 400;
    margin-top: 30px;
}

.student_left_author_text h2 span {
}

.student_left_author_text h2 span img {
    margin-right: 10px;
}

.student_left_author_text h2 span img {
}

/*-----------------------------------
    STUDENT PROFILE LEFT
-----------------------------------*/
.student_profile_left_list {
}

.student_profile_left_list > h2 {
    font-size: 25px;
    color: #3b3b3b;
    margin-top: 35px;
}

.student_profile_left_list_item {
    padding: 30px;
    background: #f1f1f1;
    padding-right: 140px;
}

.student_profile_left_list_item_inner {
    position: relative;
    padding-left: 85px;
}

.student_profile_left_list_item_inner img {
    position: absolute;
    top: 6px;
    left: 0;
}

.student_profile_left_list_item_inner h2 {
    font-size: 17px;
    font-weight: 500;
    color: #6f6f6f;
    margin-bottom: 0;
}

.student_profile_left_list_item_inner p {
    color: #3b3b3b;
    font-size: 17px;
    margin-bottom: 0;
    line-height: 22px;
}

.student_profile_left_list_item_inner p span {
    color: #3b3b3b;
    font-size: 14px;
    margin-bottom: 0;
}

p.student_profile_left_border {
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.student_profile_left_list_item ul {
    list-style: inherit;
    padding-left: 15px;
}

.student_profile_left_list_item ul li {
    font-size: 17px;
    font-weight: 500;
    color: #6f6f6f;
    margin-bottom: 0;
    width: 50%;
    float: left;
}

.student_profile_left_list_item ul li:nth-child(even) {
    float: right;
}

/*----------------------------------
    STUDENT PROFILE RIGHT
-----------------------------------*/
.student_profile_right {
}

.student_profile_right > p {
    font-size: 12.25px;
    color: #6f6f6f;
    text-align: right;
    margin-bottom: 40px;
}

.student_profile_right > p span {
    font-weight: 500;
    font-style: italic;
}

.student_profile_right > p span {
}

.student_profile_right > h2 {
    font-size: 25px;
    color: #3b3b3b;
    /*font-family: 'Gotham Book';*/
    font-weight: 400;
}

.student_profile_right_content {
    background: #57a2be;
    padding: 10px;
    text-align: right;
    margin-bottom: 5px;
    padding-right: 20px;

}

.student_profile_right_content h2 {
    font-size: 25.03px;
    color: #ffffff;
    margin-bottom: 0;
    font-weight: 300;
}

.student_profile_right_content h2 span {
    font-size: 14.03px;
    font-weight: 300;
}

.student_profile_right_content h1 {
    font-size: 47px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.orange_bg {
    background: #f18021;
}

.orange_bg {
}

/*********************************
    EDIT PROFILE PAGE
*********************************/
.student_profile_left_list_item_inner {
}

.student_profile_left_list_item_inner button, .student_profile_left_list_item button {
    position: absolute;
    bottom: -31px;
    right: 0;
    background: #787878;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    padding: 2px 15px;
    text-transform: capitalize;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

button.add_profile {
    background: #49ca52;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    padding: 2px 15px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.student_profile_left_list_item {
    padding: 30px 30px 40px;
    background: #f1f1f1;
    padding-right: 140px;
}

.student_profile_left_list_item_inner img {
}

.student_profile_left_custom_list {
    position: relative;
}

/*********************************
    CONNECTION PAGE
*********************************/
.connection_area {
    margin-top: 20px;
}

.left_sidebar {
    margin-bottom: 30px;
}

.left_sidebar_title {
    background: #3883b3;
    padding: 10px 0;
    text-align: center;
    border-bottom: 5px solid #fff;
}

.left_sidebar_title h2 {
    font-size: 27.98px;

    color: #fff;
    font-weight: 500;
}

.left_sidebar_title {
}

.left_sidebar_search {
    padding: 15px 20px;
    background: #a1a1a1;
}

.left_sidebar_search_inner {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding-left: 50px;
    overflow: hidden;
}

.left_sidebar_search_inner input, .left_sidebar_search_inner input:focus {
    width: 100%;
    height: 37px;
    border: none;
    outline: 0;
    box-shadow: none;
}

.left_sidebar_search_inner input[type="submit"] {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 23px;
    font-size: 0;
    background: transparent;
    height: 19px;
    cursor: pointer;
}

.left_sidebar_search_inner:before {
    content: "";
    position: absolute;
    left: 24px;
    top: 12px;
    color: #333;
    font-size: 28px;
    width: 18px;
    height: 15px;
    background: url(../images/search_ic.png) no-repeat;
    background-size: contain;
}

.left_category {
    margin-bottom: 10px;
}

.left_category h2 {
    font-size: 23px;
    color: #3883b3;
    font-weight: bold;
    margin: 20px 10px 10px;
}

.left_category ul {

}

.left_category ul li {
    position: relative;
}

.left_category ul li:before {
    position: absolute;
    top: 14px;
    left: 16px;
    width: 5px;
    height: 5px;
    background: #f18121;
    border-radius: 50%;
    content: "";
}

.left_category ul li.active:before {
    background: #fff;
}

.left_category ul li.active a {
    background: #3883b3;
    color: #fff;
}

.left_category ul li a {
}

.left_category ul li a {
    font-size: 13.97px;
    color: #454545;
    font-weight: 500;
    display: block;
    padding: 6px 0 6px 30px;
}

.left_tag {
    background: #ebeff2;
    padding: 15px;
    margin-bottom: 20px;
}

.left_tag h2 {
    font-size: 23px;
    color: #5a5959;
    font-weight: bold;
    margin-bottom: 15px;
}

.left_tag ul {
    margin-left: -5px;
}

.left_tag ul li {
    display: inline-block;
}

.left_tag ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background: #f18121;
    border-radius: 25px;
    display: inline-block;
    padding: 2px 18px 4px;
    margin: 4px 5px;
}

.left_tag ul li a {
}

/*******************************
    CONNECTION MAIN CONTENT
*******************************/
.connection_main_content {
    margin-bottom: 50px;
}

.connection_main_content .nav-tabs {
    border-bottom: 0 solid #dee2e6;

}

.connection_main_content .nav-tabs .nav-link.active {
    background: #f18121;
    color: #fff;
    border-right: 3px solid #00609e;
}

.connection_main_content .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 13.97px;
    color: #2a2a2a;
    text-transform: uppercase;
    border-right: 1px solid #ebeeef;
    padding: 6px 30px 4px;
    background: #f6f6f6;
}

.connection_main_content_inner {
    margin-top: 30px;
}

.connection_tab_content {
    position: relative;
}

.connection_tab_content_inner {
    border: 8px solid #f6f6f6;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 30px;
}

.connection_tab_content_inner > img {
    margin-top: 15px;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.connection_tab_content h2 {
    font-size: 16.03px;
    color: #3a3a3a;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.connection_tab_content_list {
    background: #f6f6f6;
    padding: 10px 20px;
}

.connection_tab_content_list ul {
    text-align: left;
}

.connection_tab_content_list ul li {
}

.connection_tab_content_list ul li {
    width: 50%;
    float: left;
    margin: 5px 0;
}

.connection_tab_content_list ul li:nth-child(even) {
    float: right;
}

.connection_tab_content_list ul li a {
    font-size: 10.51px;
    color: #454545;
    font-weight: bold;
}

.connection_tab_content_list ul li a img {
    margin-right: 5px;
}

.connection_tab_content_list ul li a img {
    width: auto !important;
    display: inline-block !important;
}

.connection_tab_content_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #f29545;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    background: rgba(255, 255, 255, .8);
}

.connection_tab_content_hover ul {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.connection_tab_content_hover ul li {
    display: inline-block;
}

.connection_tab_content_hover ul li a {
    display: block;
    width: 45px;
    height: 45px;
    background: #a1a1a1;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
    margin: 0 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.connection_tab_content_inner:hover .connection_tab_content_hover {
    opacity: 1;
}

.connection_tab_content_hover ul li a img {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.connection_tab_content_hover ul li a:hover {
    background: #f18121;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#connection_slide.owl-theme .owl-dots {
    position: absolute;
    bottom: -10px;
    width: 100%;
}

#connection_slide.owl-theme .owl-dots span {
    margin: 0 4px;
}

#connection_slide.owl-theme button.owl-dot, #connection_slide.owl-theme button.owl-dot:hover, #connection_slide.owl-theme button.owl-dot:focus {
    outline: 0;
    box-shadow: none;
}

/***************************
    FIND CONNECTION PAGE
****************************/
.connection_form_inner {
    padding: 25px 0 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e8ebed;
}

.connection_form_inner {
}

.connection_form_inner input, .connection_form_inner input:focus {
    color: #999999;
    font-size: 14.98px;
    border: none;
    border-bottom: 2px solid #e8ebed;
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    margin-bottom: 20px;
}

.connection_form_inner textarea, .connection_form_inner textarea:focus {
    color: #8d8d8d;
    font-size: 18px;
    border: 2px solid #e8ebed;
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    margin-bottom: 20px;
    font-weight: 300;
}

.connection_form_inner select, .connection_form_inner select:focus {
    color: #999999;
    font-size: 14.98px;
    border: none;
    border-bottom: 2px solid #e8ebed;
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    margin-bottom: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select_arrow.png) 94% / 5% no-repeat;
}

.connection_form_inner button, .connection_form_inner button:focus {
    background: #3883b3;
    padding: 5px 25px;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    font-size: 14.98px;
    border-radius: 5px;
}

.find_search_result {
    font-size: 11px;
    color: #808080;
    font-style: italic;
}

.connection_student_inner {
    border-bottom: 0 solid #e8ebed;
}

.connection_student_inner {
}

.find_student_title {
    font-size: 27.98px;
    color: #fff;
    font-weight: 500;
    background: #3883b3;
    padding: 14px 30px;
    /* text-align: center; */
    margin-bottom: 25px;
}

.find_student_title {
}

/***************************
    PUBLISH NEED AREA
***************************/
.publish_need_area {
    padding: 10px 30px;
}

.publish_need_inner {
    border: 8px solid #f6f6f6;
    padding: 30px;
    margin-bottom: 15px;
}

.publish_need_inner h2 {
    font-size: 19.27px;
    color: #3a3a3a;
    font-weight: 500;
    text-transform: uppercase;
}

.publish_need_inner p {
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 300;
}

.publish_custom_padding {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

/*****************************
    CUSTOM CONNECTION AREA
******************************/
.custom_Connection_area {
    background: #f6f6f6;
}

.custom_Connection_area > h2 {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    border-bottom: 2px solid #3883b3;
    padding: 10px 20px;
    background: #3883b3;
    margin-bottom: 0;
}

.custom_Connection_area h2 button {
    float: right;
    background: #f6f6f6;
    color: #3883b3;
    border: none;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}

.custom_Connection_area {
}

.custom_connection_img_area {
    position: relative;
    padding: 25px 20px 15px;
    margin-bottom: 30px;
}

.custom_connection_img {
    position: relative;
    padding-left: 60px;
}

.custom_connection_img > img {
    position: absolute;
    top: 0;
    left: 0;
}

.custom_connection_img h2 {
    font-size: 14.56px;
    font-weight: 700;
    color: #00609e;
    margin-bottom: 0;
}

.custom_connection_img p {
    margin-bottom: 0;
    color: #252525;
    font-weight: 500;
}

.custom_connection_img span {
    margin-right: 15px;
    display: inline-block;
    color: #252525;
    font-weight: 500;
}

.custom_connection_img span img {
    margin-right: 5px;
}

.custom_connection_text h2 {
    font-size: 16px;
    color: #00609e;
}

.custom_connection_text p {
    font-size: 16px;
    color: #252525;
}

.connection_msg {
    position: absolute;
    top: 25px;
    right: 20px;
}

.connection_msg a {
    background: #3883b3;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    padding: 5px 20px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 15px;
}

.connection_msg a:last-child {
    background: #f18121;
}

.connection_msg a:last-child {
}

.connection_msg a {
}

.connecton_search_ic {
    margin: 10px 0 0;
}

.connecton_search_ic a {
    background: #f6f6f6;
    color: #3883b3;
    padding: 4px 8px;
    font-size: 11.93px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #3883b3;
    display: inline-block;
}

.connecton_search_ic a {
}

/*------------------------------
    CUSTOM CONNECTION FORM
------------------------------*/
.custom_connection_main_content.connection_main_content .nav-tabs {
    background: #f6f6f6;
}

.custom_connection_form {
    padding: 25px 20px;
    background: #f6f6f6;
    margin-top: 3px;
}

.custom_connection_form h2 {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}

.custom_connection_form input, .custom_connection_form input:focus {
    border-color: #000;
    color: #000
}

.custom_connection_form select, .custom_connection_form select:focus {
    border-color: #000;
    color: #000
}

.custom_connection_form select, .custom_connection_form select:focus {
}

.custom_connection_form label {
    /*    text-align: right;*/
    padding-top: 7px;
}

.custom_connection_form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

.custom_connection_form input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

.custom_connection_form input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

.custom_connection_form input:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.custom_con_radio {
    float: right;
}

.custom_connection_form .radio_button_inline {
    margin-right: 0;
    margin-left: 10px;
}

.custom_connection_form .radio_button_inline label {
    text-align: center;
    padding: 0 14px;
}

.custom_connection_form .radio_button_inline label {
}

.custom_connection_form .form-group.radio_button [type="radio"]:checked + label:after, .custom_connection_form .form-group.radio_button [type="radio"]:not(:checked) + label:after {
    display: none;
}

.custom_connection_form .form-group.radio_button [type="radio"]:checked + label:before, .custom_connection_form .form-group.radio_button [type="radio"]:not(:checked) + label:before {
    display: none;
}

.custom_connection_form .form-group.radio_button [type="radio"]:checked + label {
    background: #00609e;
    border: 2px solid #00609e;
    color: #fff;
}

.custom_connection_form .form-group.radio_button [type="radio"]:not(:checked) + label {
    background: #fff;
    border: 2px solid #00609e;
    color: #00609e;
}

.custom_connection_form button, .custom_connection_form button:focus {
    background: #00609e;
    border: 2px solid #00609e;
    color: #fff;
    float: right;
    padding: 0 22px;
    outline: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}

/*-------------------------
    CONNECTION PROGRAM
-------------------------*/
.connection_program {
}

.connection_program_inner {
    position: relative;
    padding-left: 90px;
}

.connection_program_inner_img {
    position: absolute;
    top: 0;
    left: 0;
}

.connection_program_inner_img img {
    margin-bottom: 5px;
}

.connection_program_inner_img h2 {
    font-size: 10px;
    color: #252525;
}

.connection_program_inner_img {
}

.connection_program_inner {
    margin-bottom: 30px;
}

.connection_program_inner > h2 {
    font-size: 14.56px;
    font-weight: 700;
    color: #00609e;
    margin-bottom: 0;
}

.connection_program_inner p {
    font-size: 13px;
    color: #898989;
    margin-bottom: 0;
}

.connection_program_inner p.program_date {
    color: #f18121;
}

.connection_program_inner a {
    background: #f6f6f6;
    color: #3883b3;
    padding: 1px 22px;
    font-size: 11.93px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #3883b3;
    display: inline-block;
    margin: 10px 0;
}

.connection_program_inner a.active {
    background: #3883b3;
    color: #fff;
}

/*-----------------------------
    CONNECTION PAGINATION
-------------------------------*/
.connectin_pagination {
    margin: 20px 0 60px;
}

.connectin_pagination .page-item.active .page-link {
    color: #007bff;
    background: #fff;
    border-color: #dee2e6;
}

.connectin_pagination .page-link {
    font-size: 20px;
    padding: 8px 18px;
    color: #454545;
}

.connectin_pagination {
}

/*****************************
    ANALYSIS PAGE
******************************/
.analysis_area {
}

.analysis_area > h2 {
    font-size: 22.94px;
    color: #585858;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 400;
}

.analysis_search {
    position: relative;
    padding-right: 155px;
    margin-bottom: 40px;
}

.analysis_search input, .analysis_search input:focus {
    height: 40px;
    background: #ececec;
    box-shadow: none;
    outline: 0;
    border-radius: 0;

    border: none;
}

.analysis_search button, .analysis_search button:focus {
    height: 40px;
    width: 145px;
    background: #3883b3;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
    border: none;
    outline: 0;
}

.analyse_chart_area {
}

.analyse_chart_inner {
}

.analyse_chart_inner h2 {
    font-size: 22.94px;
    color: #585858;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 400;
}

.analyse_chart_inner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.analyse_chart_inner img {
}

.analyse_user_area {
    margin-bottom: 20px;
}

.analyse_user_area h2 {
    font-size: 22.94px;
    color: #585858;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 400;
}

.analyse_user_area h2 span {
    font-weight: 300;
}

.analyse_user_area p {
    text-align: center;
    font-size: 14.08px;
    font-weight: 700;
    padding-top: 10px;
    text-transform: uppercase;
}

.analyse_user_area img {
    width: 100%;
}

.analyse_user_area .row {
    margin-left: -12.5px;
    margin-right: -12.5px;
}

.analyse_user_area .analyse_user_padding {
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.analyse_msg_box {
    margin-bottom: 30px;
}

.analyse_msg_box textarea, .analyse_msg_box textarea:focus {
    height: 180px;
    background: #ececec;
    outline: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
}

.analyse_msg_box button, .analyse_msg_box button:focus {
    height: 40px;
    width: 145px;
    background: #3883b3;
    color: #fff;
    text-align: center;
    box-shadow: none;
    border: none;
    outline: 0;
    float: right;
    font-weight: 500;
    cursor: pointer;
}

.analyse_social_area {
}

.analyse_social_menu {

}

.analyse_social_menu ul {
    margin-bottom: 10px;
    margin-left: -3px;
    margin-right: -3px;
}

.analyse_social_menu ul li {
    float: left;
    width: 25%;
    padding: 0 3px;
}

.analyse_social_menu ul li a, .analyse_social_menu ul li a:hover {
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 8px 15px;
    color: #fff;
}

.analyse_social_menu ul li:nth-of-type(1) a {
    background: #4b4f99;
}

.analyse_social_menu ul li:nth-of-type(2) a {
    background: #1aace8;
}

.analyse_social_menu ul li:nth-of-type(3) a {
    background: #186fb7;
}

.analyse_social_menu ul li:last-child {
}

.analyse_social_menu ul li:nth-of-type(4) a {
    background: #c0a57d;
}

.social_analyse_description_area {
    border: 7px solid #1aace8;
    margin-bottom: 50px;
}

.social_analyse_desc_inner {
    position: relative;
    padding-left: 140px;
    border-bottom: 6px solid #1aace8;
}

.social_analyse_desc_inner:last-child {
    border: none;
}

.social_analyse_desc_inner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.social_analyse_desc_inner h2 {
    font-size: 16px;
    color: #444444;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 22px;
    padding-top: 5px;
    padding-right: 30px;
}

.social_analyse_desc_inner p {
    font-size: 15px;
    color: #615f5f;
    margin-bottom: 0;
    line-height: 18px;
    padding-right: 30px;
}

.social_analyse_desc_inner span {
    display: block;
    text-align: right;
    color: #615f5f;
    font-size: 12px;
    padding-bottom: 5px;
    padding-right: 30px;
    font-weight: 500;
}

@media (max-width: 767px) {
}

@media (max-width: 767px) {
    .analysis_search {
        position: relative;
        padding-right: 0;
        margin-bottom: 40px;
    }

    .analysis_search button, .analysis_search button:focus {
        position: relative;
        margin-top: 15px;
    }

    .social_analyse_desc_inner {
        position: relative;
        padding: 10px;
        border-bottom: 6px solid #1aace8;
    }

    .social_analyse_desc_inner img {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
    }

    .social_analyse_desc_inner h2 {
        padding: 10px 0 10px;
    }

    /*.social_analyse_desc_inner p{
         padding: 10px 0 10px;
    }*/
    .social_analyse_desc_inner span {
        text-align: left;
        padding: 10px 0 10px;
    }
}

/*********************************
    CONNECTOR PAGE
*********************************/
.connector_area {
}

.connector_area h1 {
    font-size: 22.94px;
    color: #585858;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 400;
}

.connector_social {
    margin-bottom: 25px;
}

.connector_social ul {
    text-align: center;
}

.connector_social ul li {
    display: inline-block;
    margin: 0 8px;

}

.connector_social ul li a {
    display: block;
    width: 45px;
    height: 45px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.connector_social ul li:nth-of-type(1) a {
    background: #4b4f99;
}

.connector_social ul li:nth-of-type(2) a {
    background: #1aace8;
}

.connector_social ul li:nth-of-type(3) a {
    background: #186fb7;
}

.connector_social ul li:last-child {
}

.connector_social ul li:nth-of-type(4) a {
    background: #c0a57d;
}

.connector_social ul li a {
}

.connector_search {
    margin-bottom: 25px;
}

.connector_search .analysis_search {
    position: relative;
    padding-right: 105px;
    margin-bottom: 40px;
}

.connector_search .analysis_search button, .connector_search .analysis_search button:focus {
    width: 90px;
    text-transform: uppercase;
    font-weight: 500;
}

.connector_main_content {
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 50px;
}

.connector_main_content table {
}

.table-bordered th, .table-bordered td {
    border: 4px solid #fff;

}

.connector_main_content table thead {
}

.connector_main_content table thead tr {
}

.connector_main_content table thead tr th {
    background: #f18121;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 10px 15px;
    position: relative;
}

.connector_main_content table thead tr th:nth-of-type(1):after {
    position: absolute;
    content: "";
    top: 22px;
    right: 13px;
    border: solid transparent;
    border-width: 8px 8px 0 0;
    transform: rotate(-135deg);
    border-right-color: #fff;
}

.connector_main_content table thead tr th:nth-of-type(2):after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: url(../images/select.png) no-repeat;
    top: 17px;
    right: 14px;
    background-size: contain;
}

.connector_main_content table tbody {
}

.connector_main_content table tbody tr {
}

.connector_main_content table tbody tr td {
    background: #d9d9d9;
    font-size: 16px;
    color: #585858;
    font-weight: 400;
    padding: 2px 15px;
}

.connector_main_content table tbody tr:nth-child(even) td {
    background: #f2f2f2;
}

.connector_main_content table tbody tr td select, .connector_main_content table tbody tr td select:focus {
    height: 20px !important;
    background: transparent;
    outline: 0;
    box-shadow: none;
    border: none;
    padding: 0;
}

.connector_main_content table tbody tr td {
}

/********************************
    SM DASHBOARD CHART AREA
********************************/
.sm_dashboard_chart_area {
}

.sm_dashboard_chart_area .analyse_chart_inner {
    margin-bottom: 50px;
}

/*********************************
    CHAT PAGE
*********************************/
.chat_area {
}

.chat_area .container-fluid {
}

.chat_area .container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

.chat_left_sidebar {
    margin-bottom: 50px;
}

.chat_left_sidebar .left_sidebar_search {
    background: #3983b4;
    border-radius: 0;
}

.chat_left_sidebar .left_sidebar_search_inner {
    border-radius: 0;
}

.chat_left_sidebar .left_sidebar_search_inner {
}

.chat_left_heading {
    background: #3983b4;
    position: relative;
    padding: 14px 20px 5px 67px;
}

.chat_left_heading {
}

.chat_left_heading h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.chat_left_heading p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
}

.chat_left_img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.chat_left_img span {
    position: absolute;
    top: 1px;
    left: 0;
    width: 7px;
    height: 7px;
    background: #f08223;
    border: 1px solid #fff;
    border-radius: 50%;
    content: "";
}

.chat_left_img {
}

.chat_heading_dropdown {
    position: absolute;
    right: 25px;
    top: 30px;
}

.chat_heading_dropdown .dropdown > a {
    color: #fff;
    padding: 0 6px;
}

.chat_heading_dropdown .dropdown-menu li:last-child a {
    border: none;
}

.chat_heading_dropdown .dropdown-menu li a {
    display: block;
    color: #000;
    padding: 2px 10px;
    border-bottom: 1px solid #ddd;
}

.chat_heading_dropdown .dropdown-toggle::after {
    background: url(../images/chat_arrow.png) no-repeat;
    width: 8px;
    height: 22px;
    border: none;
}

.chat_left_tab {

}

.chat_left_tab {
}

.chat_left_tab .nav-tabs {
    border-bottom: 1px solid #d6d7db;
    background: #3983b4;
}

.chat_left_tab .nav-tabs .nav-link.active,
.chat_left_tab .nav-tabs .nav-link.active:hover,
.chat_left_tab .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #fff;
}

.chat_left_tab .nav-tabs .nav-link, .chat_left_tab .nav-tabs .nav-link:hover {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
}

.chat_left_tab .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
}

.chat_left_tab_content {
}

.chat_left_tab_content ul li {
}

.chat_left_tab_content ul li img {
    position: absolute;
    top: 30px;
    left: 10px;
}

.chat_left_tab_content ul li {
    position: relative;
    padding: 20px;
    padding-left: 60px;
    border-bottom: 1px solid #d6d7db;
    background: #ebeff2;
}

.chat_left_tab_content ul li.active {
    background: #fff;
}

.chat_left_tab_content ul li h2 {
    font-size: 16px;
    font-weight: 600;
    color: #3983b4;
    margin-bottom: 0;
}

.chat_left_tab_content ul li p {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 0;
}

.chat_left_tab_content ul li span {
    width: 27px;
    height: 27px;
    background: #f08223;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 50%;
    right: 30px;
    text-align: center;
    display: inline-block;
    padding-top: 2px;
    margin-top: -13.5px;
}

.chat_left_tab_content ul li p.date {
    font-size: 10px;
    font-weight: 400;
    color: #555555;
}

/*---------------------------------
    CHAT BOX
---------------------------------*/
.chat_box {

}

.chat_box_title {
    background: #ececec;
    padding: 20px;
    padding-left: 120px;
    margin-bottom: 30px;
}

.chat_box_title h2 {
    font-size: 30px;
    font-weight: 600;
    color: #3b3b3b;
    margin-bottom: 0;
}

.chat_box_title h2 {
}

.chat_box_img {
    position: absolute;
    top: 7px;
    left: 50px;
}

.chat_box_img img {
    width: 60px;
}

.chat_box_img {
}

/*----------------------------------
    MESSAGE AREA
----------------------------------*/
.message_area {
}

.message_area {
    height: 380px;
    overflow-y: scroll;
}

.message_area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.message_area ul {
    padding: 0 50px;
}

.message_area ul li:nth-child(odd) {
}

.message_area ul li {
    position: relative;
    margin-bottom: 20px;

}

.message_area ul li > img {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}

.message_area ul li .message_text {
    background: #f9f9f9;
    border-radius: 10px 10px 10px 0;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
}

.message_area ul li:nth-child(even) {
    text-align: right;
}

.message_area ul li:nth-child(even) > img {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
}

.message_area ul li:nth-child(even) .message_text {
    background: #3f51b5;
    border-radius: 10px 10px 0 10px;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: 60px;
}

.message_area ul li:nth-child(even) > img {
}

.message_area ul li .message_text p.message_text_details {
    color: #333333;
    font-size: 14px;
    margin: 10px 0;
}

.message_area ul li .message_text p.message_date {
    color: #b8bfc7;
    font-size: 12px;
    margin-bottom: 5px;
}

.message_area ul li:nth-child(even) p.message_text_details {
    color: #fff;
}

.msg_textarea {
    border: 1px solid #dedede;
    padding: 5px 15px;
    position: relative;
    margin: 30px 0 50px;
    padding-right: 80px;
}

.msg_textarea {

}

.msg_textarea textarea, .msg_textarea textarea:focus {
    border-radius: 0;
    border: none;
    color: #8e8e8e;
    font-size: 20px;
    outline: 0;
    box-shadow: none;
    font-weight: 300;
    height: 54px;
}

.msg_textarea button i {
    color: #747671;
}

.msg_textarea button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    border-radius: 0;
    background: transparent !important;
    border: none;
}

/*-------------------------------
    CONNECTION MODAL
-------------------------------*/
.connection_modal {
}

.connection_modal .modal-content {
    background-color: #3079ae;
}

.connection_modal .modal-content .modal-title {
    color: #fff;
}

.connection_modal .modal-content .modal-header {
    padding: 8px 16px;
    border-bottom: 1px solid #3883b3;
}

.connection_modal .modal-content .modal-header .close {
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    top: 27px;
    right: 27px;
    background: #f18121;
    color: #fff;
    z-index: 10;
    opacity: 1;
    padding: 0 4px 6px;
    line-height: 15px;
    font-weight: normal;
}

.connection_modal .modal-content .modal-body {
    padding: 10px 20px;
}

.connection_modal .modal-content .modal-body p {
    color: #fff;
}

.connection_modal .modal-content .modal-body ul {
}

.connection_modal .modal-content .modal-body ul li {
    margin-bottom: 8px;
}

.connection_modal .modal-content .modal-body textarea {
    height: 210px;
    border-radius: 0;
    border: none;
    color: #000;
    resize: none;
}

.connection_modal .modal-content .modal-body button {
    background: #f6f6f6;
    color: #3883b3;
    padding: 4px 11px;
    font-size: 11.93px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #3883b3;
    display: inline-block;
    margin: 10px 0;
    float: right;
}

.connection_modal .modal-content .modal-body button {
}

.connection_modal .modal-content {
}

@media (min-width: 767px) {
    .modal-dialog {
        max-width: 669px;
    }
}

/******************************
    LIST PAGE
******************************/
.list_connection_area {
    margin-bottom: 100px;
}

.list_connection_area > h2 {
    padding: 10px 20px 5px;
    line-height: 25px;
}

.list_connection_area > h2 button {
    background: #f18121;
    color: #fff;
    margin-left: 10px;
    border: 2px solid #f18121;
    padding: 1px 15px 1px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    line-height: 16px;
}

.list_connection_area > h2 button:first-child {
    background: transparent;
    border: 2px solid #f18121;
}

.list_connection_area > h2 button:last-child {
}

.list_connection_area .custom_connection_img_area {
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 0;
    padding: 15px 20px 15px;
}

.list_connection_area .custom_connection_img_area_no_padding {
    border: none;
}

.list_connection_area .connectin_pagination {
    padding: 19px 0 20px;
    margin: 0;
}

.list_connection_area .connection_msg a {
    padding: 4px 20px 5px;
}

/**********************************
    STUDENT TIMELINE PAGE
***********************************/
.student_timeline_area {
    padding: 20px 0;
}

.student_timeline_left {
    background: #3883b3;
    padding: 20px;
    color: #fff;
    margin-bottom: 25px;
}

.student_timeline_left h2 {
    font-size: 18px;
    font-weight: 500;
}

.student_timeline_left p {
    margin-bottom: 0;
    /*    font-family: 'Gotham Book';*/
    font-size: 12px;
}

.student_timeline_left p {
}

.student_timeline_left h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0;
}

.student_timeline_left p.f_15 {
    font-size: 15px;
}

.student_timeline_left p {
}

.student_main_timeline {
}

.student_timeline_inner_box {
    background: #ebeff2;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 2px #e1e1e1;
}

.timeline_main_post {
}

.timeline_main_post ul {
}

.timeline_main_post ul li {
    display: inline-block;
}

.timeline_main_post ul li:first-child a {
    padding-left: 0;
}

.timeline_main_post ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #525252;
    border-right: 2px solid #525252;
    padding: 0 14px;
    line-height: 12px;
    display: block;
    margin-bottom: 10px;
}

.timeline_main_post ul li:last-child a {
    border: none;
}

.timeline_main_post textarea, .timeline_main_post textarea:focus {
    outline: 0;
    border: none;
    box-shadow: none;
    height: 135px;
    resize: none;
    font-size: 12px;
    font-weight: 500;
    color: #525252;
}

.timeline_main_post button, .timeline_main_post button:focus {
    background: #3883b3;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    padding: 3px 13px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12px;
    float: right;
}

.timeline_main_post button {
}

/*-----------------------------------
    STUDENT TIMELINE LIST
-----------------------------------*/
.student_timeline_list {
}

.student_timeline_list {
}

.student_timeline_list > li {
    background: #ebeff2;
    padding: 20px 20px 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 2px #e1e1e1;
}

.student_timeline_list li {
}

.student_timeline_list .top_post {
    margin-bottom: 20px;
}

.student_timeline_list .top_post h2 {
    font-size: 14px;
    font-weight: 500;
    color: #525252;
}

.student_timeline_list .top_post h2 span a {
    color: #525252;
}

.student_timeline_list .top_post h2 span img {
    margin-right: 10px;
}

.student_timeline_list .top_post h2 span:last-child {
    float: right;
    font-weight: normal;
    font-size: 9px;
    margin-top: 18px;
}

.student_timeline_list .top_post p {
    font-size: 12px;
    color: #525252;
    padding: 10px;
    background: #fff;
    margin-bottom: 0;
}

.student_timeline_list .top_post h2 span {
}

.top_comment {
    position: relative;
    padding-left: 40px;
    padding-top: 0;
    margin-bottom: 25px;
}

.top_comment img {
    position: absolute;
    top: 0;
    left: 0;
}

.top_comment textarea, .top_comment textarea:focus {
    height: 25px;
    border: none;
    box-shadow: none;
    outline: 0;
    resize: none;
    font-size: 9px;
    color: #363636;
    border-radius: 0;
}

.top_comment textarea {
}

.all_comment {
}

.all_comment li:last-child {
    margin-bottom: 0;
}

.all_comment li {
    position: relative;
    padding-left: 40px;
    padding-top: 0;
    margin: 20px 0;
}

.all_comment li img {
    position: absolute;
    top: 0;
    left: 0;
}

.all_comment li h2 {
    font-size: 11px;
    font-weight: bold;
    color: #525252;
    margin-bottom: 8px;
}

.all_comment li h2 a {
    color: #525252;
}

.all_comment li h2 span {
    float: right;
    font-weight: normal;
    font-size: 9px;
}

.all_comment li h2 span {
}

.all_comment li p {
    font-size: 12px;
    color: #525252;
}

.all_comment li p {
}

.all_comment {
}

/*------------------------------
    RIGHT EXPAND CHAR BOX
--------------------------------*/
.right_expand_chat_box {
    border: 1px solid #3883b3;
    width: 252px;
}

.right_expand_chat_box {
}


/*--------------------------------
    STUDENT LIST AREA
--------------------------------*/
.student_list_area{
    background: #ebeff2;
    padding: 0px;
    margin-bottom: 20px;
}
.student_list_area{}
.student_list_area > h2{
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.student_list_area{}
.student_list_inner.active{
    background: #fff
}
.student_list_inner{
    position: relative;
    padding: 20px 65px 20px 65px;
    display: block;
    cursor: pointer;
}
.student_list_inner img{
    left: 10px;
    top: 10px;
    position: absolute;
    /*transform: translate( 0% ,-50%);*/
}
.student_list_inner h2{
    font-size: 15px;
    font-weight: 500;
}
.student_list_inner h2 a{
    color: #D73A37;
}

.student_list_inner > span{
position: absolute;
    right: 20px;
    bottom: 12px;
    font-size: 12px;
}
.chat_heading_dropdown.student_list_dropdown{
    position: absolute;
    right: 18px;
    top: 7px;
}
.chat_heading_dropdown.student_list_dropdown .dropdown > a {
    color: #fff;
    padding: 0;
}
.chat_heading_dropdown.student_list_dropdown .dropdown-toggle span{
    position: relative;
    width: 5px;
    height: 5px;
    background: #3883b3;
    border-radius: 50%;
    display: inline-block;
}
.chat_heading_dropdown.student_list_dropdown .dropdown-toggle span:before{
    position: absolute;
    top: -7px;
    left: 0;
    width: 5px;
    height: 5px;
    background: #3883b3;
    content: "";
        border-radius: 50%;
}
.chat_heading_dropdown.student_list_dropdown .dropdown-toggle span:after{
    position: absolute;
    top: 7px;
    left: 0;
    width: 5px;
    height: 5px;
    background: #3883b3;
    content: "";
        border-radius: 50%;
}
.chat_heading_dropdown.student_list_dropdown .dropdown-toggle::after {
    background: none;
    width: 0px;
    height: 0px;
    border: none;
}
.chat_heading_dropdown.student_list_dropdown{}
