<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class='card'>
                    <div class='card-header'>
                        Change Password
                    </div>
                    <div class='card-body'>
                        <div class="col-md-8">
                            <span v-if="cErrors && typeof(cErrors) !== 'object' && !errors.items.length"
                                  class='d-block text-danger'>{{ cErrors }}</span>

                            <div class='form-group row'>
                                <label for='current_password' class='col-sm-5 col-form-label text-md-right'>Current Password</label>
                                <div class='col-md-7'>
                                    <input class="form-control"
                                          type='password'
                                          v-model='password.current_password'
                                          placeholder="You current password"
                                          id='current_password'
                                          v-validate="'required'"
                                          name="current password"/>
                                    <span class='d-block text-danger' v-show="errors.has('current_password')">{{ errors.first('current password') }}</span>
                                    <template v-if="cErrors && cErrors['current_password'] && !errors.has('current_password')">
                                        <span class='d-block text-danger'
                                              v-for="error in cErrors['current_password']">{{ error }}</span>
                                    </template>
                                </div>
                            </div>

                            <div class='form-group row'>
                                <label for='new_password' class='col-md-5 col-form-label text-md-right'>New Password</label>
                                <div class='col-md-7'>
                                    <input v-model="password.password"
                                          class="form-control"
                                          type='password'
                                          name="password"
                                          v-validate="'required'"
                                          placeholder="set new password"
                                          id='new_password'
                                          ref="password"/>
                                    <span class='d-block text-danger'
                                          v-show="errors.has('password')">{{ errors.first('password') }}</span>
                                    <template v-if="cErrors && cErrors['password'] && !errors.has('password')">
                                        <span class='d-block text-danger'
                                              v-for="error in cErrors['password']">{{ error }}</span>
                                    </template>

                                </div>
                            </div>

                            <div class='form-group row'>
                                <label for='password_confirmation' class='col-md-5 col-form-label text-md-right'>Confirm
                                    Password</label>
                                <div class='col-md-7'>
                                    <input v-model="password.password_confirmation"
                                          class="form-control"
                                          type='password'
                                          name="password_confirmation"
                                          placeholder="Password, Again"
                                          data-vv-as="password"
                                          v-validate="'required|confirmed:password'"
                                          id='password_confirmation'/>
                                    <span class='d-block text-danger' v-show="errors.has('password_confirmation')">{{ errors.first('password_confirmation') }}</span>

                                    <template
                                            v-if="cErrors && cErrors['password_confirmation'] && !errors.has('password_confirmation')">
                                        <span class='d-block text-danger'
                                              v-for="error in cErrors['password_confirmation']">{{ error }}</span>
                                    </template>


                                    <span></span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-8">
                                <button v-if="!loading" class="btn btn-primary" @click="changePassword">
                                    Password Change
                                </button>
                                <button v-if="loading" class='btn btn-primary'>
                                    <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "ChangePassword",
        data() {
            return {
                password: {},
                loading: false,
                cErrors: null
            }
        },
        methods: {
            changePassword() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.cErrors = null;
                        this.$swal({
                            title: 'Are you sure?',
                            text: "Are you want to change your password!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, change it!'
                        }).then((result) => {
                            if (result.value) {
                                axios.post('/json/password-change', this.password).then(response => {
                                    this.$swal(
                                        'Changed!',
                                        response.data.success,
                                        'success'
                                    );
                                    this.loading = false;
                                }).catch(error => {
                                    this.cErrors = error.response.data.errors;
                                    this.loading = false;
                                });
                            }
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .btn {
        margin-left: 108px;
    }
</style>
