<template>
    <div class="top_comment">
        <router-link :to="{ name: 'userPublicProfile', params: { userName: auth.user_name }}">
            <img class="author-comment-image" :src="auth.avater" alt="">
        </router-link>
        <textarea placeholder="Write a comment...."
                  @keyup.enter="postComment"
                  name="comment"
                  v-validate="'required'"
                  :ref="`comment-input-${post_id}`"
                  data-vv-as="comment"
                  class="form-control comment-box"
                  v-model="body"></textarea>
        <span class='d-block text-danger' v-show="errors.has('comment')">{{ errors.first('comment') }}</span>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        props: {
            post_id: {
                required: true,
                type: Number
            },
            current_comment_focus : {
              required : true
            }
        },
        data() {
            return {
                body: ''
            }
        },
        watch : {
            current_comment_focus(val){
              if(this.$refs[`comment-input-${val}`] !== undefined)
                  this.$refs[`comment-input-${val}`].focus();
            }
        },
        methods: {
            postComment() {
                axios.post(api.postInTimeComment, {
                    body: this.body,
                    post_id: this.post_id
                }).then(res => {
                  if (res.data.comment != '') {
                    this.$emit('addedComment', res.data.comment);
                  }
                  this.body = '';
                  this.$validator.reset();
                });
            }
        },
        computed:{
            auth(){
                return this.$store.getters.authUser;
            }
        }
    }
</script>

<style scoped>
    img{
        max-height: 40px;
        max-width: 40px;
    }
</style>
