<template>
    <li class="timeline-list-posts">
        <div class="top_post">
            <div v-if="post.user">
                <router-link class="timeline-name-anchor" :to="{ name: 'userPublicProfile', params: { userName: post.user.user_name }}">
                    <img class="author-image" :src="post.user.avater" alt="">

                    <template v-if="post.user.institute">{{post.user.institute.title}}</template>
                    <template v-else>{{post.user.name}}</template>
                </router-link>
                <span class="timeline-datetime">{{localTime(post.created_at)}}</span>
            </div>
            <p v-if="post.body">{{post.body}}</p>
            <div v-if="post.video">
                <video width='100%' height="300"
                    controls
                    :src="FILE_PATH+'/videos/'+post.video.filename"></video>
            </div>
            <div v-if="post.image && post.image.length > 0">
                <div v-if="post.image.length === 1">
                  <img v-for="img in post.image" :key="img.id" :src="FILE_PATH+'/images/'+img.filename" style="width:100%;">
                </div>
                <div v-else-if="post.image.length % 2 === 0">
                    <img v-for="img in post.image" :key="img.id" :src="FILE_PATH+'/images/'+img.filename" style="width:50%;">
                </div>
                <div v-else>
                    <img v-for="(img, index) in post.image" :key="img.id" v-bind:id="index" :src="FILE_PATH+'/images/'+img.filename" v-bind:style="[post.image.length==(index+1) ? {'width': '100%'} : {'width': '50%'}]">
                </div>
            </div>
        </div>
        <div class="col-md-12 clearfix">
          <div class="likes-comments-share-wrapper">
            <!-- <a href="Javascript:void(0)" class="sociallinks likes"><i class="fa fa-heart"></i> Like</a> -->
            <a href="#" @click.prevent="focusCommentBox(post.id)" class="sociallinks comments"><i class="fa fa-comment-alt"></i> Comment</a>
            <!-- <a href="Javascript:void(0)" class="sociallinks share"><i class="fa fa-share-alt"></i> Share</a> -->
          </div>
        </div>
        <div class="col-md-12 clearfix">
            <comment-form :current_comment_focus="current_comment_focus" :post_id="post.id" @addedComment="addedComment"></comment-form>
        </div>
        <div class="col-md-12 clearfix pb-10">
            <comments v-if="post.comments" :comments="post.comments"></comments>
        </div>
    </li>
</template>

<script>
    import Comments from "./Comments";
    import CommentForm from "./CommentForm";

    export default {
        name: "SinglePost",
        props: {
            post: {
                required: true,
                type: Object
            }
        },
        data() {
            return {
                APP_URL: window.APP_URL,
                FILE_PATH: window.FILE_PATH,
                current_comment_focus : ''
            }
        },
        components: {CommentForm, Comments},
        methods: {
            localTime(create) {
                return this.$moment.utc(create).local().fromNow();
            },
            addedComment(data) {
                if (!this.post.comments)
                    this.$set(this.post, 'comments', []);

                this.post.comments.unshift(data);
            },
            focusCommentBox(postId) {
                this.current_comment_focus = postId;
            }
        }
    }
</script>

<style scoped>
    /* img {
        max-width: 45px;
        max-height: 45px;
    } */
</style>
