<template>
    <li>
        <router-link :to="{ name: 'userPublicProfile', params: { userName: comment.user.user_name }}">
            <img :src="comment.user.avater" alt="">
        </router-link>
        <h2>
            <router-link :to="{ name: 'userPublicProfile', params: { userName: comment.user.user_name }}">
                {{comment.user.name}}
            </router-link>
            <span>{{localTime(comment.created_at)}}</span>
        </h2>
        <p>{{comment.body}} </p>
    </li>
</template>

<script>
    export default {
        props: {
            comment: {
                required: true,
                type: Object
            }
        },
        methods: {
            localTime(create) {
                return this.$moment.utc(create).local().fromNow();
            }
        }
    }
</script>

<style scoped>
    img {
        max-height: 30px;
        max-width: 30px;
    }
</style>