<template>
  <div>
    <div v-if="this.$router.currentRoute.name !== 'User Profile' && this.$store.getters.authUser.role_id === 3" class="container mt-2">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <h2 class="profile-title" v-if="auth.role"><strong>{{auth.role.title}} </strong>Profile</h2>
        </div>
      </div>
    </div>
    <div v-if="coverImage === true && this.$store.getters.roleId === 3">
      <div class="hero-img">
        <img :src="this.$store.getters.authUser.cover" alt="">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        coverImage: true
      }
    },
    mounted() {
    },
    watch: {
      $route(to, from) {
        this.coverImage = false;
        if (this.$router.currentRoute.name === 'User Profile') {
          this.coverImage = true;
        }
      },
    },
    computed: {
      auth() {
        return this.$store.getters.authUser;
      },
    },
    methods: {}
  }
</script>

<style scoped>
  .profile-title {
    color: #0065a6;
  }
</style>
