<template>
    <div>
        <div class="chat_box" v-if="friend">
            <div class="chat_box_title">
                <div class="chat_box_img">
                    <img :src="friend.avater" alt="">
                    <span>{{friend.name}}</span>
                </div>

                <div class="chat_heading_dropdown">
                  <div class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span></span></a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <ul>
                              <li class="padding-remove" v-if="block=='me'"><a @click="blockUnblock(0)">Unblock Messagae</a></li>
                              <li class="padding-remove" v-else-if="block==''"><a @click="blockUnblock(1)">Block Messagae</a></li>
                              <li class="padding-remove">
                                  <router-link :to="{ name: 'userPublicProfile', params: { userName: friend.user_name }}">
                                      Profile
                                  </router-link>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
            </div>
            <div class="message_area mCustomScrollbar" ref="messageDisplay">
                <ul v-if="activeChatHistory.length">
                    <template v-for="history in activeChatHistory">
                        <li :class="{'message_auth_user':history.from===auth.id}">
                            <img :src="history.from===auth.id?auth.avater:friend.avater" alt="">
                            <div class="message_text">
                                <p class="message_text_details">{{history.message}}</p>
                                <p class="message_date">
                                    <!-- {{history.created_at | moment("MMMM DD, YYYY hh:mm:ss a")}} -->
                                    {{localTime(history.created_at)}}
                                </p>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="msg_textarea" v-if="blocKMsg!==''">
                <textarea class="form-control text-center" readonly v-model="blocKMsg"></textarea>
            </div>
            <div class="msg_textarea" v-else>
                <textarea class="form-control"
                          v-model="message"
                          @keyup="showTheTyping"
                          rows="2"
                          :placeholder="isTyping?'typing...':'Type and hit enter to sent message'"
                          @keyup.enter="sendMessage">
                </textarea>
                <button class="btn btn-primary" type="submit" @click="sendMessage">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>

        </div>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        name: "ChatBox",
        props: {
            friend: {
                required: true,
                type: Object,
                socket : null
            }
        },
        data() {
            return {
                message: '',
                activeChatHistory: [],
                isTyping: false,
                block: '',
                blocKMsg: '',
                auth: window.auth,
                SOCKET_NAME: window.SOCKET_NAME,
                socket : null
            }
        },
        methods: {
            localTime(create) {
                return this.$moment.utc(create).local().fromNow();
            },
            broadcast(payload){
                this.socket.emit('broadcast' , payload);
            },
            chattingHistory(friendId) {

                axios(api.activeChatFriendHistory + friendId).then(res => {
                    this.activeChatHistory = res.data.histories.reverse();
                    this.block = res.data.block;

                    if (res.data.block=='me') {
                        this.blocKMsg = 'You blocked your friend.';
                    } else if (res.data.block=='friend') {
                        this.blocKMsg = 'Your friend blocked you.';
                    } else {
                        this.blocKMsg = '';
                    }
                });
            },
            sendMessage() {
                axios.post(api.sendMessageToFriend, {
                    message: this.message,
                    friend_id: this.friend.id
                }).then(res => {
                    this.message = '';
                    //this.activeChatHistory.push(res.data);

                    let broadcast_to_users = [this.friend.id , this.auth.id];
                    this.broadcast({
                        users : broadcast_to_users,
                        messages : res.data
                    });
                })
            },
            showTheTyping() {
                //this.channel.whisper('typing');
            },
            blockUnblock(status) {
                axios.post(api.blockFriendToMessage, {
                    friend_id: this.friend.id,
                    status: status
                }).then(res => {
                    if (res.data.success) {
                      if (res.data.status==1) {
                          this.block = 'me';
                          this.blocKMsg = 'You blocked your friend.';
                      } else {
                          this.blocKMsg = '';
                      }
                    }
                })
            }
        },
        mounted() {
            this.chattingHistory(this.friend.id);

            this.socket = io.connect(this.SOCKET_NAME);
            this.socket.on('update-message' + this.auth.id , data => {
                this.activeChatHistory.push(data);
            })
        },
        watch: {
            friend: function (newQuestion, oldQuestion) {
                this.chattingHistory(newQuestion.id);
            }
        },
        computed: {
          //  channel() {
          //      return window.Echo.private('chats.' + (this.auth.id < this.friend.id ?
          //          this.auth.id + '-' + this.friend.id :
          //          this.friend.id + '-' + this.auth.id));
          //  }
        },
        updated(){
            var elem = this.$refs.messageDisplay;
            elem.scrollTop = elem.scrollHeight;
        },
    }
</script>

<style scoped>

</style>
