<template>
    <section>
        <div class="student_timeline_left sticky" v-if="mutualFriends.length">
            <div class="timeline_left_box">
                <h5 class="box-title">Friend Suggestions</h5>
            </div>
            <div class="timeline_left_box">
                <ul class="suggestion-list">
                    <li :key="index" v-for="(mutual, index) in mutualFriends">
                        <div class="list-data-wrapper">
                            <span class="image-wrapper">
                                <router-link :to="{ name: 'userPublicProfile',
                                params: { userName: mutual.user_name }}">
                                    <img :src="mutual.avater" alt="">
                                </router-link>
                            </span>
                            <div class="name-wrapper">
                                <router-link :to="{ name: 'userPublicProfile',
                                params: { userName: mutual.user_name }}">
                                    <span class="friend-name">{{mutual.name | strLimit}}</span>
                                </router-link>
                                <span class="friend-occupasion" v-if="mutual.address">{{mutual.address.address}}</span>
                            </div>
                            <button class="btn add-friend" @click="sendInvitation(mutual)">+</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="timeline_left_box text-center only-anchor clearfix">
                <!-- <a href="#" class="anchor">View More</a> -->
            </div>
        </div>

        <div class="student_timeline_left sticky" v-else>
          <div class="fav-page-ads">
              <h5 class="box-title">You have no friend suggestion</h5>
              <a class="alink" href="/connections/institute">Make a friend</a>
              <a class="btn btn-start-now mt-10" href="/connections/institute">Click Here</a>
          </div>
      </div>

      <invitation-message
          :api="sendInvitationURL"
          :item="invitationStudent"
          model='user'
          @closeInvitationMessage="closeModal"
          @successfullyInvited="successfullyInvited"
          v-if="Object.keys(invitationStudent).length > 0">
      </invitation-message>
    </section>
</template>

<script>
    import api from "../../config/api";
    import InvitationMessage from "./InvitationMessage";

    export default {
        components: {InvitationMessage},
        data() {
            return {
                invitationMutual: {},
                mutualFriends:[],
                invitationStudent: {},
                sendInvitationURL: api.sendInvitation,
                APP_URL: window.APP_URL
            }
        },
        created() {
            axios.get(api.findMutuals + '?page=1').then(res => {
                if(res.data.data.length > 0){
                    this.mutualFriends = res.data.data;
                }
            });
        },
        methods: {
            sendInvitation(program) {
                this.invitationStudent = program;
            },
            closeModal() {
                this.invitationMutual = {};
            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationMutual.id, true);
                this.findMutuals(1);
            }
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        },

    }
</script>

<style scoped>

</style>
