<template>
    <div>
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-md-6">
                <vue-croppie
                        ref="croppieRef"
                        :enableResize="false"
                        @result="result"
                        :boundary="{height: 400}">
                </vue-croppie>
            </div>
            <div class="col-xs-12 col-md-6">
                <img width="400"
                     alt=""
                     :src="cropped"
                     ref="file"
                     class="rounded mx-auto d-block img-thumbnail"
                     style="min-height: 400px;">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xs-12 col-md-12 text-center">
                <button class="btn btn-dark" @click="crop()">Set as profile</button>
            </div>
        </div>
    </div>
</template>

<script>
    import VueCroppie from 'vue-croppie';

    Vue.use(VueCroppie);

    export default {
        props: ["image"],
        mounted() {
            this.$refs.croppieRef.bind({
                url: this.image,
            })
        },
        data() {
            return {
                cropped: null
            }
        },
        methods: {
            crop() {
                let options = {
                    format: 'png',
                    square: true
                };

                this.$refs.croppieRef.result(options, (output) => {
                    this.cropped = output;
                    this.setFormData(output);
                });
            },
            setFormData(dataString) {
                fetch(dataString)
                    .then(res => res.blob())
                    .then(blob => {
                        let file = new File([blob], "images.png", {type: "image/png", lastModified: Date.now()});
                        this.$emit('uploadImage', file);
                    })
            },

            result(output) {
                this.cropped = output;
            },
        }

    }
</script>

<style scoped>

</style>