<template>
    <transition name="fade">
        <div class="invitation-message">
            <modal
                    transition="scale"
                    :draggable="true"
                    height="auto"
                    width="50%"
                    @before-close="beforeClose"
                    name="invitation_message">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left" v-if="invitationSend">
                            <p>Connection invitation sent,<br>Will you like to talk them over social media?</p>
                        </div>
                        <div class="float-left" v-else>
                            You can send your Personal Message
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body color-bg' v-if="invitationSend && invitedTo.social_connect && invitedTo.social_connect.length">

                        <template v-for="social in invitedTo.social_connect">
                            <!--Twitter-->
                            <a v-if="social.option_key==='twitter_url' && social.option_value!=''" @click.prevent="generateSocialRequest"  :href="social.option_value"
                               type="button" class="btn btn-tw">
                                <i class="fab fa-twitter-square"></i> Twitter
                            </a>
                            <div v-if="social.option_key==='twitter_url' && social.option_value!=''" class="clearfix">&nbsp;</div>

                            <!--Facebook-->
                            <a v-if="social.option_key==='facebook_url' && social.option_value!=''" target="_blank" :href="social.option_value"
                               type="button" class="btn btn-fb">
                                <i class="fab fa-facebook-square"></i>Facebook
                            </a>
                            <div v-if="social.option_key==='facebook_url' && social.option_value!=''" class="clearfix">&nbsp;</div>

                            <!--Google +-->
                            <a v-if="social.option_key==='google_url' && social.option_value!=''" target="_blank" :href="social.option_value"
                               type="button" class="btn btn-gplus">
                                <i class="fab fa-google-plus-square"></i>Google +
                            </a>
                        </template>
                    </div>

                    <div class='card-body color-bg' v-else>
                        <p>Include a personal message (optional)</p>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class='form-group row'>
                                    <div class='col-md-12'>
                                        <textarea class="form-control" v-model="message" name="message" id="message"
                                                  cols="20" rows="5" placeholder="Ex: I want to talk about...">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <!-- <button class="btn btn-danger mr-3" @click="closeModal">
                                        Cancel
                                    </button> -->
                                    <button v-if="!loading" class="btn btn-light" @click="sendInvitation">
                                        Send Invitation
                                    </button>
                                    <button v-if="loading" class='btn btn-light'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>
        </div>
    </transition>
</template>

<style scoped>
.color-bg {
    background-color: #0065a6;
    color: #ffffff;
}
</style>
<script>
    import api from "../../config/api";
    import axios from 'axios';
    export default {
        props: {
            item: {
                required: true,
                type: Object
            },
            model: {
                required: true,
                type: String,
                default: 'user'
            },
            api: {
                required: true,
                type: String,
            },
            program: {
                required: false,
                type: Object
            }

        },
        data() {
            return {
                loading: false,
                message: '',
                invitationSend: false,
                invitedTo: {},
                totalSent: 0,
                valid : {
                    facebook : false,
                    twitter : false,
                    google : false
                },
                SOCKET_NAME: window.SOCKET_NAME,
                socket : null
            }
        },
        mounted() {
            this.openModal();
            this.validateSocialUrl();


            this.socket = io.connect(this.SOCKET_NAME);
        },
        methods: {
            generateSocialRequest(){
                let self = this;

                // if(!this.valid.twitter){
                //     toastr.error('this user doesnt have any valid twitter account registered in our site');
                //     return;
                // }

                if(this.totalSent>=3){
                    toastr.error('You already posted 3 social request. You can not allow greater than 3 request as per our business rule.');
                    return;
                }
                axios.post(api.pendingSocial , {
                    sender_id : window.auth.id,
                    receiver_id : self.item.id,
                    platform  : 'twitter'
                }).then(res => {
                    self.showTwitterMessage(res.data.hash);
                })
            },
            showTwitterMessage(hash){

                  window.location.replace(location.origin + '/twitter/login?hash=' + hash);

            },
            validateSocialUrl(){
                let self = this;
                if (this.item.profile_options) {
                  this.item.profile_options.forEach(data => {
                      if(data.option_key == 'twitter_url'){
                          let actual_url = data.option_value;
                          let screen_name = actual_url.replace('https://twitter.com/' , '').replace('http://twitter.com/' , '');
                          if(screen_name.includes('http') || screen_name.includes('/')){

                          } else {
                              axios.get(api.validAccount + '/' + screen_name).then(res => {
                                  if(res.data.success == false){

                                  } else {
                                      self.totalSent = res.data.totalSent;
                                      self.valid.twitter = true;
                                  }
                              })
                          }
                      }
                  })
                }

            },
            openModal() {
                this.$modal.show('invitation_message');
            },
            closeModal() {
                this.$modal.hide('invitation_message')
            },
            sendInvitation() {
                let program = this.program;
                if (!(this.program && this.program.title)) {
                  program = null;
                }
                this.loading = true;
                axios.post(this.api, {
                    message: this.message,
                    item: this.item.id,
                    model: this.model,
                    program: this.program
                }).then(res => {
                    if (res.data) {
                        this.invitationSend = true;
                        this.$emit('successfullyInvited');
                        if (res.data) {
                            this.invitedTo = res.data;

                            if (!res.data.social_connect || !_.size(res.data.social_connect)) {
                                this.$emit('closeInvitationMessage');
                            }
                        } else {
                            this.$emit('closeInvitationMessage');
                        }

                        this.socket.emit('friendRequest', {'to' : this.item.id});

                    }
                    this.loading = false;

                })
            },
            beforeClose() {
                this.$emit('closeInvitationMessage');
            }
        }
    }
</script>

<style scoped>

</style>
