<template>
    <div class="wrapper">
        <nav aria-label="Page navigation example" class="yourdiv">
            <ul class="pagination" >
                <li class="page-item" v-if="isPrev">
                    <a class="page-link" href="#" @click.prevent="fetch('prev')" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item" v-if="isNext">
                    <a class="page-link" href="#" @click.prevent="fetch('next')" aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>

                    </a>
                </li>
            </ul>
        </nav>
    </div>

</template>

<style>
    .pagination {
        margin-top: 40px;
    }
</style>

<script>
    export default {
        props: {
        pagination: {
            required: true,
                type: Object
        }
        },
        methods: {
        },
        computed : {
          isPrev(){
              return this.pagination.prev_page_url !== null;
          },
            isNext(){
                return this.pagination.next_page_url !== null;
            },
        },
        methods : {
          fetch(type){
              let go_to_page = 0;
              if(type == 'next'){
                  go_to_page = this.pagination.current_page + 1;
                  this.$emit('fetch' , this.pagination.current_page + 1)
                  history.pushState(null , null , '?page=' + go_to_page);
              }
              else if(type == 'prev'){
                  go_to_page = this.pagination.current_page - 1;
                  history.pushState(null , null , '?page=' + go_to_page);
                  this.$emit('fetch' , go_to_page)
              }

            }
        },
        created(){
            console.log(this.pagination);
        }

    }
</script>

<style scoped>
    .wrapper {
        text-align: center;
    }
    .yourdiv {
        display: inline-block;
    }
</style>
