<template>
    <nav aria-label="..." class="mt-5" v-if="isVisible">
        <ul class="pagination justify-content-center ">
            <li class="page-item mr-2" :class="{ active:activeIndex==='first' }">
                <a class="page-link rounded" v-if="!isDisable" @click="firstPage" tabindex="-1">First</a>
                <a class="page-link rounded disabled" v-else>First</a>
            </li>
            <li class="page-item mr-2" :class="{active:activeIndex===n}" :key=n v-for="n in totalpage" >
                <a class="page-link rounded"  @click="changePage(n)" >{{n}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item mr-2" :class="{  active:activeIndex==='last' }">
                <a class="page-link rounded" v-if="!isDisableLast"  @click="lastPage">Last</a>
                <a class="page-link rounded disabled" v-else>Last</a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    data(){
      return{
          isDisable:false,
          isDisableLast:false,
          activeIndex:undefined,
          totalpage:0,
          perpage:5,
          currenIndex:0,
          isVisible:true,
          paginatedUsers:[]
      }
    },
    props:{
      paginable: Array
    },
   created(){
        //console.log('pagination create');
        console.log(this.paginable);
        this.updateTotalpage();

        this.$emit('returnpaginated',this.paginatedUsers);
  },
  methods:{
      updateTotalpage(){
        if(this.paginable.length<5)
          {
              this.paginatedUsers = this.paginable;
              this.isVisible= false;
          }
         else
         {
           this.paginateItem(0);
           let tPage = (this.paginable.length/this.perpage).toFixed(1);
           let tPageArr = tPage.split('.');

           this.totalpage =  Number(tPageArr[0]);
           if (tPageArr[1]) {
             this.totalpage = Number(tPageArr[0])+1;
           }
           console.log(this.totalpage);
         }

        this.activeIndex=1;
      },
      paginateItem(starting){
          this.currenIndex = (starting*this.perpage);
          let lastpage = this.currenIndex+this.perpage;
          this.paginatedUsers = this.paginable.slice(this.currenIndex,lastpage);
          console.log('a', this.currenIndex, lastpage);
          if (this.currenIndex == 0) {
            this.isDisable = true;
          } else {
            this.isDisable = false;
          }

          if (lastpage >= this.paginable.length) {
            this.isDisableLast = true;
          } else {
            this.isDisableLast = false;
          }
      },
      changePage(value){
        console.log(value-1);
        this.paginateItem(value-1);
         this.$emit('returnpaginated',this.paginatedUsers);
         this.activeIndex =value;
      },
      firstPage(){
           this.paginateItem(0);
           this.$emit('returnpaginated',this.paginatedUsers);
           this.activeIndex ='first';

      },
      lastPage(){
           this.paginateItem(this.totalpage);
           this.$emit('returnpaginated',this.paginatedUsers);
           this.activeIndex ='last';


      }
  },


}
</script>


<style scoped>
   .disabled{
     color: #d4d4d4 !important;
     background-color: #F8FAFC !important;
      border: none;
          border-top-color: currentcolor;
          border-right-color: currentcolor;
          border-bottom-color: currentcolor;
          border-left-color: currentcolor;
      cursor: no-drop;
   }
</style>

