<template>
    <div class="custom_connection_img_area">
        <div class="custom_connection_img_wrapper clearfix">
            <template >
                <p class="items search-result-row" v-for="item in results">
                    {{item.title}}
                </p>
            </template>
        </div>
        <slot></slot>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        name: "SearchResult",
        props: {
            results: {
                required: true,
                type: Array
            }
        },
        methods: {
        }
    }
</script>

<style scoped>
    .item{
        padding: 5px;
        margin-bottom: 5px;
    }
</style>
