<template>
  <div class="left_sidebar_wrapper">
    <publicProfileSidebar v-if="schoolProfSidebar === true && this.$store.getters.roleId === 3"></publicProfileSidebar>
    <div class="left_sidebar">
      <div class="left_sidebar_title">
        <h2 v-if="activeGroup && activeGroup.groups!==null">{{activeGroup.groups}}</h2>
        <h2 v-else>Profile</h2>
      </div>
      <div class="left_category" v-if="activeGroup.menus && activeGroup.menus.length">
        <ul>
          <li v-for="menu in activeGroup.menus">
            <router-link v-if="menu.permissions"
                         :to="{name:menu.route_name, params:{userName:authUser.user_name}}">
              {{menu.title}}
            </router-link>
          </li>
        </ul>
      </div>
    </div>

    <div class="left_menu">
      <ul id="menu-content" class="menu-content" v-if="sidebarMenus">
        <template v-for="(groups, key) in sidebarMenus">
          <template v-if="activeGroup.groups !== groups.groups">
            <li v-if="groups.permissions" :key="key" @click="activeMenu(key)">
              <a> {{groups.groups}}</a>
            </li>
          </template>
        </template>
      </ul>
    </div>

  </div>
</template>

<script>
  import sidebarMenu from "../../config/sidebarMenu";
  import publicProfileSidebar from "../profile/PublicProfileLeftSidebar";
  import PaginatorObject from "./PaginatorObject";

  export default {
    name: "Sidebar",
    components: {
      publicProfileSidebar
    },
    data() {
      return {
        selectedGroup: 'profile',
        selectedSidebar: 'personal',
        menus: sidebarMenu,
        showMenu: 0,
        submenus: [],
        activeGroup: false,
        schoolProfSidebar: false
      }
    },
    computed: {
      sidebarMenus() {
        if (this.$store.getters.roleId) {
          this.menus.forEach((value, key) => {
            if (value.menus && value.menus.length) {
              value.menus.forEach((v, k) => {
                this.menus[key].menus[k].permissions = _.includes(v.role_id, "*") || _.includes(v.role_id, this.$store.getters.roleId);
              });
            }
            if (this.menus[key].groups === 'Account Requests') {
              if (this.$store.getters.userSession.hasOwnProperty('isChild')) {
                this.menus[key].permissions = false;
              } else {
                this.menus[key].permissions = true;
              }
            } else {
              this.menus[key].permissions = _.includes(value.role_id, "*") || _.includes(value.role_id, this.$store.getters.roleId);
            }
          });
          return this.menus;
        }
      },
      authUser() {
        return this.$store.getters.authUser;
      }
    },
    methods: {
      toggleSidebar(key) {
        if (!this.sidebarMenus[key].menus) {
          this.$router.push({
            name: this.sidebarMenus[key]['route_name'],
            params: {userName: this.authUser.user_name}
          })
        } else {
          this.showMenu = key;
        }
      },
      activeMenu(key) {
        if (!this.sidebarMenus[key].menus) {
          this.activeGroup = this.sidebarMenus[key];
          this.$router.push({
            name: this.sidebarMenus[key]['route_name'],
            params: {userName: this.authUser.user_name}
          })
        } else {
          if (this.sidebarMenus[key].menus.length) {
            for (let i = 0; i < this.sidebarMenus[key].menus.length; i++) {
              if (this.sidebarMenus[key].menus[i].permissions) {
                this.$router.push({
                  name: this.sidebarMenus[key].menus[i].route_name,
                  params: {userName: this.authUser.user_name}
                });
                this.activeGroup = this.sidebarMenus[key];
                break;
              }

            }

          }
        }
      }
    },
    watch: {
      sidebarMenus: function (newValue, oldValue) {
        if (this.sidebarMenus && this.sidebarMenus.length && newValue !== oldValue) {
          this.sidebarMenus.forEach(value => {
            if (value.permissions) {
              if (value.menus) {
                value.menus.forEach(v => {
                  if (v.route_name === this.$router.currentRoute.name && v.permissions)
                    this.activeGroup = value;
                });
              } else {
                if (value.route_name === this.$router.currentRoute.name)
                  this.activeGroup = value;
              }
              if (!this.activeGroup)
                this.activeGroup = value;
            }
          });
        }
      },
      $route(to, from) {
        this.schoolProfSidebar = false;
        if (this.$router.currentRoute.name === 'User Profile') {
          this.schoolProfSidebar = true;
        }
        if (this.sidebarMenus && this.sidebarMenus.length) {
          this.sidebarMenus.forEach(value => {
            if (value.permissions) {
              if (value.menus) {
                value.menus.forEach(v => {
                  if (v.route_name === to.name && v.permissions)
                    this.activeGroup = value;
                });
              } else {
                if (value.route_name === to.name)
                  this.activeGroup = value;
              }
              if (!this.activeGroup)
                this.activeGroup = value;
            }
          });
        }

      },
    },
    mounted() {
      let routeName = this.$route.name;
      let keyCounter = -1;
      if (this.sidebarMenus && this.sidebarMenus.length > 0) {
        for (let i = 0; i < this.sidebarMenus.length; i++) {
          if (this.sidebarMenus[i].menus !== undefined) {
            for (let j = 0; j < this.sidebarMenus[i].menus.length; j++) {
              if (this.sidebarMenus[i].menus[j].route_name == routeName) {
                keyCounter = i;
                break;
              }
            }
          } else {
            if (this.sidebarMenus[i].route_name == routeName) {
              keyCounter = i;
              break;
            }
          }
        }
      }
      if (keyCounter >= 0) {
        this.activeMenu(keyCounter);
      }
      //this.activeMenu(0);
      if (this.$router.currentRoute.name === 'User Profile') {
        this.schoolProfSidebar = true;
      }
    }
  }
</script>

<style scoped>
  #sidebar_metis_menu i {
    display: inline-block;
    margin-right: 10px;
  }

  #sidebar_metis_menu li .show-sidebar-menu {
    display: block;
  }

  #sidebar_metis_menu li ul {
    display: none;
  }

  a {
    cursor: pointer;
  }
</style>

