<template>
    <transition name="fade">
        <div class="invitation-message">
            <modal
                    transition="scale"
                    :draggable="true"
                    height="auto"
                    width="50%"
                    @before-close="beforeClose"
                    name="social_message">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left" v-if="invitationSend">
                            Connection invitation send, Will you like to talk them over social media?
                        </div>
                        <div class="float-left" v-else>
                            Tweet this
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class='card-body'>
                        <!--<p>Include a personal message (optional)</p>-->
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class='form-group row'>
                                    <div class='col-md-12'>
                                        <textarea class="form-control" v-model="new_message" name="message" id="message"
                                                  cols="20" rows="5" placeholder="type here">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <button class="btn btn-danger mr-3" @click="closeModal">
                                        Cancel
                                    </button>
                                    <button v-if="!loading" class="btn btn-primary" @click.prevent="sendInvitation">
                                        Tweet
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>
        </div>
    </transition>
</template>

<script>
    import api from "../../config/api";
    import axios from 'axios';
    export default {
        props: {
            message: {
                required: true,
                type: String
            },

            api: {
                required: true,
                type: String,
            },
            hash : {
                required : true,
                type : String
            }
        },
        data() {
            return {
                loading: false,
                new_message: '',
                invitationSend: false,
                invitedTo: {},
            }
        },
        mounted() {
            this.openModal();

        },
        created(){
          this.new_message = String(this.message);
        },
        methods: {
            openModal() {
                this.$modal.show('social_message');
            },
            closeModal() {
                this.$modal.hide('social_message')
            },
            sendInvitation() {
                this.loading = true;
                axios.post(this.api, {
                    message: this.new_message,
                    hash: this.hash
                }).then(res => {
                    console.log(res)
                    if (res.data) {
                        this.$emit('closeInvitationMessage');
                    }
                    this.loading = false;
                })
            },
            beforeClose() {
                this.$emit('closeInvitationMessage');
            }
        }
    }
</script>

<style scoped>

</style>
