<template>
    <section>
        <div class="student_timeline_left text-center sticky">
            <div class="cover_photo"><img :src="APP_URL+'/images/cover.jpg'" /></div>
            <img :src="auth.avater" class="author_image" alt="">
            <h2>{{auth.name}}</h2>
            <template v-if="auth.role_id===2 && auth.educations && auth.educations[0]">
                <p>{{auth.educations[0].title}}</p>
                <p v-if="auth.educations[0].institute">{{auth.educations[0].institute.title}}</p>
            </template>
            <template v-if="auth.role_id===3 && auth.institute">
                <p>{{auth.institute.title}}</p>
                <p>{{ (auth.institute.education_level)?auth.institute.education_level.title:''}}</p>
            </template>
            <template v-if="auth.role_id===4 && auth.experiences">
                <p>{{auth.experiences[0].title}}</p>
                <p>{{ (auth.experiences[0].institute)?auth.experiences[0].institute.title:''}}</p>
            </template>
            <div class="timeline_left_box">
                <p class="f_15">Connections</p>
                <p class="counter"><router-link class="anchor" :to="'/my-connections'">{{count}}</router-link></p>
            </div>
            <div class="timeline_left_box">
                <p class="f_15">Posts</p>
                <p class="counter"><router-link class="anchor" :to="'/my-timeline'">{{postCount}}</router-link></p>
            </div>
            <div class="timeline_left_box only-anchor">
                <router-link class="anchor" :to="'/profile/'+auth.user_name">View Profile</router-link>
            </div>
        </div>
    </section>
</template>

<script>
    import api from "../../config/api";

    export default {
        data() {
            return {
                count:0,
                postCount:0,
                APP_URL: window.APP_URL
            }
        },
        created() {
            axios.get(api.friendListCount).then(res => {
                this.count = res.data;
                console.log(this.auth);
            });
            axios.get(api.postInTimeLine + '/count').then(res => {
                this.postCount = res.data;
            });
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        },

    }
</script>

<style scoped>

</style>
