<template>
  <div class='card' v-if="course">
    <div class='card-header'>
      <div class="float-left">
        {{ course.title }}
      </div>
    </div>
    <div class='card-body'>
      <div class='form-group row'>
        <label class='col-2 col-form-label text-md-right'>Image</label>
        <div class='col-10 Common_form_group'>
          <p>
            <img v-if="course.online_course_image" :src="'/storage/uploads/images/'+course.online_course_image" width="100%">
          </p>
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-2 col-form-label text-md-right'>Course title</label>
        <div class='col-10 Common_form_group'>
          <p>{{ course.title }}</p>
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-2 col-form-label text-md-right'>Fee</label>
        <div class='col-10 Common_form_group'>
          <p>{{ course.fee }}</p>
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-2 col-form-label text-md-right'>Starting date</label>
        <div class='col-10 Common_form_group'>
          <p>{{ course.starting_date }}</p>
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-2 col-form-label text-md-right'>Education Level</label>
        <div class='col-10 Common_form_group'>
          <p>{{ course.education_level ? course.education_level.title : '' }}</p>
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-2 col-form-label text-md-right'>Description</label>
        <div class='col-10 Common_form_group'>
          <p>{{ course.description }}</p>
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-2 col-form-label text-md-right'>Licence</label>
        <div class='col-10 Common_form_group'>
          <p>{{ course.licence ? course.licence.title : '' }}</p>
        </div>
      </div>

      <div v-if="course.online_course == 1">
        <div class='form-group row'>
          <label class='col-2 col-form-label text-md-right'>Url</label>
          <div class='col-10 Common_form_group'>
            <p><a :href="course.online_url" target="_blank">{{ course.online_url }}</a></p>
          </div>
        </div>

        <div class='form-group row'>
          <label class='col-2 col-form-label text-md-right'>Site Name</label>
          <div class='col-10 Common_form_group'>
            <p>{{ course.online_site_name }}</p>
          </div>
        </div>

        <div class='form-group row'>
          <label class='col-2 col-form-label text-md-right'>Intro</label>
          <div class='col-10 Common_form_group'>
            <p>
              <video v-if="course.online_course_video" width='100%' controls :src="'/storage/uploads/videos/'+course.online_course_video"></video>
            </p>
          </div>
        </div>
      </div>

      <div v-if="course.online_course == 0">
        <div class='form-group row'>
          <label class='col-2 col-form-label text-md-right'>Tuition service mode</label>
          <div class='col-10 Common_form_group'>
            <p>{{ course.service_modes }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import api from "../../config/api";

  export default {
    name: "CourseDetails",
    data() {
      return {
        course: null,
        loading: false,
      }
    },
    mounted() {
      this.findCourse(this.$route.params.courseId);
    },
    methods: {
      findCourse(id) {
        axios.get(api.findCourse, { params: { course_id: id }}).then(response => {
          this.course = response.data;
        });
      },
    }
  }
</script>

<style scoped>
.card-body .Common_form_group {
  margin-top: 5px;
}
</style>
