<template>
  <div class="connection_main_content">
    <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
    <div class="tab-content" id="nav-tab2Content">
      <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
        <div class="connection_form_inner">
          <div class="col-md-12">
            <div class="row custom_connection_form">
              <form @submit.prevent="searchStudents">
                <div class="row">
                  <div class="col-sm-8">
                    <h2>Do you want to find student from all countries and regions?</h2>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group radio_button radio_button_inline">
                      <input type="radio"
                             value="1"
                             id="radio3"
                             v-model="findAllOver">
                      <label for="radio3">Yes</label>
                    </div>

                    <div class="form-group radio_button radio_button_inline">
                      <input type="radio" value="0"
                             v-model="findAllOver"
                             id="radio4">
                      <label for="radio4">No</label>
                    </div>
                  </div>
                  <div class="col-sm-12" v-if="findAllOver!=1">
                    <location-form ref="refLocation"></location-form>
                  </div>

                  <hr>

                  <div class="col-sm-6">
                    <div class="form-group Common_form_group">
                      <label for=""> Program </label>
                      <input type="text" class="form-control"
                             v-model="find.program" name="title" placeholder="ANY">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group Common_form_group">
                      <label for=""> Score </label>
                      <input type="text" class="form-control"
                             v-model="find.score" name="title" placeholder="ANY">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group Common_form_group">
                      <label for=""> Grade </label>
                      <input type="text" class="form-control"
                             v-model="find.grade" name="title" placeholder="ANY">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group Common_form_group">
                      <label for=""> GPA </label>
                      <input type="text" class="form-control"
                             v-model="find.gpa" name="title" placeholder="ANY">
                    </div>
                  </div>
                  <div class="col-sm-6" style="display: none;">
                    <div class="form-group Common_form_group">
                      <label for=""> Status </label>
                      <input type="text" class="form-control"
                             v-model="find.status" name="title" placeholder="ANY">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="button_submit">
                      <button v-if="!loading" class="form_submit" type="submit">Search</button>
                      <button v-if="loading">
                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                      </button>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <template v-if="students.length">
      <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

      <div class="row">
        <template v-for="(student, key) in students">
          <div class="col-sm-6 connection_program" :key="key">
            <div class="connection_program_inner">
              <div class="row">
                <div class="col-3">
                  <router-link :to="{ name: 'userPublicProfile', params: { userName: student.user_name }}"
                               target="_blank">
                    <img :src="student.avater" alt="">
                  </router-link>
                  <br>

                  <a href="#" v-if="invited[student.id]" class="active connect-btn">Invite Sent</a>
                  <a v-else href="#" class="connect-btn" @click="sendInvitation(student)">Connect</a>
                </div>

                <div class="col-9">
                  <router-link :to="{ name: 'userPublicProfile', params: { userName: student.user_name }}"
                               target="_blank">
                    <h5>{{student.name | strLimit}}<br>
                      <template v-if="student.address">
                        <template
                          v-if="student.address.length && student.address.constructor ===Array && student.address[0].country">
                          {{student.address[0].city + ', ' + student.address[0].country.title | strLimit }}
                        </template>

                        <template v-if=" typeof student.address==='object' && student.address.country">
                          {{ student.address.city + ', ' + student.address.country.title | strLimit }}
                        </template>
                      </template>
                    </h5>
                  </router-link>

                  <a>
                    <h5 v-if="student.last_education && student.last_education.length">
                      {{student.last_education[0].title}}
                      <template v-if="student.last_education[0].institute">
                        from {{student.last_education[0].institute.title}}
                      </template>
                    </h5>
                  </a>

                  <p v-if="student.last_ielts && student.last_ielts.length">
                    {{student.last_ielts[0].title}}
                    <template v-if="student.last_ielts[0].institute">
                      from {{student.last_ielts[0].institute.title}}
                    </template>
                  </p>
                  <p class="program_date" v-if="student.profile_options && student.profile_options.length">Age
                    {{student.profile_options[0].option_value|moment("from", true)}}</p>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <pagination :pagination_data="pagination_data" @paginate="findStudents" :offset="5"></pagination>
      <!--            <pagination @fetch="findStudents" :pagination="pagination_data" ></pagination>-->
    </template>

    <template v-if="students.length===0 && callApi">
      <h4 class="connection_program_inner text-center">No result found</h4>
    </template>

    <invitation-message
      :api="sendInvitationURL"
      :item="invitationStudent"
      model='user'
      @closeInvitationMessage="closeModal"
      @successfullyInvited="successfullyInvited"
      v-if="Object.keys(invitationStudent).length">
    </invitation-message>

    <social-message
      :hash="hash"
      :api="sendPendingUrl"
      :message="socialForward.message"
      @closeInvitationMessage="showSocialModal = false"
      @successfullyInvited="successfullyInvited"
      v-if="showSocialModal"/>
  </div>
</template>

<script>
  //custom loading to this file
  import Vue from 'vue';
  // Import component
  import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
  // Init plugin
  Vue.use(Loading);

  import Multiselect from 'vue-multiselect';
  import api from "../../config/api";
  import InvitationMessage from "../common/InvitationMessage";
  import SocialMessage from "../common/SocialMessage";
  // import Pagination from "../common/Pagination";
  import Navigation from "./common/Navigation";
  import LocationForm from "./common/LocationForm";
  import Pagination from "./common/FindPagination"; //New added...
  export default {
    components: {LocationForm, Pagination, InvitationMessage, Multiselect, Navigation, SocialMessage},
    data() {
      return {
        loading: false,
        find: {},
        students: [],
        invitationStudent: {},
        pagination: {},
        pagination_data: {},
        findAllOver: 0,
        invited: [],
        sendInvitationURL: api.sendInvitation,
        sendPendingUrl: api.sendPending,
        socialForward: {
          message: '',
          sender_id: 0,
          receiver_id: 0
        },
        showSocialModal: false,
        hash: '',
        callApi: false
      }
    },
    methods: {
      searchStudents() {
        this.pagination_data.current_page = 1;
        this.findStudents();
      },
      findStudents(page = 1) {
        let self = this;
        console.log(page);

        let loader = this.$loading.show({   //adding loader to every search
          // Optional parameters
          container: this.fullPage ? null : this.$refs.formContainer,
          canCancel: true,
          onCancel: this.onCancel,
        });

        if (this.findAllOver != 1) {
          _.forEach(this.$refs.refLocation.location, (value, key) => {
            this.find[key] = '';
            if (value)
              this.find[key] = value;
          });
        }

        if(isNaN(page))
          page = 1;
        //New added...
        page = this.pagination_data.current_page;
        // this.loading = true;
        axios.get(api.findStudent + '?page=' + page + '&' + self.readyFilter()).then(res => {
          this.loading = false;
          this.callApi = true;

          self.students = res.data.data;
          self.pagination_data = res.data;

          loader.hide();
        });
        setTimeout(() => {   //hold it up to 1 sec unless data is fully loaded
          loader.hide()
        }, 1000)
      },
      readyFilter() {
        let query = '';

        _.forEach(this.find, (value, key) => {
          if (value) {
            query += key + '=' + value + '&';
          }
        });
        return query;
      },
      sendInvitation(student) {
        this.invitationStudent = student;
      },
      closeModal() {
        this.invitationStudent = {};
      },
      successfullyInvited() {
        this.$set(this.invited, this.invitationStudent.id, true)
      }
    },
    created() {

      let self = this;
      if (self.$route.params.hash !== undefined) {
        self.hash = self.$route.params.hash;
        axios.get(api.findPending + '?hash=' + self.$route.params.hash).then(res => {
          if (res.data.message.length > 0) {

            self.socialForward['message'] = res.data.message;
            self.socialForward['sender_id'] = res.data.record.sender_id;
            self.socialForward['receiver_id'] = res.data.record.receiver_id;

            self.showSocialModal = true;
          }
        })
      }
    }
  }
</script>

