<template>
    <div class="connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="connection_form_inner">
                    <div class="col-md-12">
                        <div class="row custom_connection_form">
                        <form @submit.prevent="findMutuals">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span>What are the common values you need in a friend?</span>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group Common_form_group has_error">
                                        <input type="text" class="form-control" placeholder="Exmapler Name" v-model="find.common">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                          <label for=""> Gender </label>
                                            <select class="form-control" v-model="find.gender">
                                                <option value="" selected>Select gender</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group has_error">
                                      <label for=""> Key Value </label>
                                        <input type="text" class="form-control" placeholder="Key values" v-model="find.key">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group has_error">
                                        <label for=""> School </label>
                                        <input type="text" class="form-control" placeholder="ANY" v-model="find.school">
                                    </div>
                                </div>
                                <div class="col-sm-12" v-if="findAllOver!=1">
                                    <location-form ref="refLocation"></location-form>
                                </div>

                                <div class="col-sm-12">
                                    <div class="button_submit float-right">
                                        <button v-if="!loading" class="form_submit" type="submit">Search</button>
                                        <button v-if="loading">
                                            <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template v-if="friends.length">
            <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

            <div class="row">
                <template v-for="(student, key) in friends">
                    <div class="col-sm-6 connection_program" :key="key">
                        <div class="connection_program_inner">

                            <div class="row">
                                <div class="col-3">
                                    <router-link :to="{ name: 'userPublicProfile', params: { userName: student.user_name }}" target="_blank">
                                        <img :src="student.avater" alt="">
                                    </router-link><br>

                                    <a href="#" v-if="invited[student.id]" class="active connect-btn">Invite Sent</a>
                                    <a v-else href="#" class="connect-btn" @click.prevent="sendInvitation(student)">Connect</a>
                                </div>

                                <div class="col-9">
                                    <router-link :to="{ name: 'userPublicProfile', params: { userName: student.user_name }}" target="_blank">
                                    <h5>{{student.name | strLimit}}<br>
                                        <template v-if="student.address">
                                            <template v-if="student.address.length && student.address.constructor ===Array && student.address[0].country">
                                                {{student.address[0].city + ', ' + student.address[0].country.title | strLimit }}
                                            </template>

                                            <template v-if=" typeof student.address==='object' && student.address.country">
                                                {{ student.address.city + ', ' + student.address.country.title | strLimit }}
                                            </template>
                                        </template>
                                    </h5>
                                    </router-link>

                                    <a><h5 v-if="student.last_education && student.last_education.length">
                                        {{student.last_education[0].title}}
                                        <template v-if="student.last_education[0].institute">
                                            from {{student.last_education[0].institute.title}}
                                        </template>
                                    </h5></a>

                                    <p v-if="student.last_ielts && student.last_ielts.length">
                                        {{student.last_ielts[0].title}}
                                        <template v-if="student.last_ielts[0].institute">
                                            from {{student.last_ielts[0].institute.title}}
                                        </template>
                                    </p>
                                    <p class="program_date" v-if="student.profile_options && student.profile_options.length">Age
                                        {{student.profile_options[0].option_value|moment("from", true)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <pagination @fetch="fetch" :pagination="pagination_data"></pagination>

            <invitation-message
                :api="sendInvitationURL"
                :item="invitationStudent"
                model='user'
                @closeInvitationMessage="closeModal"
                @successfullyInvited="successfullyInvited"
                v-if="Object.keys(invitationStudent).length > 0">
            </invitation-message>
        </template>

        <template v-if="friends.length===0 && callApi">
            <h4 class="connection_program_inner text-center">No result found</h4>
        </template>
    </div>
</template>

<script>

     //custom loading to this file
     import Vue from 'vue';
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    // Init plugin
    Vue.use(Loading);




    import Multiselect from 'vue-multiselect';
    import api from "../../config/api";
    import InvitationMessage from "../common/InvitationMessage";
    import Pagination from "../common/Pagination";
    import Navigation from "./common/Navigation";
    import LocationForm from "./common/LocationForm";
    import axios from 'axios';
    import moment from 'moment';

    export default {
        components: {Pagination, InvitationMessage, Multiselect, Navigation , LocationForm},
        data() {
            return {
                loading: false,
                find: {
                    region: ''
                },
                country: {},
                states: [],
                state: {},
                mutuals: [],
                friends  :[],
                invitationMutual: {},
                invitationStudent: {},
                pagination: {'current_page': 1},
                invited: [],
                pagination_data : {},
                sendInvitationURL: api.sendInvitation,
                current_page : 1,
                findAllOver: 0,
                callApi: false,
            }
        },
        methods: {
            fetch(page){
                this.findMutuals(page);
            },
            sendInvitation(program) {
                this.invitationStudent = program;
            },
            getStates() {
                axios.get(api.states + '/country/' + this.country.id).then(res => {
                    this.states = res.data;
                })
            },
            getCountriesList() {
                if (this.find.region) {
                    this.countries = this.$store.getters.countriesByRegion(this.find.region);
                }
            },

            findMutuals(page = 1) {

                let loader = this.$loading.show({   //adding loader to every search
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  canCancel: true,
                  onCancel: this.onCancel,
                });

                this.find.state = this.state ? this.state.id : '';
                this.find.country = this.country ? this.country.id : '';

                if (this.findAllOver != 1) {
                    _.forEach(this.$refs.refLocation.location, (value, key) => {
                        this.find[key] = '';
                        if (value)
                            this.find[key] = value;
                    });
                }

                this.current_page = Number(page);
                if(isNaN(page))
                    page = 1;

                //this.loading = true;
                axios.get(api.findMutuals + '?page=' + page + '&' + this.readyFilter()).then(res => {
                    this.loading = false;
                    this.callApi = true;

                    // if(res.data.data.length > 0){
                        this.friends = res.data.data;
                    // }

                    this.pagination_data = res.data;

                    loader.hide();
                });
                // setTimeout(() => {   //hold it up to 5 sec unless data is fully loaded
                //   loader.hide()
                // },1000);

            },

            readyFilter() {
                let query = '';

                _.forEach(this.find, (value, key) => {
                    if (value) {
                        query += key + '=' + value + '&';
                    }
                });

                return query;
                //return Object.keys(this.find).map(key => this.find[key]?key + '=' + this.find[key]:'').join('&');
            },
            closeModal() {
                this.invitationMutual = {};
            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationMutual.id, true);
                this.findMutuals(1);
            }
        },
        computed: {
            countries: {
                get: function () {
                    return this.$store.getters.countries;
                },
                set: function (countries) {
                    return countries;
                }
            },
            regions() {
                return this.$store.getters.regions;
            }
        },
        mounted() {

            if (!this.countries.length) {
                this.$store.dispatch('countryListAction');
            }

            if (!this.regions.length) {
                this.$store.dispatch('regionListAction');
            }
        },
        created(){
//            axios.get(api.findMutuals).then(res => {
//                console.log(res);
//            })
        }
    }
</script>
<style scoped>
  .custom_connection_form button,
  .custom_connection_form button:focus {
    margin-top: 0;
  }
</style>

