<template>
  <div class="connection_main_content">
    <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
    <div class="tab-content" id="nav-tab2Content">
      <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
        <div class="connection_form_inner">
          <div class="col-md-12">
            <div class="row custom_connection_form">
              <form @submit.prevent="searchCourses">
                <div class="row">

                  <div class="col-sm-12">
                    <h2>What course do you have in mind?</h2>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group Common_form_group has_error">
                      <div class="row">
                        <div class="col-2">
                          <label> Name </label>
                        </div>
                        <div class="col-10">
                          <input type="text" class="form-control"
                                 v-model="find.title"
                                 placeholder="ANY">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group Common_form_group">
                      <div class="row">
                        <div class="col-2">
                          <label> Site </label>
                        </div>
                        <div class="col-10">
                          <multiselect
                            id="site_name"
                            v-model="find.site_name"
                            :options="onlineUrlList"
                            placeholder="Select Site"
                            tag-placeholder="append"
                            label="site_name"
                            :show-labels="false"
                            track-by="site_name">
                          </multiselect>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="button_submit text-right">
                      <button type="reset" style="background: orange; border-color: orange;"
                              class="btn btn-danger ml-1">
                        Reset
                      </button>
                      <button v-if="!loading" class="form_submit" type="submit">Search</button>
                      <button v-if="loading">
                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <template v-if="courses.length">
      <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

      <div class="row">
        <template v-for="(course, key) in courses">
          <div class="col-12 connection_program" :key="key">
            <div class="connection_program_inner p-2">
              <div class="row">
                <div class="col-3 text-center">
                  <router-link :to="{ name: 'userPublicProfile', params: { userName: course.user_name }}"
                               target="_blank">
                    <img :src="'/storage/uploads/images/'+course.online_course_image" alt="" style="width: 180px">
                  </router-link>
                  <br>

                  <h6>{{ course.user.name }}</h6>
                  <h6 style="color: #8b0757">{{ course.user.address.city }}</h6>
                </div>

                <div class="col-5">
                  <template v-if="course.title">
                    <strong>
                      <h5 style="color: green">{{strLimit(course.title, 30)}}</h5>
                      <!--<router-link :to="{ name: 'userPublicProfile', params: { userName: course.user_name }}"
                                   target="_blank">
                      </router-link>-->
                    </strong>
                  </template>
                  <template v-else><strong><span style="color: green">{{course.title}}</span><br></strong></template>

                  <div v-if="course.description">
                    <template v-if="course.description">
                      {{strLimit(course.description, 100)}}
                    </template>
                  </div>
                  <br>
                  <div style="color: blue">
                    Price: {{ course.fee }}
                  </div>
                  <router-link v-if="invited[course.user.id] || course.fId != null"
                               :to="{ name: 'E-Learning-Course-Details', params: { courseId: course.id }}"
                               class="btn btn-warning">
                    Go to Course
                  </router-link>
                  <a v-else href="#" class="btn btn-primary" @click="sendInvitation(course.user)">Connect</a>
                </div>
                <div class="col-4 text-center">
                  <template v-if="course.online_course_video">
                    <video :src="'/storage/uploads/videos/'+course.online_course_video" style="cursor: pointer; border: 1px solid #bbbaba; box-shadow: 1px 0px 1px -1px #000;"
                           class="embed-responsive" @click="setModalVideo(course)"></video>
                    Video: Intro to <span style="color: green">{{ course.title }}</span>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <pagination :pagination_data="pagination_data" @paginate="findPrograms" :offset="5"></pagination>
      <!-- New added... -->

      <invitation-message
        :api="sendInvitationURL"
        :item="invitationCourseUser"
        model='program'
        @closeInvitationMessage="closeModal"
        @successfullyInvited="successfullyInvited"
        v-if="Object.keys(invitationCourseUser).length">
      </invitation-message>
    </template>

    <template v-if="courses.length===0 && callApi">
      <h4 class="connection_program_inner text-center">No result found</h4>
    </template>

    <!-- Modal -->
    <div v-if="modalVideo" class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modelTitleId">{{ modalVideo.title }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 0">
            <video controls :src="'/storage/uploads/videos/'+modalVideo.online_course_video" class="embed-responsive"></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  // Import component
  import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
  // Init plugin
  Vue.use(Loading);


  import VueSlider from 'vue-slider-component'
  import 'vue-slider-component/theme/default.css'


  import Multiselect from 'vue-multiselect';
  import api from "../../config/api";
  import InvitationMessage from "../common/InvitationMessage";
  import Navigation from "./common/Navigation";
  import LocationForm from "./common/LocationForm";

  //import Pagination from "../common/Pagination";
  import Pagination from "./common/FindPagination"; //New added...

  export default {
    components: {LocationForm, Pagination, InvitationMessage, Navigation, VueSlider, Multiselect},
    data() {
      return {
        fullPage: false,
        loading: false,

        slideroptions: {
          min: 0,
          max: 10000000,
        },
        onlineUrlList: [],
        find: {
          title: "",
          site_name: "",
          range: [0, 10000000]
        },
        modalVideo: null,
        courses: [],
        invitationCourseUser: {},
        pagination: {},
        sendInvitationURL: api.sendInvitation,
        invited: [],
        studentRole: api.STUDENT_ROLE,
        tutorRole: api.TUTOR_ROLE,
        schoolRole: api.SCHOOL_ROLE,
        pagination_data: {},
        callApi: false,
        SI_SYMBOL: ["", "k", "M", "G", "T", "P", "E"]
      }
    },
    methods: {

      abbreviateNumber(number) {
        // what tier? (determines SI symbol)
        let tier = Math.log10(number) / 3 | 0;

        // if zero, we don't need a suffix
        if (tier == 0) return number;

        // get suffix and determine scale
        let suffix = this.SI_SYMBOL[tier];
        let scale = Math.pow(10, tier * 3);

        // scale the number
        let scaled = number / scale;

        // format number and add suffix
        return scaled.toFixed(1) + suffix;
      },
      sendInvitation(inst) {
        this.invitationCourseUser = inst;
      },

      searchCourses() {
        this.pagination_data.current_page = 1;
        this.findPrograms();
      },

      findPrograms(page = 1) {
        let loader = this.$loading.show({   //adding loader to every search
          // Optional parameters
          container: this.fullPage ? null : this.$refs.formContainer,
          canCancel: true,
          onCancel: this.onCancel,
        });

        if (isNaN(page))
          page = 1;

        //New added...
        page = this.pagination_data.current_page;

        axios.get(api.findOnlineCourses + "?page=" + page + '&' + this.readyFilter()).then(res => {
          this.loading = false;
          this.callApi = true;
          this.courses = res.data.data;
          this.pagination_data = res.data;
          loader.hide();
        });
      },

      readyFilter() {
        let query = '';

        _.forEach(this.find, (value, key) => {
          if (value) {
            query += key + '=' + ((key === 'site_name') ? value.site_name : value) + '&';
          }
        });

        return query;
      },
      closeModal() {
        this.invitationCourseUser = {};
      },
      successfullyInvited() {
        this.$set(this.invited, this.invitationCourseUser.id, true)
      },
      strLimit(input, limit = 20) {
        return input.length > limit ? input.substring(0, limit) + '...' : input;
      },
      getListOfLinks() {
        axios.get(api.onlineUrls).then(res => {
          this.onlineUrlList = res.data;
        });
      },
      setModalVideo(course){
        this.modalVideo = course;
        $('#modelId').modal('show');
      }
    },
    computed: {
      roleId() {
        return this.$store.getters.roleId;
      },

      departments() {
        if (this.roleId === this.schoolRole) {
          return this.$store.getters.departments;
        }
      },

      roles() {
        if (this.roleId === this.schoolRole) {
          return this.$store.getters.instituteRoles;
        }

      }
    },
    mounted() {
      if (this.roleId === this.schoolRole) {
        this.$store.dispatch('setDepartmentAction');
        this.$store.dispatch('setInstituteRoleAction');
      }
      this.getListOfLinks();
    }

  }
</script>

<style scoped>
  .slider {
    /* overwrite slider styles */
    width: 200px;
  }
</style>

<style>
  .vue-slider-process {
    z-index: 0 !important;
  }

  .vue-slider-dot {
    z-index: 0 !important;
  }

  .pagination {
    justify-content: center;
  }
</style>
