<template>
    <div class="connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="connection_form_inner">
                    <div class="col-md-12">
                        <form @submit.prevent="findCourses">
                            <div class="row custom_connection_form">
                                <div class="col-sm-12">
                                    <h2>What kind of teacher are you looking for?</h2>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group has_error">
                                      <label for=""> Teacher Name</label>
                                        <input v-model="find.title" type="text" class="form-control"
                                                placeholder="ANY">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group has_error">
                                       <label for=""> Subjects</label>
                                        <input v-model="find.course" type="text" class="form-control"
                                                placeholder="ANY">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group has_error">
                                      <label for=""> Interests</label>
                                        <input v-model="find.interest" type="text" class="form-control"
                                                placeholder="ANY">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <location-form ref="refLocation"></location-form>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group">
                                      <label for=""> Key primary area</label>
                                        <input type="text" class="form-control"
                                                v-model="find.keyArea" name="title" placeholder="ANY">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group">
                                      <label for=""> Common value</label>
                                        <input type="text" class="form-control"
                                                v-model="find.commonValue" name="title" placeholder="ANY">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="button_submit float-right">
                                        <button v-if="!loading" class="form_submit" type="submit">Search</button>
                                        <button v-if="loading">
                                            <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="tutors.length">
            <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

            <div class="row">
                <template v-for="(tutor, key) in tutors">
                    <div class="col-sm-6 connection_program" :key="key" v-if="tutor.id">
                        <div class="connection_program_inner">
                            <div class="row">
                                <div class="col-3">
                                     <router-link :to="{ name: 'userPublicProfile', params: { userName: tutor.user_name }}" target="_blank">
                                        <img :src="tutor.avater" :alt="tutor.name">
                                    </router-link><br>

                                    <a href="#" v-if="invited[tutor.id]" class="active connect-btn">Invite Sent</a>
                                    <a href="#" v-else class="connect-btn" @click="sendInvitation(tutor)">Connect</a>
                                </div>

                                <div class="col-9">
                                    <router-link :to="{ name: 'userPublicProfile', params: { userName: tutor.user_name }}" target="_blank">
                                    <h5>{{tutor.name | strLimit}}<br>
                                        <template v-if="tutor.address ">
                                            <template v-if="tutor.address.length && tutor.address.constructor ===Array && tutor.address[0].country">
                                                {{tutor.address[0].city +', '+ tutor.address[0].country.title | strLimit}}
                                            </template>

                                            <template v-if=" typeof tutor.address==='object' && tutor.address.country">
                                                {{tutor.address.city +', '+tutor.address.country.title | strLimit}}
                                            </template>
                                        </template>
                                    </h5>
                                    </router-link>

                                    <router-link :to="{ name: 'userPublicProfile', params: { userName: tutor.user_name }}" target="_blank">
                                        <h5 v-if="tutor.courses.length>0">{{tutor.courses[0].title}}</h5>
                                    </router-link>

                                    <p v-if="tutor.experiences && tutor.experiences.length">
                                        Experience: {{ totalExperience(key) }} Years
                                    </p>
                                    <p v-else>Experience: No experience</p>
                                    <p class="program_date" v-if="tutor.courses.length>0">Fee: {{tutor.courses[0].fee}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <pagination @fetch="findCourses" :pagination="pagination_data" ></pagination>

            <invitation-message
                :item="invitationTutor"
                :api="sendInvitationURL"
                @successfullyInvited="successfullyInvited"
                model='tutor'
                @closeInvitationMessage="closeModal"
                v-if="Object.keys(invitationTutor).length">
            </invitation-message>
        </template>

        <template v-if="tutors.length===0 && callApi">
            <h4 class="connection_program_inner text-center">No result found</h4>
        </template>
    </div>
</template>

<script>
  //custom loading to this file
  import Vue from 'vue';
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    // Init plugin
    Vue.use(Loading);


    import Multiselect from 'vue-multiselect';
    import api from "../../config/api";
    import InvitationMessage from "../common/InvitationMessage";
    import Pagination from "../common/Pagination";
    import Navigation from "./common/Navigation";
    import LocationForm from "./common/LocationForm";

    export default {
        components: {LocationForm, Pagination, InvitationMessage, Multiselect, Navigation},
        data() {
            return {
                loading: false,
                find: {},
                tutors: [],
                invitationTutor: {},
                pagination: {'current_page': 1},
                sendInvitationURL: api.sendInvitation,
                invited: [],
                pagination_data : {},
                callApi: false
            }
        },
        methods: {
            sendInvitation(tutor) {
                this.invitationTutor = tutor;
            },


            findCourses(page = 1) {

                let loader = this.$loading.show({   //adding loader to every search
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  canCancel: true,
                  onCancel: this.onCancel,
                });

                _.forEach(this.$refs.refLocation.location, (value, key) => {
                    this.find[key] = '';
                    if (value)
                        this.find[key] = value;
                });

                if(isNaN(page))
                    page = 1;

               // this.loading = true; // we don't need this loading anymore
                axios.get(api.findTutor + '?page=' + page + '&' + this.readyFilter()).then(res => {
                    this.loading = false;
                    this.callApi = true;

                    this.tutors = res.data.data;
                    this.pagination_data = res.data;

                    loader.hide();
                });
                // setTimeout(() => {   //hold it up to 5 sec unless data is fully loaded
                //   loader.hide()
                // },1000)
            },

            readyFilter() {
                let query = '';

                _.forEach(this.find, (value, key) => {
                    if (value) {
                        query += key + '=' + value + '&';
                    }
                });

                return query;
                //return Object.keys(this.find).map(key => this.find[key]?key + '=' + this.find[key]:'').join('&');
            },
            closeModal() {
                this.invitationTutor = {};
            },
            totalExperience(index) {
                let start = _.first(this.tutors[index].experiences).from_date;
                let end = _.last(this.tutors[index].experiences).to_date;
                end = end ? end : this.$moment().format('YYYY-MM-DD');
                return (this.$moment(end).diff(start, 'years', true)).toFixed(2);

            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationTutor.id, true)
            }
        },

    }
</script>
