<template>
    <div class="custom_Connection_area list_connection_area">

        <h2>Connection ({{connections.length}})</h2>

        <template v-if="connections.length">
            <template v-for="(invitation, key) in connections">
                <single-invitation :invitation="invitation"></single-invitation>
            </template>
            <pagination :pagination="pagination" @paginate="invitationList()"></pagination>
        </template>

        <template v-if="!connections.length && pagination.total===0">
            <p>No connection found</p>
        </template>

    </div>
</template>

<script>
    import Navigation from "./common/Navigation";
    import Pagination from "../common/Pagination";
    import api from "../../config/api";
    import SingleInvitation from "./common/SingleInvitation";

    export default {
        components: {SingleInvitation, Pagination, Navigation},
        data() {
            return {
                connections: [],
                pagination: {current_page: 1},
                auth: window.auth,
            }
        },
        created() {
            this.invitationList();
        },
        methods: {
            invitationList() {
                axios.get(api.invitationPendingList).then(res => {
                    this.connections = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;
                })
            },
            acceptAllRequest() {
                axios.patch(api.acceptAllInvitationRequest).then(res => {
                    _.forEach(this.connections, (value, key) => {
                        this.$set(this.connections[key], 'accept', true)
                    })
                });
            },
            ignoreAllRequest() {
                axios.patch(api.ignoreAllInvitationRequest).then(res => {
                    _.forEach(this.connections, (value, key) => {
                        this.$set(this.connections[key], 'ignore', true)
                    })
                });
            }
        }
    }
</script>

