<template>
    <transition name="fade">
        <div class='education_block'>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    :min-width="320"
                    height="auto"
                    width="60%"
                    name="education_details_modal">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Update education details
                        </div>
                        <div class="float-right">
                            <i @click="close_education_details_modal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <g-alert v-if='error' alert_class="alert-danger">
                            Some error happened, Actual error will shown later
                        </g-alert>
                        <div class='row'>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='title' class='col-5 col-form-label text-md-right'>Name</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input class="form-control " type='text' v-model='education.title'
                                               v-validate="'required'"
                                               data-vv-as="grade name"
                                               name='grade_name' placeholder="A Level" id='title'/>
                                        <span class='d-block text-danger' v-show="errors.has('grade_name')">{{ errors.first('grade_name') }}</span>

                                    </div>
                                </div>

                                <div class='form-group row'>
                                    <label for='grade' class='col-5 col-form-label text-md-right'>Grade</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input v-model="education.grade"
                                               class="form-control"
                                               type='text'
                                               name='grade'
                                               placeholder="A+"
                                               v-validate="{required:'required', regex: /^[A-F]{1}[+-]?/}"
                                               id='grade'/>
                                        <span class='d-block text-danger' v-show="errors.has('grade')">{{ errors.first('grade') }}</span>
                                    </div>
                                </div>


                            </div>
                            <div class='col-md-6'>

                                <div class='form-group row'>
                                    <label for='completion_date' class='col-5 col-form-label text-md-right'>Completion
                                        date</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input v-model='education.completion_date' class="form-control" type='date'
                                               v-validate="'required|date_format:YYYY-MM-DD'"
                                               data-vv-as="completion date"
                                               name='completion_date' id='completion_date'/>
                                        <span class='d-block text-danger' v-show="errors.has('completion_date')">{{ errors.first('completion_date') }}</span>
                                    </div>
                                </div>

                                <div class='form-group row'>
                                    <label for='percentage' class='col-5 col-form-label text-md-right'>Percent
                                        Obtained</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input v-model='education.percentage'
                                               class="form-control"
                                               type='text'
                                               name='percentage'
                                               id='percentage'
                                               v-validate="{required:'required',regex: /\b(0*(?:[1-9][0-9]?|100))\b/ }"
                                               placeholder="80"/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('percentage')">{{ errors.first('percentage') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form-group row'>
                                    <label for='education_level_id' class='col-5 col-form-label text-md-right'>Education
                                        Level</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <multiselect
                                                id="education_level_id"
                                                v-model="education.education_level"
                                                :options="educationLevels"
                                                placeholder="Type or Select"
                                                tag-placeholder="append"
                                                label="title"
                                                :show-labels="false"
                                                track-by="title"
                                                :taggable="true"
                                                @tag="addNewEducationLevelAction"
                                        >
                                        </multiselect>

                                        <!--<input v-model='education.education_level_id' class="form-control" type='text'
                                               name='education_level_id' id='education_level_id'/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form-group row'>
                                    <label for="institute_id"
                                           class='col-5 col-form-label text-md-right'>School</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <multiselect
                                                id="institute_id"
                                                v-model="education.institute"
                                                :options="institutes"
                                                placeholder="Type Or Select"
                                                tag-placeholder="append"
                                                label="title"
                                                :show-labels="false"
                                                track-by="title"
                                                :taggable="true"
                                                @tag="addNewInstitute"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <button v-if="!loading" class="btn btn-warning mr-3" @click="resetForm">
                                        Reset
                                    </button>
                                    <button v-if="!loading" class="btn btn-primary" @click="post_education_details">
                                     <template v-if="education.id">Update</template>
                                     <template v-else>Save</template>
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </modal>



            <div class='card'>
                <div class='card-header'>
                    Education record
                </div>
                <div class='card-body'>

                    <div v-if="isEditable" class='d-flex justify-content-end mb-4'>
                        <button @click="open_education_details_modal" class="btn btn-primary"><i class='fa fa-plus'></i>
                        </button>
                    </div>

                    <div v-if="educations.length" class='table-responsive'>
                        <table class='table table-bordered'>
                            <tr>
                                <th>Name</th>
                                <th>Completion Date</th>
                                <th>Grade</th>
                                <th>Percentage</th>
                                <th>School</th>
                                <th>education level</th>

                                <th v-if="isEditable">action</th>
                            </tr>
                            <tr v-for="item in educations" :key="item.id">
                                <td>{{item.title}}</td>
                                <td>{{item.completion_date}}</td>
                                <td>{{item.grade}}</td>
                                <td>{{item.percentage}}</td>
                                <td>{{item.institute?item.institute.title:''}}</td>
                                <td>{{item.education_level?item.education_level.title:''}}</td>
                                <td v-if="isEditable" class="d-flex ">
                                    <button @click="edit_education_item(item.id)" class="btn btn-primary m-2"><i
                                            class='fas fa-pencil-alt'></i></button>
                                    <button @click="delete_education_item(item.id)" class="btn btn-warning m-2"><i
                                            class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        </table>
                        <!-- /.table table-bordered -->
                    </div>
                    <h2 v-if="!educations.length" class="text-center">No Education record found</h2>
                </div>
                <!-- /.card-body -->
                <!-- /.card-header -->
            </div>
        </div>
    </transition>
</template>
<script>
    import Multiselect from 'vue-multiselect'
    import api from "../../config/api";

    export default {
        components: {Multiselect},
        data() {
            let empty_model = {
                title: "",
                grade: "",
                institute_id: "",
                completion_date: "",
                percentage: "",
                education_level_id: "",
            };
            return {
                education: {...empty_model},
                empty_model,
                educations: [],
                edit_mode: false,
                edit_id: '',
                loading: false,
                success: false,
                error: false,
            }
        },
        mounted() {
            this.get_education_details();
            this.$store.dispatch('setInstituteAction');
            this.$store.dispatch('setEducationLevelAction');
        },
        methods: {
            post_education_details() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.education['institute_id'] = 0;
                        if (this.education.institute) {
                            this.education['institute_id'] = this.education.institute.id;
                        }

                        this.education['education_level_id'] = 0;
                        if (this.education.education_level) {
                            this.education['education_level_id'] = this.education.education_level.id;
                        }

                        if (this.edit_mode) {
                            this.updateEducation();
                        } else {
                            this.postEducation();
                        }
                    }
                });
            },
            updateEducation() {
                axios.put(api.educations + '/' + this.edit_id, this.education).then(response => {
                    this.loading = false;
                    this.edit_mode = false;
                    this.resetForm();
                    this.get_education_details();
                    if (response.data.error) {
                        this.error = true;
                    } else {
                        this.success = true;
                        this.close_education_details_modal();
                    }
                }).catch(error => {
                    this.loading = false;
                })

            },
            postEducation() {

                axios.post(api.educations, this.education).then(response => {
                    this.loading = false;
                    this.resetForm();
                    this.get_education_details();
                    if (response.data.error) {
                        this.error = true;
                    } else {
                        this.success = true;
                        this.close_education_details_modal();
                    }
                }).catch(error => {
                    this.loading = false;
                })

            },
            resetForm() {
                this.education = {...this.empty_model};
                this.edit_mode = false;
            },
            get_education_details() {
                axios.get(api.educations + '/' + this.$store.getters.profile_id).then(response => {
                    this.educations = response.data;
                })
            },
            delete_education_item(id) {
                axios.delete(api.educations + '/' + id).then(response => {
                    this.get_education_details();
                })
            },
            edit_education_item(id) {
                let education = this.educations.find(education => education.id === id);
                this.education = {...education};
                this.edit_mode = true;
                this.edit_id = education.id;
                this.open_education_details_modal();
            },

            open_education_details_modal() {

                this.$modal.show('education_details_modal');
            },
            close_education_details_modal() {
                this.$modal.hide('education_details_modal')
            },
            addNewInstitute(newInstitute) {
                this.$store.dispatch('addNewInstituteAction', {title: newInstitute})
            },
            addNewEducationLevelAction(newEducationLevel) {
                this.$store.dispatch('addNewEducationLevelAction', {title: newEducationLevel})
            }

        },
        computed: {
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
            },
            institutes() {
                return this.$store.getters.institutes;
            },
            educationLevels() {
                return this.$store.getters.educationLevels;
            }
        },
    }
</script>
<style>
    .multiselect__tags {
        padding: 4px 26px 0 4px;
    }
</style>
