<template>
    <section class="container">
        <div class="profile-body">
            <!-- Student & Teacher -->
            <div class="row" v-if="user.role_id!==3">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <img :src="user.avater" class="rounded-circle profile-image" alt="" height="150" width="150">
                        </div>
                        <div class="col-sm-8">
                            <h3 >{{user.name}} </h3>
                            <div  style="width:100%; height:2px; background-color:#3883b3; margin-bottom:10px;"></div>
                            <template>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p v-if="user.educations && user.educations.length">
                                            <strong>{{user.educations[0].title}}</strong><br>
                                            <span v-if="user.educations[0].institute" v-html="user.educations[0].institute.title+'<br>'"></span>
                                            Grade Year: {{user.educations[0].completion_date|moment("YYYY")}}
                                            <span v-if="user.educations[0].education_level" v-html="'<br>Level: '+user.educations[0].education_level.title"></span>
                                        </p>
                                        <!-- <a href="#" style="font-size:18px; color:#d4d4d4;"> Show More....</a> -->
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <span v-if="user.address">
                                            {{user.address.address}}, {{user.address.city}}, {{(user.address.country)?user.address.country.title:''}}
                                            <br>
                                            </span>
                                            <a :href="'mailto:'+user.email">{{user.email}}</a>
                                        </p>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" v-if="user.role_id==4">
                    <div class="gradebox gradebox-teacher"></div>
                    <div class="card card-body">
                        <h5> <strong>Licenses</strong> </h5>
                        <div class="academicBox">
                            <span v-if="user.licences && user.licences.length">
                                <h5 v-if="user.licences[0]">{{ user.licences[0].title }}</h5>
                                {{ user.licences[0].authority }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" v-else>
                    <div class="gradebox"></div>
                    <div class="card card-body">
                        <h5> <strong>Academic</strong>  Standing</h5>
                        <div class="academicBox">
                            <p v-if="user.educations && user.educations.length">
                                <span> {{ user.educations[0].grade }} </span>  Grade in {{ user.educations[0].title }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- School -->
            <div class="row" v-if="user.role_id===3">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <img :src="user.avater" class="rounded-circle profile-image" alt="" height="150" width="150">
                        </div>
                        <div class="col-sm-8">
                            <!-- <h3 v-if="user.role_id==3">{{user.name}} </h3> -->
                            <h3 v-if="user.role_id==3"><span v-if="user.institute">{{user.institute.title}}</span></h3>
                            <div style="width:100%; height:2px; background-color:#3883b3; margin-bottom:10px;"></div>
                            <template>
                                <p v-if="user.institute">
                                    <!-- <strong>{{user.institute.title}}</strong> -->
                                    <span  v-if="user.school_address && user.school_address.length">
                                        <strong> {{user.school_address[0].address}}, {{user.school_address[0].city}} ,{{(user.school_address[0].state) ?user.school_address[0].state.title+',':''}} {{(user.school_address[0].country) ?user.school_address[0].country.title:''}} </strong>
                                    </span>
                                    <br>
                                    {{ (user.institute.education_level)?user.institute.education_level.title:''}}<br>
                                    {{ user.institute.phone}}<br>
                                    <a :href="'mailto:'+user.institute.email">{{user.institute.email}}</a>
                                </p>
                                <!-- <a href="#" style="font-size:18px; color:#d4d4d4;"> Show More....</a> -->
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="gradebox gradebox-school"></div>
                    <div class="card card-body">
                        <div class="academicBox pl-3 text-left">
                            <template v-if="user.institute_author">
                                <p v-if="user.institute_author.department">
                                    <strong> {{user.institute_author.department.title}}</strong>
                                </p>
                                <p v-if="user.institute_author.institute_role">
                                    {{user.institute_author.institute_role.title}}
                                </p>
                                <p>{{user.institute_author.name}}</p>
                                <p> {{user.institute_author.phone}}, <br> {{user.institute_author.mobile}}</p>
                                <a :href="'mailto:'+user.institute_author.email">{{user.institute_author.email}}</a>
                                <!-- <a href="#" style="font-size:12px; color: rgb(56, 49, 49);"> Show More....</a> -->
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <!-- Student & Teacher -->
                    <div class="row" v-if="user.profile_options && user.profile_options.length">
                        <div class="col-sm-12">
                            <h4 class="profile-head-tag">
                                <img :src="'/images/profile_icon/user.png'" class="icon-img" alt="">
                                <strong>Background</strong>
                            </h4>
                            <div class="profile-section-box">
                                <p>
                                    <strong>Gender:</strong>
                                    <span :key="index" v-for="(pro, index) in user.profile_options">
                                    <span v-if="pro.option_key=='gender'">{{pro.option_value}}</span>
                                    </span>
                                </p>
                                <p>
                                    <strong>Age:</strong>
                                    <span :key="index" v-for="(pro, index) in user.profile_options">
                                    <span v-if="pro.option_key=='date_of_birth'">{{ birthAge(pro.option_value) }}</span>
                                    </span>
                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Student & Teacher -->
                    <div class="margin-top" v-if="user.educations && user.educations.length">
                        <h4 class="profile-head-tag"><img :src="'/images/profile_icon/education_icon.png'" class="icon-img" alt="">  <strong>Education</strong> </h4>
                        <div class="profile-section-box" >
                            <div class="mb-2 experince-box" :key="index" v-for="(edu, index) in user_education">
                                <div class="col-12 padding-left" v-if="user.role_id===4">
                                    <div v-if="edu.institute" >
                                        <span v-if="edu.education_level" class="active-color">{{edu.education_level.title}}</span>
                                        <span class="active-color"> ({{ edu.title }})</span>
                                    </div>
                                    <div v-if="edu.institute">{{edu.institute.title}}</div>
                                    <div class="active-color"><span>{{yearFormat(edu.completion_date)}}</span></div>
                                    <!-- <div>Grade: {{ edu.grade}}</div> -->
                                </div>
                                <div class="col-11 padding-left" v-else>
                                    <div v-if="edu.institute">{{ edu.title }} <span v-if="edu.education_level"><strong> {{edu.education_level.title}}</strong></span></div>
                                    <div class="active-color" v-if="edu.institute">{{edu.institute.title}}</div>
                                    <div class="color-orange"><span>{{monthFormat(edu.completion_date)}}</span></div>
                                    <div>Grade: {{ edu.grade}}</div>
                                </div>
                                <div style="border:1px dashed #d4d4d4; margin-top:20px;"></div>
                            </div>
                            <paginator-object
                                :paginable="user.educations"
                                v-on:returnpaginated="updateUserEducation"
                                ></paginator-object>
                        </div>
                    </div>
                    <!-- Teacher -->
                    <div class="margin-top" v-if="user.experiences && user.experiences.length">
                        <h4 class="profile-head-tag"><img :src="'/images/profile_icon/medal.png'" class="icon-img" alt=""> <strong> Experience </strong> </h4>
                        <div class="profile-section-box">
                            <div class="mb-2 experince-box" :key="index" v-for="(exp, index) in user_experince">
                                <div class="ml-2">
                                    <h6> <strong class="active-color" >{{exp.title}}</strong> </h6>
                                    <h6 v-if="exp.institute">{{exp.institute.title}}</h6>
                                    <h6>({{ diffYears(exp.to_date, exp.from_date) }}) {{ (exp.continue>0)?'Presently working here':'' }}</h6>
                                </div>
                                <div style="border:1px dashed #d4d4d4; margin-top:20px;"></div>
                            </div>
                            <paginator-object
                                :paginable="user.experiences"
                                v-on:returnpaginated="updateexperince"
                                ></paginator-object>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <!-- Student -->
                    <div v-if="user.ielts && user.ielts.length">
                        <h4 class="profile-head-tag">
                            <img :src="'/images/profile_icon/ielts.png'" class="icon-img" alt="">
                            <strong>IELTS</strong>  and  <strong>TOFEL</strong>
                        </h4>
                        <div class="profile-section-box" :key="index" v-for="(ilt, index) in user.ielts">
                            <p v-if="ilt.exam_level"><strong>{{ilt.exam_level.title}}</strong></p>
                            <p class="color-blue">Taken On: <span>{{localTime(ilt.taken_on)}}</span></p>
                            <p class="color-orange">Score: {{ilt.score}}</p>
                            <p>Grade: {{ilt.grade}}</p>
                            <p>

                            </p>
                        </div>
                    </div>
                    <!-- Student -->
                    <div class="margin-top"  v-if="user.interests && user.interests.length">
                        <h4 class="profile-head-tag"><img :src="'/images/profile_icon/heart.png'" class="icon-img" alt=""> Major or <strong>Career Interests</strong> </h4>
                        <div class="profile-section-box" :key="index" v-for="(int, index) in user.interests">
                            <strong>{{int.title}}</strong>
                        </div>
                    </div>
                    <!-- Teacher -->
                    <div class="margin-top" v-if="user.courses && user.courses.length">
                        <h4 class="profile-head-tag">  <img :src="'/images/profile_icon/course_icon.png'" class="icon-img" alt="">  <strong> Course</strong> </h4>
                        <div class="profile-section-box">
                            <div class="mb-2 experince-box" :key="index" v-for="(cors, index) in user.courses">
                                <div class="pl-2">
                                    <div><strong  class="active-color" >{{cors.title}}</strong> <span style="color:white !important" class="float-right badge badge-warning  p-2 m-2 rounded" v-if="cors.fee">({{cors.fee}})</span></div>
                                    <!-- <div v-if="cors.education_level">{{cors.education_level.title}}</div> -->
                                    <div class="color-blue" v-if="cors.starting_date">Staring date: {{dateFormat(cors.starting_date)}}</div>
                                    <!-- <a href="#" style="font-size:18px; color:#d4d4d4;"> Show More....</a> -->
                                    <div class="clear">&nbsp;</div>
                                    <div class="mb-3">
                                      {{ strLimit(cors.description)[0]}}
                                    <a v-if="strLimit(cors.description).length>1"
                                  style="font-size:12px; color:#d4d4d4;"
                                  data-toggle="collapse"
                                  @click="showMore(index)" :class="{'d-none': activePosition===index}">
                                  ...Show More
                                  </a>
                                <div class="collapse" :class="{show: activePosition===index}">
                                    {{ strLimit(cors.description)[1] }}
                                </div>

                                    </div>
                                    <div class="row" v-if="cors.service_modes && cors.service_modes.length">
                                        <div class="float-left" style="margin: 0 15px;"><strong>Services:</strong></div>
                                        <div class="float-left" style="margin-right: 15px;" :key="index" v-for="(mod, index) in cors.service_modes">
                                            <strong class="bg-light p-2">
                                                <!-- <i v-if="mod.mode=='home'" class="fa fa-home"></i>
                                                    <i v-else-if="mod.mode=='tuition'" class="fa fa-chalkboard-teacher"></i>
                                                    <i v-else-if="mod.mode=='remote'" class="fa fa-map-marker-alt"></i> -->
                                                {{mod.mode}}
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                                <div style="border:1px dashed #d4d4d4; margin-top:20px;"></div>
                            </div>
                            <paginator-object
                                :paginable="user.courses"
                                v-on:returnpaginated="updateuserCourse"
                                ></paginator-object>
                        </div>
                    </div>
                </div>
            </div>
            <!-- School -->
            <div class="row margin-top" v-if="user.institute">
                <div class="col-sm-12" v-if="user.institute.programs && user.institute.programs.length">
                    <h4 class="profile-head-tag"><img :src="'/images/profile_icon/course_icon.png'" class="icon-img" alt=""> <strong> Course</strong> </h4>
                    <div class="profile-section-box" >
                        <div class="mb-2" :key="index" v-for="(prog, index) in school_courses">
                            <div class="ml-3">
                                <div><strong class="active-color" style="font-size:18px;">{{prog.title}}</strong> <span style="color:white !important" class="float-right badge badge-warning text-white p-2 rounded" v-if="prog.fee_int > 0">({{prog.fee}})</span></div>
                                <!-- <div v-if="prog.education_level">{{prog.education_level.title}}</div> -->
                                <!-- <div>{{(prog.address)?prog.address.address:''}}</div> -->
                                <div class="color-blue" v-if="prog.admission_date">Admission On: {{dateFormat(prog.admission_date)}}</div>
                            </div>
                            <div class="clear">&nbsp;</div>
                            <div class="bg-light ml-2 p-3">
                                {{ strLimit(prog.description)[0]}}
                                <a v-if="strLimit(prog.description).length>1"
                                  style="font-size:12px; color:#d4d4d4;"
                                  data-toggle="collapse"
                                  @click="showMore(index)" :class="{hide: activePosition===index}">
                                  ...Show More
                                  </a>
                                <div class="collapse"  :class="{show: activePosition===index}" >
                                    {{ strLimit(prog.description)[1] }}
                                </div>
                            </div>
                            <div class="row" v-if="prog.service_modes && prog.service_modes.length">
                                <div class="col-6" :key="index" v-for="(mod, index) in prog.service_modes">
                                    <strong>{{mod.mode}}</strong>
                                </div>
                            </div>
                            <div style="border:1px dotted #d4d4d4; margin-top:20px;"></div>
                        </div>
                        <paginator-object
                            :paginable="user.institute.programs"
                            v-on:returnpaginated="updateuserinprogram"
                            ></paginator-object>
                    </div>
                </div>
            </div>
            <!-- School -->
            <div class="row margin-top" v-if="user.school_address && user.school_address.length">
                <div class="col-sm-12">
                    <h4 class="profile-head-tag"><i class="fa fa-home"></i> Branch</h4>
                    <div class="profile-section-box" :key="index" v-for="(add, index) in user.school_address">
                        <p class="padding-left">
                            {{add.address}}, {{add.city}} {{(add.country)?', '+add.country.title:''}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from "../../config/api";
    import jsMoment from 'moment';
    import PaginatorObject from '../common/PaginatorObject'

    export default {
        name: "PublicProfile",
        data() {
            return {
                APP_URL: window.APP_URL,
                auth: window.auth,
                user: {},
                user_experince:[],
                school_courses:[],
                user_course:[],
                user_education:[],
                activePosition : undefined
            }
        },
        components:{
          PaginatorObject
        },
        created() {
            this.userDetails();
        },
        methods: {
          showMore(index)
          {
                this.activePosition = index;
          },
            strLimit(input, limit = 5) {
               let wordlength =  input.split(" ");
               return wordlength.length >= limit ?
               [
                 wordlength.slice(0, limit).join(" "),
                 wordlength.slice(limit,input.length).join(" "),
                 true
               ]
               :[input];

            },
            localTime(create) {
                return this.$moment.utc(create).local().fromNow();
            },
            birthAge(value) {
                return jsMoment().diff(value, 'years') === 0 ? "Not Set" : jsMoment().diff(value, 'years');
            },
            dateFormat(value) {
              return jsMoment(String(value)).format('DD/MMM/YYYY');
            },
            monthFormat(value) {
              return jsMoment(String(value)).format('MMM/YYYY');
            },
            yearFormat(value) {
              return jsMoment(String(value)).format('YYYY');
            },
            diffYears(bigDate, smallDate) {
              console.log(bigDate);
              bigDate = (bigDate!=null)?jsMoment(String(bigDate)):jsMoment();
              let year = bigDate.diff(jsMoment(String(smallDate)), 'years', true).toFixed(1);

              let yearArr = year.split('.')

              var exp = '';

              if (yearArr[0]>0) {
                exp += yearArr[0]+' Year';
                exp += (yearArr[0]>1)?'s':'';
                if (yearArr[1]>0) {
                  exp += ' And ';
                  exp += yearArr[1]+' month';
                  exp += (yearArr[1]>1)?'s':'';
                }
              } else {
                exp += yearArr[1]+' month';
                exp += (yearArr[1]>1)?'s':'';
              }
              return exp;
            },
            userDetails() {
                axios.get(api.userPublicProfile + this.auth.user_name)
                    .then(res => {
                        this.user = res.data;
                    })
            },
            updateexperince(userExperience)
            {
              console.log(userExperience);
              this.user_experince = userExperience;
            },
            updateuserinprogram(instituteprograms)
            {
              console.log(instituteprograms);
              this.school_courses = instituteprograms;
            },
            updateuserCourse(courses){
              this.user_course = courses;
            },
            updateUserEducation(educations)
            {
              this.user_education = educations;
            }
        },
        // computed: {
        //     auth() {
        //         return this.$store.getters.authUser;
        //     }

        // }
    }
</script>


<style scoped>

  h1, h2,h3,h4,h5,h6,p,strong,span{
    color: #606060 !important;
  }

/*--------------------------------------------
    style for right side grade box student
---------------------------------------------*/
  .profile-body .academicBox{
      background: #e9e9ef;
      color: #010101;
      padding: 2px 10px;
      text-align: center;
      position: relative;
    }
    .academicBox>p{
      margin: 0px;
      padding: 0px;
    }
    .academicBox>p>span{
      font-size: 26px;
      color: #f28f3a;
    }
    .profile-body .academicBox::before{
      content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 5px solid #f28f3a;
    border-radius: 3px 0 0 3px;
    }
    .gradebox{
        border: 5px solid #f28f3a;
        width: 100%;
        border-radius: 7px 7px 0px 0px;
        position: relative;
    }

    .gradebox::before{

             content: url(/images/profile_icon/bookmark.png);
             position: absolute;
            -webkit-transform: scale(.4) translate(-78%, -107%);
            transform: scale(.4) translate(-78%, -107%);
            z-index: 10;

    }
    .gradebox-school::before{

                content: url(/images/profile_icon/admin.png);
                position: absolute;
                -webkit-transform: scale(.2) translate(-236%, -204%);
                transform: scale(.3) translate(-105%, -168%);
                z-index: 10;

    }
    .gradebox-teacher::before{

            content: url(/images/profile_icon/badge.png);
          position: absolute;
          -webkit-transform: scale(.2) translate(-236%, -204%);
          transform: scale(.2) translate(-178%, -247%);
          z-index: 10;

    }

/*--------------------------------------------
    style for  student profile section
---------------------------------------------*/
    .profile-section-box{
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background: linear-gradient(white, white);
    position: relative;
    box-shadow: 3px 3px 6px 2px #dde2e6;
    }
    .profile-section-box>p{
      padding: 0px;
      margin: 6px;
    }
    .profile-section-box::before{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      border-left: 5px solid #f28f3a;
      height: 100%;
      border-radius: 3px 0px 0px 3px;
    }
    .profile-head-tag{
      color: #0065a7 !important;
      text-transform: uppercase;
      }
    .profile-head-tag strong{
      color: #0065a7 !important;
      text-transform: uppercase;
      }
    .profile-head-tag>i{
      color: #0065a6ab;

      }
      .active-color{
        color:#0f517b;
      }


/*--------------------------------------------
    style for  Teacher profile section
---------------------------------------------*/
      .experince-box{
        cursor: pointer;
      }
      .experince-box:hover{
        background-color: #d4d4d48f;
      }

      .icon-img{
        width: 39px;
         height: auto;
      }




</style>

